﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .alertMessage {
        display: none;
        height: 30px;
    }
</style>


<div id="success" class="alert-success alertMessage ">
    <p> تم التحديث </p>

</div>
<div id="error" class="alert-danger alertMessage ">

    <p>  يوجد مشكلة فى التحديث </p>

</div>
<div class="panel panel-primary" style="margin-top:30px;">
    <div class="panel-heading">تحديث قاعدة البيانات</div>
    <div class="panel-body" style="height:470px;">
        <div class="panel panel-success">
            <div class="panel-heading">خطوات استخراج ملف قاعدة البيانات من القاعدة المحمية</div>
            <div class="panel-body">
                <h4>1- نقوم إنشاء ملف اكسس خالى بامتداد accdb</h4>
                <h4>2- من تبويب بيانات خارجية نختار access</h4>
                <h4>3- سوف تظهر شاشة الاسترداد نقوم بتحديد مسار قاعدة البيانات المحمية</h4>
                <h4>4- بعد الضغط على موافق سوف يظهر مربع اشعار الامان نقوم بالضغط على فتح</h4>
                <h4>5- بعد ذلك نختار تحديد الكل لتحديد جميع الجداول</h4>
                <h4>6- ثم نقوم بالضغط على موافق ونحفظ الملف </h4>
                <h4>7- لرفع الملف نضغط على ملف ثم نحدد الملف الذى قمنا بانشائة قم نضغط على رفع </h4>
            </div>

        </div>


        <form action="" method="post" enctype="multipart/form-data">


            <input type="file" name="file" id="file" class="form-control" />
            <div class="row" style="margin-top:50px;">
                <input type="submit" value="رفع" class="btn btn-success col-md-5" style="margin-right: 50px;" />



                @Html.ActionLink("تحديث قاعدة البيانات", "UpdateDB", "UpdateDB", new { @class = "btn btn-primary col-md-4" })
                @Html.ActionLink("تحديث كلمات المرور", "UpdatePassword", "UpdateDB", new { @class = "btn btn-warning col-md-4" })
            </div>
        </form>

    </div>
</div>


@section scripts{
    <script>
        $(function () {
            showMessage();
            function showMessage() {
                var success = @((TempData["success"] != null).ToString().ToLower());
                var error = @((TempData["error"] != null).ToString().ToLower());
                if (success == true) {
                    $("#success").show(1000).fadeOut(10000);
                } else if (error == true) {
                    $("#error").fadeIn(1000).show(3000).fadeOut(3000);
                }

            }



        });

    </script>

}