﻿@model qortuba.Models.students
@using qortuba.Models


@{
    ViewBag.Title = "قبول طالب";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>

    .selectD {
        height: 30px;
        width: 100%;
        border-radius: 5px;
        box-shadow: inset 0 0 5px 2px #4cc33d;
    }

    .pimg {
        text-align: center;
        box-shadow: 0 0 10px 2px black;
        font-size: 15px;
    }

    .dvtitle {
    }

    .dvimg {
        height: 300px;
    }

    .dvt {
        background-color: azure;
    }
    .mr{
        margin: 1px 27px;
    }
</style>
<div class="titleBody">
    <label class="lbl-nav"><a href="">قبول طالب</a></label>

</div>
@if (ViewBag.state == 2)
{
    <div class="alert alert-success" role="alert">تم الحفظ بنجاح</div>

}


@using (Html.BeginForm("AcceptanceStd", "Acceptance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-inline ">

        <hr />
        <label class="text-danger">@ViewBag.error</label>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @*  first row*@
        <div class="panel panel-primary">
            <div class="panel-heading">بيانات الطلب</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span style="font-weight: bold;">اسم المدرسة /</span>
                            <span style="font-weight: bold;color:blue;">@Model.sname</span>
                        </td>
                        <td>
                            <span style="font-weight: bold;">الصف /</span>
                            <span style="font-weight: bold;color:blue;">@Model.rowName</span>
                        </td>
                        <td>
                            <p style="font-weight: bold;display:inline-block;">حالة الطالب</p>
                            <select class="selectD " style="width: 150px;" >
                                @{
                                    string chk1 = "";
                                    string chk2 = "";
                                    string chk3 = "";
                                    if (Model.acceptS == 1)
                                    {
                                        chk1 = "selected";
                                    }
                                    else if (Model.acceptS == 2) { chk2 = "selected"; }
                                    else if (Model.acceptS == 3) { chk3 = "selected"; }
                                }
                                <option value="1" @chk1>منقول</option>
                                <option value="2" @chk2>مستجد</option>
                                <option value="3" @chk3>محول</option>
                            </select>

                        </td>
                    </tr>
                </table>
                <input id="id" name="id" value="@Model.id" type="hidden" />
                <input id="schid" name="schid" value="@Model.schid" type="hidden" />
                <input id="srow" name="srow" value="@Model.srow" type="hidden" />

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">بيانات الطالب</div>
            <div class="panel-body">
                <div class="form-group row col-md-12 ">
                    @Html.Label("", "اسم الطالب", htmlAttributes: new { @class = "col-sm-2 " })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.sname1, new { htmlAttributes = new { @class = "form-control nam mr", placeholder = "الاسم الاول", @readonly = "readonly" } })
                        @Html.EditorFor(model => model.sname2, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثانى", @readonly = "readonly" } })
                        @Html.EditorFor(model => model.sname3, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثالث", @readonly = "readonly" } })
                        @Html.EditorFor(model => model.fname4, new { htmlAttributes = new { @class = "form-control nam", placeholder = "اسم العائلة", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row col-md-4">
                    @Html.Label("", "السجل المدنى للطالب", htmlAttributes: new { @class = "col-sm-5 " })
                    <div class="col-sm-7">
                        @Html.EditorFor(model => model.sid, new { htmlAttributes = new { @class = "form-control", required = "required", minlength = "10", maxlength = "10", @readonly = "readonly" } })

                    </div>

                </div>
                <div class="form-group row col-md-8 ">
                    @Html.Label("", "المدرسة السابقة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("oldSchid", null, "-- لم يتم التحديد --", htmlAttributes: new { @class = "form-control", style = "font-size: 13px;", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group row col-md-4 ">
                    @Html.Label("", "الجنسية", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("nat", null, "-- لم يتم التحديد --", htmlAttributes: new { @class = "form-control", style = "font-size: 13px;", @readonly = "readonly" })
                    </div>
                </div>



            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">بيانات ولى الامر</div>
            <div class="panel-body">
                <div class="form-group row col-md-12 ">
                    @Html.Label("", "اسم ولى الامر", htmlAttributes: new { @class = "col-sm-2 " })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.fname1, new { htmlAttributes = new { @class = "form-control nam mr", placeholder = "الاسم الاول", @readonly = "readonly" } })
                        @Html.EditorFor(model => model.fname2, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثانى", @readonly = "readonly" } })
                        @Html.EditorFor(model => model.fname3, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثالث", @readonly = "readonly" } })
                        @Html.EditorFor(model => model.fname4, new { htmlAttributes = new { @class = "form-control nam", placeholder = "اسم العائلة", @readonly = "readonly" } })

                    </div>
                </div>
                <div class="form-group row col-md-4">
                    @Html.Label("", "السجل المدنى لولى الامر", htmlAttributes: new { @class = "col-sm-5 " })
                    <div class="col-sm-7">
                        @Html.EditorFor(model => model.fid, new { htmlAttributes = new { @class = "form-control", minlength = "10", maxlength = "10", @readonly = "readonly" } })

                    </div>

                </div>
                <div class="form-group row col-md-8 ">
                    @Html.Label("","الجوال", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.mob, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "966550000000", maxlength = "12", minlength = "12", @readonly = "readonly" } })

                    </div>
                </div>

                @*  2 row*@



            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">المرفقات</div>
            <div class="panel-body">
                <div>
                    <div class="col-sm-6 dvimg">
                        <div style="height:20px;" class="dvt"><p class="pimg">الشهادة السابقة</p></div>
                        <div style="height:240px;">
                            @{
                                if (Model.oldCert == null || Model.oldCert == "")
                                {
                                    <a href="http://www.google.com" target="_blank"> <img src="~/images/logo1.jpg" style="height:80px; margin: 50px auto;height: 90px;display: block;" /></a>

                                }
                                else
                                {

                                    string str = Model.oldCert;
                                    int str1 = str.LastIndexOf('.') + 1;
                                    int end1 = str.Length;
                                    int coun = end1 - str1;
                                    string stt = str.Substring(str1, coun);
                                    if (stt.ToLower() == "jpg" || stt.ToLower() == "jpeg" || stt.ToLower() == "png")
                                    {
                                        string lnk = "../../Upload/oldCert/" + Model.schid + "/" + Model.oldCert;
                                        <a href="@lnk" target="_blank">
                                            <img src="@lnk" style="margin: 10px auto;height: 100%;width:100%;display: block;" />
                                        </a>
                                    }
                                    else if (stt.ToLower() == "pdf")
                                    {
                                        string lik = "../../Upload/oldCert/" + Model.schid + "/" + Model.oldCert;
                                        <embed src="@lik" type="application/pdf" style="margin: 5px auto;height: 100%;width:100%;display: block;">
                                        <div style="background-color:beige;text-align:center;margin-bottom:10px;">
                                            <a href="@lik" target="_blank" style="font-weight:bold;">تصفح</a>
                                        </div>
                                    }
                                }
                            }

                        </div>

                    </div>
                    <div class="col-sm-6 dvimg">
                        <div style="height:20px;" class="dvt"><p class="pimg">سجل الاسرة</p></div>
                        <div style="height:240px;">
                            @{
                                if (Model.familyCert == null || Model.familyCert == "")
                                {

                                    <img src="~/images/logo1.jpg" style="height:80px; margin: 50px auto;height: 90px;display: block;" />


                                }
                                else
                                {

                                    string str = Model.familyCert;
                                    int str1 = str.LastIndexOf('.') + 1;
                                    int end1 = str.Length;
                                    int coun = end1 - str1;
                                    string stt = str.Substring(str1, coun);
                                    if (stt.ToLower() == "jpg" || stt.ToLower() == "jpeg" || stt.ToLower() == "png")
                                    {
                                        string lnk = "../../Upload/familyCert/" + Model.schid + "/" + Model.familyCert;
                                        <a href="@lnk" target="_blank">
                                            <img src="@lnk" style="margin: 10px auto;height: 100%;width:100%;display: block;" />
                                        </a>
                                    }
                                    else if (stt.ToLower() == "pdf")
                                    {
                                        string lik = "../../Upload/familyCert/" + Model.schid + "/" + Model.familyCert;
                                        <embed src="@lik" type="application/pdf" style="margin: 5px auto;height: 100%;width:100%;display: block;">
                                        <div style="background-color:beige;text-align:center;margin-bottom:10px;">
                                            <a href="@lik" target="_blank" style="font-weight:bold;">تصفح</a>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-sm-6 dvimg">
                        <div style="height:20px;background-color:azure;" class="dvt"><p class="pimg">إثبات السكن</p></div>
                        <div style="height:240px;">
                            @{
                                if (Model.homeCert == null || Model.homeCert == "")
                                {

                                    <img src="~/images/logo1.jpg" style="height:80px; margin: 50px auto;height: 90px;display: block;" />


                                }
                                else
                                {


                                    string str = Model.homeCert;
                                    int str1 = str.LastIndexOf('.') + 1;
                                    int end1 = str.Length;
                                    int coun = end1 - str1;
                                    string stt = str.Substring(str1, coun);
                                    if (stt.ToLower() == "jpg" || stt.ToLower() == "jpeg" || stt.ToLower() == "png")
                                    {
                                        string lnk = "../../Upload/homeCert/" + Model.schid + "/" + Model.homeCert;
                                        <a href="@lnk" target="_blank">
                                            <img src="@lnk" style="margin: 10px auto;height: 100%;width:100%;display: block;" />
                                        </a>
                                    }
                                    else if (stt.ToLower() == "pdf")
                                    {
                                        string lik = "../../Upload/homeCert/" + Model.schid + "/" + Model.homeCert;
                                        <embed src="@lik" type="application/pdf" style="margin: 5px auto;height: 100%;width:100%;display: block;">
                                        <div style="background-color:beige;text-align:center;margin-bottom:10px;">
                                            <a href="@lik" target="_blank" style="font-weight:bold;">تصفح</a>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>
                    <div class="col-sm-6 dvimg">
                        <div style="height:20px;" class="dvt"><p class="pimg">إثبات الرعاية</p></div>
                        <div style="height:240px;">
                            @{
                                if (Model.care == null || Model.care == "")
                                {
                                    <img src="~/images/logo1.jpg" style="height:80px; margin: 50px auto;height: 90px;display: block;" />

                                }
                                else
                                {

                                    string str = Model.care;
                                    int str1 = str.LastIndexOf('.') + 1;
                                    int end1 = str.Length;
                                    int coun = end1 - str1;
                                    string stt = str.Substring(str1, coun);
                                    if (stt.ToLower() == "jpg" || stt.ToLower() == "jpeg" || stt.ToLower() == "png")
                                    {
                                        string lnk = "../../Upload/care/" + Model.schid + "/" + Model.care;
                                        <a href="@lnk" target="_blank">
                                            <img src="@lnk" style="margin: 10px auto;height: 100%;width:100%;display: block;" />
                                        </a>
                                    }
                                    else if (stt.ToLower() == "pdf")
                                    {
                                        string lik = "../../Upload/care/" + Model.schid + "/" + Model.care;
                                        <embed src="@lik" type="application/pdf" style="margin: 5px auto;height: 100%;width:100%;display: block;">
                                        <div style="background-color:beige;text-align:center;margin-bottom:10px;">
                                            <a href="@lik" target="_blank" style="font-weight:bold;">تصفح</a>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-sm-6 dvimg">
                        <div style="height:20px;background-color:azure;" class="dvt"><p class="pimg">نموذج التحويل</p></div>
                        <div style="height:240px;">
                            @{
                                if (Model.transfare == null || Model.transfare == "")
                                {

                                    <img src="~/images/logo1.jpg" style="height:80px; margin: 50px auto;height: 90px;display: block;" />


                                }
                                else
                                {


                                    string str = Model.transfare;
                                    int str1 = str.LastIndexOf('.') + 1;
                                    int end1 = str.Length;
                                    int coun = end1 - str1;
                                    string stt = str.Substring(str1, coun);
                                    if (stt.ToLower() == "jpg" || stt.ToLower() == "jpeg" || stt.ToLower() == "png")
                                    {
                                        string lnk = "../../Upload/transfare/" + Model.schid + "/" + Model.transfare;
                                        <a href="@lnk" target="_blank">
                                            <img src="@lnk" style="margin: 10px auto;height: 100%;width:100%;display: block;" />
                                        </a>
                                    }
                                    else if (stt.ToLower() == "pdf")
                                    {
                                        string lik = "../../Upload/transfare/" + Model.schid + "/" + Model.transfare;
                                        <embed src="@lik" type="application/pdf" style="margin: 5px auto;height: 100%;width:100%;display: block;">
                                        <div style="background-color:beige;text-align:center;margin-bottom:10px;">
                                            <a href="@lik" target="_blank" style="font-weight:bold;">تصفح</a>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">الموقف من القبول</div>
            <div class="panel-body">
                <div>
                    <p style="display:inline-block;">تاريخ الطلب : </p>
                    @Html.EditorFor(model => model.dateA, new { htmlAttributes = new { @class = "form-control mr", @readonly = "readonly" } })


                </div>
                <div>
                    <p style="display:inline-block;">تحديد حالة الطلب</p>
                    @{
                        if (ViewBag.Rolee != null)
                        {
                            if (ViewBag.Rolee == 3)
                            {
                                @Html.DropDownList("Sstate", null, htmlAttributes: new
                                {
                                    @class = "form-control",
                                    style = " height: 50px; " +
                   " background-color: aliceblue; " +
                   " font-weight: bold; " +
                   " font-size: 15px;"
                                });

                            }
                            else
                            {
                                if (ViewBag.change != null)
                                {
                                    if (ViewBag.change == 1)
                                    {
                                        @Html.DropDownList("Sstate", null, htmlAttributes: new
                                        {
                                            @class = "form-control",
                                            style = " height: 50px; " +
                 " background-color: aliceblue; " +
                 " font-weight: bold; " +
                 " font-size: 15px;",
                                            @disabled = "disabled"
                                        });
                                        <p class="alert-danger"> عفواً .. لن تتمكن من تغير حالة الطلب يجب مراجعة مدير النظام</p>
                                    }
                                    else
                                    {
                                        @Html.DropDownList("Sstate", null, htmlAttributes: new
                               {
                                   @class = "form-control",
                                   style = " height: 50px; " +
                  " background-color: aliceblue; " +
                  " font-weight: bold; " +
                  " font-size: 15px;",
                               });
                                        <p class="alert-warning"> عفواً .. لن تتمكن من تغير حالة الطلب بعد الحفظ</p>

                                    }


                                }

                            }


                        }

                    }

                    <div id="wt" class="alert alert-warning" role="alert" style="display:none;">
                        <p style="display:inline-block;color:#524c28;">ملحوظة .. سوف يتم نقل الطالب الى قائمة الانتظار </p>
                    </div>
                    <div id="emt" class="alert alert-danger" role="alert" style="display:none;">
                        <p style="display:inline-block;color:#524c28;">ملحوظة .. سوف يتم حذف الطالب لعدم وجود مقعد شاغر </p>
                    </div>
                    <div id="nts" class="alert alert-danger" role="alert" style="display:none;">
                        <p style="display:inline-block;color:#524c28;">ملحوظة .. سوف يتم حذف الطالب لوجود ملاحظات على نظامية التسجيل </p>
                    </div>
                    <div id="notss" style="display:none;">
                        <p style="display:inline-block;color:darkred;">ملاحظات</p>
                        <textarea class="form-control" rows="5" id="notess" name="notess" style="margin-right:45px;">
</textarea>
                    </div>
                </div>

            </div>
        </div>


        <div class="form-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-success" />
                @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>





}
@section scripts{
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            var elements = document.getElementsByTagName("INPUT");
            for (var i = 0; i < elements.length; i++) {
                elements[i].oninvalid = function (e) {
                    e.target.setCustomValidity("");
                    if (!e.target.validity.valid) {
                        e.target.setCustomValidity("لا يجوز ترك الحقل خالى");
                    }
                };
                elements[i].oninput = function (e) {
                    e.target.setCustomValidity("");
                };
            }
        })

        $(function () {
            $('input[type=file]').change(function () {
                var val = $(this).val().toLowerCase(),
                    regex = new RegExp("(.*?)\.(png|jpg|jpeg|pdf)$");

                if (!(regex.test(val))) {
                    $(this).val('');
                    alert('من فضلك يجب ان يكون امتداد الملف (png|jpg|jpeg|pdf)');
                }
                if (this.files[0].size > 16777216) {
                    alert("يجب ان يكون حجم الملف اقل من 16 ميجا");
                }
            });
        });

        $('#Sstate').change(function () {
            var txt = $(this).val();
            if (txt == '1002') {
                $('#nts').css('display', 'block');
                $('#notss').css('display', 'block');
            } else if (txt == '1') {
                 $('#notss').css('display', 'none');
                $('#nts').css('display', 'none');
                $('#emt').css('display', 'none');
                $('#wt').css('display', 'none');


            } else if (txt == '2') {
                  $('#notss').css('display', 'none');
                $('#nts').css('display', 'none');
                $('#emt').css('display', 'none');
                $('#wt').css('display', 'block');
            } else if (txt == '3') {

                $('#notss').css('display', 'none');
                $('#nts').css('display', 'none');
                $('#emt').css('display', 'block');
                $('#wt').css('display', 'none');
            }
            else {
                $('#notss').css('display', 'none');
                $('#nts').css('display', 'none');
                $('#emt').css('display', 'none');
                $('#wt').css('display', 'none');
            }
            



        });

// function idMsg(textbox) {

//    if (textbox.value == '') {
//        textbox.setCustomValidity('الحقل خاالى ');
//    }
//    else if (textbox.value.lenght != 10) {
//        textbox.setCustomValidity('رقم السجل المدنى مكون من 10 ارقام ');
//    }
//    else {
//        textbox.setCustomValidity('');
//    }
//    return true;
//}

    </script>

}

