﻿@model IEnumerable<qortuba.Models.studentsWait>

@{
    ViewBag.Title = "قبول طلاب الانتظار";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .dis {
        display: none;
        visibility: hidden;
    }
</style>

@if (ViewBag.state == 2)
{
    <div class="alert alert-warning" role="alert">تم نقل الطالب الى قائمة الانتظار</div>

}
@if (ViewBag.state == 3)
{
    <div class="alert alert-danger" role="alert">تم حذف الطالب من قائمة التسجيل والقبول لعدم وجود مقعد شاغر</div>

}
@if (ViewBag.state == 4)
{
    <div class="alert alert-danger" role="alert">تم حذف الطالب من قائمة التسجيل والقبول حيث يوجد اخطاء فى نظامية التسجيل</div>

}





<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">قبول الطلاب</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>



                                            <th style="background-color:#c8f1c3">كود الطلب</th>
                                            <th style="background-color:#c8f1c3">اسم الطالب </th>
                                            <th style="background-color:#c8f1c3">سجل الطالب </th>
                                            <th style="background-color:#c8f1c3"> اسم ولى الامر</th>
                                            <th style="background-color:#c8f1c3">سجل ولى الامر </th>
                                            <th style="background-color:#c8f1c3"> المدرسة السابقة</th>
                                            <th style="background-color:#c8f1c3">الصف </th>
                                            <th style="background-color:#c8f1c3"> رقم الموبايل</th>
                                            <th style="background-color:#c8f1c3">حالة الطلب </th>


                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr class="gradeX">
                                            <td>@item.id</td>
                                            <td>@item.sname1</td>
                                            <td>@item.sid</td>
                                            <td>@item.fname1</td>
                                            <td>@item.fid</td>
                                            <td>@item.sname</td>
                                            <td>@item.rowName</td>
                                            <td>@item.mob</td>
                                            <td>@item.sname2</td>



                                            <td>@Html.ActionLink("عرض الطلب ", "AcceptanceApproveWait", new { id = item.id }, new { @class = "btn btn-warning", id = item.id, alt = item.id })</td>


                                        </tr>
                                                    }
                                        /**/

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>