﻿@model qortuba.Models.TSchools

@{
    ViewBag.Title = "إضافة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TSchools/Index">المدارس</a> >إضافة مدرسة</label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .sel {
        pointer-events: none;
    }
</style>
<label class="text-danger">@ViewBag.error</label>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline ">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*  first row*@


        <div class="form-group row col-md-4">
            @Html.Label("", "الرقم الوزارى", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control", required = "required"} })
                @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "المدرسة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "المركز القديم", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.OldCenter, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.OldCenter, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "الاسم القديم", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.OldName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OldName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-sm-4">
            @Html.Label("", "الدائرة التعليمية", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.circleEd, new { htmlAttributes = new { @class = "form-control circleEd ", placeholder = "", required = "required", @style = "width: 37px;" } })
                @Html.EditorFor(model => model.circleEd2, new { htmlAttributes = new { @class = "form-control circleEd", placeholder = "", required = "required", @style = "width: 37px;" } })
                @Html.EditorFor(model => model.circleEd3, new { htmlAttributes = new { @class = "form-control circleEd", placeholder = "", required = "required", @style = "width: 37px;" } })
                @Html.EditorFor(model => model.circleEd4, new { htmlAttributes = new { @class = "form-control circleEd", placeholder = "", required = "required", @style = "width: 37px;" } })
                @Html.ValidationMessageFor(model => model.circleEd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "الموقع", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
            </div>
        </div>

        @*  2 row*@

        <div class="form-group row col-md-4">
            @Html.Label("", "المستوى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("LevelNo", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", onchange = "pupaddrow()" })
                @Html.ValidationMessageFor(model => model.LevelNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4 ">
            @Html.Label("", "يمكن الاكمال", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("finalize", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.finalize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "الفاكس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.FAx, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.FAx, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "المكتب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Center", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Center, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "مستقلة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Common", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Common, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "البريد الالكترونى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "المحافظة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("area", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group row col-md-4">
            @Html.Label("", "مضمومة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Backswept", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Backswept, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "المدينة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "الخطة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("SchType", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.SchType, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "محدثة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("created", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.created, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "الشارع", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.street, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.street, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "نوع التعليم", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Tuition", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Tuition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "المبنى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Build", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Build, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "الحى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Liver", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Liver, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "خارج الرياض", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Out", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Out, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "حالة المبنى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("CadE_door", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.CadE_door, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "بعدها عن الادارة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "سنة التأسيس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.FDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.FDate, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group row col-md-4">
            @Html.Label("", "نوع المدرسة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("AfterNoon", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.AfterNoon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "مساحة الفصل", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.dismiss, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.dismiss, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "صحراء", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("desert", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.desert, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4 ">
            @Html.Label("", "مرغوبة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("kind_SCH", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kind_SCH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "الهاتف", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="bcolor1">
            <div class="form-group row col-md-4">
                @Html.Label("", "اقرب ابتدائية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.NearerSH1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NearerSH1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "بعدها", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Space1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Space1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "الطريق", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.DropDownList("Varway1", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Varway1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "اقرب متوسطة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.NearerSH2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NearerSH2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "بعدها", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Space2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Space2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "الطريق", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.DropDownList("Varway2", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Varway2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "اقرب ثانوية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.NearerSH3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NearerSH3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "بعدها", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Space3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Space3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "الطريق", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.DropDownList("Varway3", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Varway3, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="bcolor">
            <div class="form-group row col-md-4 col-md-offset-8">
                @Html.Label("", "الغرف الصالحة للتدريس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Rooms, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rooms, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-md-3">
                @Html.Label("", "علوم", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.TsrPys, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TsrPys, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-md-3">
                @Html.Label("", "حاسب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Tsertailor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tsertailor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-md-3">
                @Html.Label("", "مصادر", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Tester, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tester, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-md-3">
                @Html.Label("", "انجليزى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.TsrEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TsrEn, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-inline">

                <div class="form-group row col-md-3">
                    @Html.Label("", "شريحة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                    <div class="col-sm-7">
                        @Html.EditorFor(model => model.office, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.office, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-3">
                    @Html.Label("", "افضلية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                    <div class="col-sm-7">
                        @Html.EditorFor(model => model.Periority, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Periority, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-3">
                    @Html.Label("", "شريحة مركز", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                    <div class="col-sm-7">
                        @Html.EditorFor(model => model.Strip, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Strip, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class=" form-group row col-md-3">
                    @Html.Label("", "افضلية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                    <div class="col-sm-7">
                        @Html.EditorFor(model => model.StripPeriority, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StripPeriority, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>


        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">الصفوف</div>
            <div class="panel-body">
                <div class="row" style="background-color: beige;">
                    <div class="form-group row col-md-3 ">
                        @Html.Label("", "الصفوف", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                        <div class="col-sm-7">
                            <select id="Rows1" name="Rows1" class="form-control"></select>
                            <select id="Rows2" name="Rows1" class="form-control" style="display:none;"></select>

                        </div>
                    </div>

                    <div class="form-group row col-md-3">
                        @Html.Label("", "الفصول", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Editor("classes", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        @Html.Label("", "الطلاب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Editor("stud", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        @Html.Label("", "الطاقة القصوى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                        <div class="col-sm-7">
                            @Html.Editor("maxS", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group row col-md-3">

                        <div class="col-sm-12">
                            <a class="btn btn-success" onclick="add()">صف جديد</a>

                        </div>
                    </div>

                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>صفوف</th>
                            <th>فصول</th>
                            <th>عدد الطلاب</th>
                            <th>الطاقة القصوى</th>
                            <th>الشواغر</th>
                            <th>تعديل</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTable"></tbody>
                </table>
            </div>
        </div>



        <div class="form-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-success" />
                @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>


}
@*Error Model*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        pupaddrow();
        show();

        function pupaddrow() {
            var id = $("#LevelNo").val();
            var $select = $('#Rows1');
            var $select2 = $('#Rows2');
            $select.find('option').remove();
            $select2.find('option').remove();
            $.ajax({
                url: "/TSchools/ReturnLevel?id=" + id,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    jQuery.each(data, function (key, value) {
                        $select.append('<option value=' + value['Rows'] + '>' + value['NameRow'] + '</option>');
                        $select2.append('<option value=' + value['Rows'] + '>' + value['NameRow'] + '</option>');


                    });
                }


            });

        }

        function show() {
            var $table1 = $('#bodyTable');
            $table1.html("");
            var $select1 = $('#Rows2');
            var id = $("#SchoolID").val();
            var remin;
            $vr = 0;

            $.ajax({

                url: "/TSchools/ReturnClass?id=" + id,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    jQuery.each(data, function (key, value) {

                        $select1.val(value['Rows']);
                        if (value['CLassR'] != null) {
                            remin = value['CLassR'] - value['pupil'];
                        } else {
                            value['CLassR'] = 0;
                            remin = value['pupil'];
                        }
                        $table1.append('<tr><td style="display:none;"><input type="hidden" value="' + value['id'] + '" /></td><td> <select class="form-control sel" id=' + $vr + '>' + $select1.html() + '</select></td > '+
                        '< td > <input type="number" class="form-control" id="CLass" name="CLass" value="' + value['CLass'] + '" /></td > <td><input type="number" class="form-control" id="pupil" name="pupil" value="' + value['pupil'] + '" /></td> <td><input type="number" class="form-control" id="CLassR" name="CLassR" value="' + value['CLassR'] + '" /></td> <td><input type="number" class="form-control" id="pupil" disabled="disabled" name="pupil" value="' + remin + '" /></td> <td><a class="btn btn-warning" id="edit" name="edit" >تعديل</a></td> <td><a class="btn btn-danger " id="delete" name="delete" >حذف</a></td></tr > ');

                        document.getElementById($vr).value = value['Rows'];
                        $vr++;
                    });
                }


            });

        }
        function add() {
            var vaild = $("#classes")[0].checkValidity();
            var val2 = $("#stud")[0].checkValidity();
            if (vaild == false) { alert("ادخل الصفوف"); return; }
            if (val2 == false) { alert("ادخل عدد الطلاب"); return; }

            var id = $("#SchoolID").val();
            var id2 = $("#Rows1").val();
            if (id != "" && id2 != null) {

                var Rows = $("#Rows1").val();
                var LevelNo = $("#LevelNo").val();
                var Class = $("#classes").val();
                var pupil = $("#stud").val();
                var CLassR = $("#maxS").val();
                var tCLassRow = {
                    Rows: Rows,
                    SchoolID: id,
                    LevelNo: LevelNo,
                    Class: Class,
                    pupil: pupil,
                    CLassR: CLassR,
                    pupilR: "0",

                }
                $.ajax({
                    url: "/TSchools/addRow",
                    type: "POST",
                    data: tCLassRow,

                    success: function (data) {

                        show();
                        $("#classes").val('');
                        $("#stud").val('');
                        $("#maxS").val('');
                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });
            }
            else {
                alert("يجب ادخال الرقم الوزارى اولاً");
            }
        }


        $(".table tbody").on('click', '#edit', function () {
            $("#classes").val('');
            $("#stud").val('');


            var currentRow = $(this).closest('tr');
            var Sid = $("#SchoolID").val();
            var id2 = currentRow.find("td:eq(0)").text();

            var id = currentRow.find("td:eq(0)").find("input").val();
            var Rows = currentRow.find("td:eq(1)").find("select").val();
            var Class = currentRow.find("td:eq(2)").find("input").val();
            var pupil = currentRow.find("td:eq(3)").find("input").val();
            var ClassR1 = currentRow.find("td:eq(4)").find("input").val();
            var LevelNo = $("#LevelNo").val();

            var tCLassRow = {
                id: id,
                Rows: Rows,
                SchoolID: Sid,
                LevelNo: LevelNo,
                Class: Class,
                pupil: pupil,
                CLassR: ClassR1,
                pupilR: "0",

            }

            if (id != null) {

                $.ajax({
                    url: "/TSchools/updateRow",
                    type: "POST",
                    data: tCLassRow,

                    success: function (data) {

                        show();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })

        $(".table tbody").on('click', '#delete', function () {
            $("#classes").val('');
            $("#stud").val('');
            var currentRow = $(this).closest('tr');
            var id = currentRow.find("td:eq(0)").find("input").val();

            if (id != null) {
                if (confirm('هل انت متأكد من الحذف ؟')) {
                    $.ajax({
                        url: "/TSchools/deleteRow?id=" + id,
                        type: "POST",

                        success: function (data) {

                            show();

                        },
                        error: function () {
                            $("#error").html("مشكلة فى الحفظ");
                            $("#myModal").modal('show');
                        }
                    });
                }
            }

        })

    </script>

}
