﻿@model qortuba.Models.TSchools

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="titleBody">
    <label class="lbl-nav"><a href="~/TSchools/Index">المدارس</a> > حذف مدرسة</label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>
<label class="text-danger">هل انت متأكد من الحذف ؟</label>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-inline ">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*  first row*@


    <div class="form-group row col-md-4">
        @Html.Label("", "الرقم الوزارى", htmlAttributes: new { @class = "col-sm-5 " })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group row col-md-8 ">
        @Html.Label("", "المدرسة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-inline">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="حذف" class="btn btn-danger" />
            @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
}
