﻿@model qortuba.Models.TSchools

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="titleBody">
    <label class="lbl-nav"><a href="~/TSchools/Index">المدارس</a> > تفاصيل مدرسة</label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-inline ">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*  first row*@


    <div class="form-group row col-md-4">
        @Html.Label("", "الرقم الوزارى", htmlAttributes: new { @class = "col-sm-5 " })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group row col-md-8 ">
        @Html.Label("", "المدرسة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row col-md-4">
        @Html.Label("", "المركز القديم", htmlAttributes: new { @class = "col-sm-5 " })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.OldCenter, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.OldCenter, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group row col-md-8 ">
        @Html.Label("", "الاسم القديم", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.OldName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.OldName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "الدائرة التعليمية", htmlAttributes: new { @class = "col-sm-5 " })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.circleEd, new { htmlAttributes = new { @class = "form-control circleEd ", placeholder = "", required = "required", @readonly = "readonly" } })
            @Html.EditorFor(model => model.circleEd2, new { htmlAttributes = new { @class = "form-control circleEd", placeholder = "", required = "required", @readonly = "readonly" } })
            @Html.EditorFor(model => model.circleEd3, new { htmlAttributes = new { @class = "form-control circleEd", placeholder = "", required = "required", @readonly = "readonly" } })
            @Html.EditorFor(model => model.circleEd4, new { htmlAttributes = new { @class = "form-control circleEd", placeholder = "", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.circleEd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-8 ">
        @Html.Label("", "الموقع", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">

            <img src="~/images/gmap.png" width="50" height="50" id="imgloc" style="cursor:pointer;" onclick="callMap()" />

            @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
        </div>
    </div>

    @*  2 row*@

    <div class="form-group row col-md-4">
        @Html.Label("", "المرحلة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("LevelNo", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.LevelNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4 ">
        @Html.Label("", "يمكن الاكمال", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("finalize", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.finalize, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "الفاكس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.FAx, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.FAx, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "المكتب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("Center", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Center, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "مستقلة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("Common", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Common, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "البريد الالكترونى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row col-md-4">
        @Html.Label("", "المحافظة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("area", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group row col-md-4">
        @Html.Label("", "مضمومة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("Backswept", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Backswept, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "المدينة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "الخطة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("SchType", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.SchType, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row col-md-4">
        @Html.Label("", "محدثة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("created", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.created, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row col-md-4">
        @Html.Label("", "الشارع", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.street, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.street, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row col-md-4">
        @Html.Label("", "نوع التعليم", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("Tuition", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Tuition, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "المبنى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("Build", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Build, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "الحى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("Liver", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Liver, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "خارج الرياض", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("Out", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Out, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row col-md-4">
        @Html.Label("", "حالة المبنى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("CadE_door", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.CadE_door, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "بعدها عن الادارة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "سنة التأسيس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.FDate, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.FDate, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group row col-md-4">
        @Html.Label("", "نوع المدرسة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("AfterNoon", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.AfterNoon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "مساحة الفصل", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.dismiss, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.dismiss, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "صحراء", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("desert", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.desert, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4 ">
        @Html.Label("", "مرغوبة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.DropDownList("kind_SCH", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.kind_SCH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row col-md-4">
        @Html.Label("", "الهاتف", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
        <div class="col-sm-7">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="bcolor1">
        <div class="form-group row col-md-4">
            @Html.Label("", "اقرب ابتدائية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.NearerSH1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NearerSH1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "بعدها", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Space1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Space1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "الطريق", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Varway1", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Varway1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "اقرب متوسطة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.NearerSH2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NearerSH2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "بعدها", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Space2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Space2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "الطريق", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Varway2", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Varway2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "اقرب ثانوية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.NearerSH3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NearerSH3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "بعدها", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Space3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Space3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "الطريق", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Varway3", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Varway3, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="bcolor">
        <div class="form-group row col-md-4 col-md-offset-8">
            @Html.Label("", "الغرف الصالحة للتدريس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Rooms, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Rooms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-3">
            @Html.Label("", "علوم", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.TsrPys, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TsrPys, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-3">
            @Html.Label("", "حاسب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Tsertailor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Tsertailor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-3">
            @Html.Label("", "مصادر", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Tester, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Tester, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-3">
            @Html.Label("", "انجليزى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.TsrEn, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TsrEn, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-inline">

            <div class="form-group row col-md-3">
                @Html.Label("", "شريحة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.office, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.office, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-md-3">
                @Html.Label("", "افضلية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Periority, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Periority, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-md-3">
                @Html.Label("", "شريحة مركز", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.Strip, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Strip, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class=" form-group row col-md-3">
                @Html.Label("", "افضلية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.StripPeriority, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.StripPeriority, "", new { @class = "text-danger" })
                </div>
            </div>



        </div>


    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">الصفوف</div>
        <div class="panel-body">
            <select id="Rows2" name="Rows1" class="form-control" required style="display:none;"></select>
            <table class="table">
                <thead>
                    <tr>
                        <th>صفوف</th>
                        <th>فصول</th>
                        <th>طلاب</th>

                    </tr>
                </thead>
                <tbody id="bodyTable"></tbody>
            </table>
        </div>
    </div>

    @*<iframe id="ifmaps" width="600"
                height="450"
                frameborder="0" style="border:0"
                allowfullscreen>
            &amp;output=embed"
        </iframe>*@
    <div class="form-inline">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("تعديل", "Edit", new { id = Model.SchoolID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


}
@*Error Model*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">عذراً</h4>
            </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">
                    
                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>

    function callMap() {
        var urlc =  @*@Html.Raw(Json.Encode(Model.location))*@;
        if (urlc != null) { window.open(urlc, '_blank'); } else {
            $("#error").html("عفواً لا يوجد موقع للعرض");
            $("#myModal").modal('show'); 
        }
       
        }
       
        $(function () {
            var urlc @*=  @Html.Raw(Json.Encode(Model.location))*@;
            $('#ifmaps').attr('src', urlc)

        });


        pupaddrow();
        show();

        function pupaddrow() {
            var id = $("#LevelNo").val();

            var $select2 = $('#Rows2');

            $select2.find('option').remove();
            $.ajax({
                url: "/TSchools/ReturnLevel?id=" + id,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    jQuery.each(data, function (key, value) {

                        $select2.append('<option value=' + value['Rows'] + '>' + value['NameRow'] + '</option>');


                    });
                },
                error: function (request, status, error) {
                    alert(request.responseText);

                },

            });
        }

        function show() {
            var $table1 = $('#bodyTable');
            $table1.html("");
            var $select1 = $('#Rows2');
            var id = $("#SchoolID").val();
            $vr = 0;

            $.ajax({

                url: "/TSchools/ReturnClass?id=" + id,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    jQuery.each(data, function (key, value) {

                        $select1.val(value['Rows']);

                        $table1.append('<tr><td style="display:none;"><input type="hidden" value="' + value['id'] + '" /></td><td> <select class="form-control" id=' + $vr + ' readonly>' + $select1.html() + '</select></td ><td><input type="number" class="form-control" id="CLass" name="CLass" value="' + value['CLass'] + '" readonly /></td><td><input type="number" class="form-control" id="pupil" name="pupil" value="' + value['pupil'] + '" readonly /></td></tr> ');

                        document.getElementById($vr).value = value['Rows'];
                        $vr++;
                    });
                }


            });

        }
    </script>


}