﻿@model IEnumerable<qortuba.Models.School>

@{
    ViewBag.Title = "قبول طلاب";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"> قبول الطلاب</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>


                                            <th style="background-color:#c8f1c3"> كود المدرسة </th>
                                            <th style="background-color:#c8f1c3">  اسم المدرسة</th>
                                            <th style="background-color:#c8f1c3"> الدائرة التعليمية </th>
                                            <th style="background-color:#c8f1c3"> المنطقة </th>
                                            <th style="background-color:#c8f1c3"> المستوى </th>
                                            <th style="background-color:#c8f1c3"> النوع </th>
                                            <th style="background-color:#c8f1c3"> المدينة </th>
                                            <th style="background-color:#c8f1c3"> الحى </th>
                                            <th style="background-color:#c8f1c3"> التعليم </th>


                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                    

                                        <tr class="gradeX">
                                            <td>@item.SchoolID</td>
                                            <td>@item.SchoolName</td>
                                            <td>@item.circleAll</td>
                                            <td>@item.name6</td>
                                            <td>@item.NameLevel</td>
                                            <td>@item.SchoolsType</td>
                                            <td>@item.City</td>
                                            <td>@item.Liver</td>
                                            <td>@item.Tuition1</td>


                                            <td>@Html.ActionLink(" القبول", "AcceptanceMain", "Acceptance", new { id = item.SchoolID }, new { @class = "btn btn-info" })</td>

                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>