﻿@model IEnumerable<qortuba.Models.Mboard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<div class="row">
    @using (Html.BeginForm("CeareMboard", "TSchools", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="sid" id="sid" value="@ViewBag.sid" />
        <div class="col-sm-2">
            <p>تحديد المعلم</p>
        </div>
        <div class="col-sm-3">
            @Html.DropDownList("empName", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
        </div>
        <div class="col-sm-2">
            <p>تحديد العمل</p>
        </div>
        <div class="col-sm-2">
            @Html.DropDownList("job", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
        </div>
        <div class="col-sm-2">
            <input type="submit" value="إضافة" class="btn btn-success" />
        </div>
    }
</div>



<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"> مجلس إدارة المدرسة</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                         
                                            <th style="background-color:#c8f1c3">كود</th>
                                            <th style="background-color:#c8f1c3">اسم المعلم</th>
                                            <th style="background-color:#c8f1c3"> العمل</th>
                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {


                                        <tr class="gradeX">
                                            <td>@item.id</td>
                                            <td>@item.empName</td>
                                            <td>@item.job</td>


                                            <td>@Html.ActionLink(" حذف", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>

@section scripts{
    <script>



        $(".table tbody").on('click', '.btn-danger', function (e) {
            e.preventDefault();

            var currentRow = $(this).closest('tr');
            var id = currentRow.find("td:eq(0)").text();

            if (id != null) {
                if (confirm('هل انت متأكد من الحذف ؟')) {
                    $.ajax({
                        url: "/TSchools/DeleteMboard?id=" + id,
                        type: "POST",

                        success: function (data) {

                            window.location.reload();

                        },
                        error: function () {
                            $("#error").html("مشكلة فى الحفظ");
                            $("#myModal").modal('show');
                        }
                    });
                }
            }

        })

    </script>

}