﻿﻿@using System.Data
@using qortuba.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - بيانات المعلم</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Gridmvc.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/circleP.css" rel="stylesheet" />
    <link href="~/css/protip.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/interface.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    @*@{


            MyFunctions fun = new MyFunctions();

            DataTable dt = fun.fireStoreProcedure1("checkRole", Session["Role_id"].ToString());

            DataRow dr = dt.Rows[0];
            Session["empInser"] = dr["empInsert"].ToString();
            Session["empDetails"] = dr["empDetails"].ToString();
            Session["empUpdate"] = dr["empUpdate"].ToString();
            Session["empDelete"] = dr["empDelete"].ToString();

            Session["schoolInser"] = dr["schoolInser"].ToString();
            Session["schoolDetails"] = dr["schoolDetails"].ToString();
            Session["schoolUpdate"] = dr["schoolUpdate"].ToString();
            Session["schoolDelete"] = dr["schoolDelete"].ToString();

        }*@
    <style>
        a {
            cursor: pointer;
        }
    </style>
    <style type="text/css">
        .showtxt {
            display: block;
        }

        .hidetxt {
            visibility: visible;
        }

        .dropdown {
            cursor: pointer;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                /*left:-100%;*/
                left: -10rem; /* 10rem is the min-width of dropdown-menu */
                margin-top: -6px;
                width: 250px !important;
            }

        /* rotate caret on hover */
        .dropdown-menu > li > div > input[class="stb"]:focus {
            display: block;
        }

        .dropdown-menu > li {
            cursor: pointer;
            width: auto;
        }

        .wid {
            width: 88%;
        }

        .bt {
            position: relative;
            top: -3px;
            height: 33px;
        }

        .modal-title {
            text-align: center;
            font-weight: bold;
        }

        .modal-body {
            height: 100%;
        }

        .modal-header .close {
            margin-top: -20px;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                right: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px 6px;
                border-radius: 6px 6px 6px 0;
            }

            .dropdown-submenu > a:before {
                display: block;
                content: "\25c4";
                float: left;
                width: 0;
                height: 0;
                border-color: transparent;
                border-width: 5px 0 5px 5px;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: blue;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: 100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }

        .navbar-inverse .navbar-nav > li > a {
            color: #afd4b4;
            font-size: 17px;
        }

        .dropdown-menu {
            right: 0;
            min-width: 250px;
        }
    </style>
</head>
<body dir="rtl " class="backBody">

    <div class="navbar  navbar-fixed-top container " style="background-color:#fff;">
        <div id="div1" class="container" style="background-color:#000; background-size: 100% 20px;">
@if (User.Identity.Name != "")
            {

            <span style="color:#efff95;">
                مرحباً : </span>
                <span style="color:#fff;">
                    </span>
            }
            else
            {
@Html.ActionLink("تسجيل دخول  ", "Login", "auth", null, new { @style = "color: #fff;" })
@Html.ActionLink("  جديد  ", "Wall", "auth", null, new { @style = "color: #f0e12e;" })
}
<a style="color: #fff;float: left;margin-left: 10px;">info@enjazq.com</a>


</div>
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
         @*@Html.ActionLink("منصة قرطبة التعليمية", "", "", new { area = "" }, new { @class = "navbar-brand", @style = "color:#fff;font-size: 20px;" })*@
        <div style="display:inline-block;">
            <a class="youtube"></a>
            <a class="insta"></a>
            <a class="faceb"></a>
            <a class="twiterb" href="https://twitter.com/qortobhEDU?s=08" target="_blank"></a>
        </div>
        <a class="qor"></a>


    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="margin-right: -50px;">

            <li>@Html.ActionLink("الرئيسية", "Index", "auth")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="True" aria-expanded="" ErrorPage", "auth" ">
                            الموظفون
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right emp " data-toggle="collapse" data-target=".nav-collapse.in" aria-labelledby="navbarDropdownMenuLink" role="tablist">
                            @{ if (User.IsInRole("emp"))
                                {

                                    <li><a class="dropdown-item" href="~/Timployees/Index">الموظفون</a></li>
                                }

                            }
                            @{

                                if (User.IsInRole("TeacherPage"))
                                {

                                    <li><a class="dropdown-item" href="~/Timployees/EmpData">بيانات معلم / موظف</a></li>
                                }

                            }
                            @if (User.IsInRole("SManager"))
                            {
                                <li>@Html.ActionLink("قادة المدارس", "IndexManager", "Delegation")</li>
                            }
                            @{ if (User.IsInRole("ManagerPage"))
                                {

                                    <li><a class="dropdown-item" href="~/Delegation/ManagerPageSp">قائد المدرسة</a></li>
                                }

                            }

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                            المدارس
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            @{
                                if (User.IsInRole("school"))
                                {

                                    <li><a class="dropdown-item" href="~/TSchools/Index">المدارس</a></li>
                                }
                                if (User.IsInRole("Reduce"))
                                {

                                    <li><a class="dropdown-item" href="~/DesAndInc/Index">العجز والزيادة</a></li>
                                }
                                if (User.IsInRole("managTWork"))
                                {

                                    <li><a class="dropdown-item" href="~/TSchools/IndexMboard">مجالس إدارات المدارس</a></li>
                                }
                                if (User.IsInRole("managerTworkManager"))
                                {

                                    <li><a class="dropdown-item" href="~/TSchools/MboardManager">مجلس إدارة المدرسة</a></li>
                                }
                                if (User.IsInRole("Acceptance"))
                                {

                                    <li><a class="dropdown-item" href="~/TSchools/IndexAcceptance">قبول الطلاب</a></li>
                                }
                                if (User.IsInRole("AcceptanceManager"))
                                {

                                    <li><a class="dropdown-item" href="~/TSchools/AcceptanceStateManager">قبول الطلاب</a></li>
                                }


                            }
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                            الجداول
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            @if (User.IsInRole("TimeTable"))
                            {
                                <li>@Html.ActionLink("الجداول", "Index", "TimeTable")</li>
                            }
                            @if (User.IsInRole("TimeTableManager"))
                            {
                                <li>@Html.ActionLink("جداول المدرسة", "ShowTablesMannager", "TimeTable")</li>
                            }
                            @if (User.IsInRole("TimeTableTeachar"))
                            {
                                <li>@Html.ActionLink("جداول معلم", "showTeachReportE", "TimeTable")</li>
                            }

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                            الندب
                            <span class="badge badge - danger cRed ">N</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            @if (User.IsInRole("delegation"))
                            {
                                <li>@Html.ActionLink("الندب", "IndexDele", "Delegation")</li>
                            }

                            @if (User.IsInRole("firstDel"))
                            {
                                <li>@Html.ActionLink("اولاُ - الندب المبدئى", "Index", "Delegation")</li>
                            }
                            @if (User.IsInRole("TransferDel"))
                            {
                                <li>@Html.ActionLink("التصديق على الندب", "DelegationPage", "Delegation")</li>
                            }
                            @if (User.IsInRole("TerminalDel"))
                            {
                                <li>@Html.ActionLink("ثانياُ - اخلاء طرف", "TermIndexDel", "Delegation")</li>
                            }
                            @if (User.IsInRole("AcceptDel"))
                            {
                                <li>@Html.ActionLink("ثالثاُ - مباشرة الندب", "AcceptIndexDel", "Delegation")</li>
                            }
                            @if (User.IsInRole("DisDel"))
                            {
                                <li>@Html.ActionLink("رابعاُ - إعتماد المكتب للندب", "TrueAccept", "Delegation")</li>
                            }


                            @if (User.IsInRole("FirstDelManager"))
                            {
                                <li>@Html.ActionLink("الندب االمبدئى للمدرسة", "ExportDelegationManager", "Delegation")</li>
                            }
                            @if (User.IsInRole("TerminalDelManager"))
                            {
                                <li>@Html.ActionLink("إخلاء طرف منتدب من المدرسة", "TerminalAcceptManager", "Delegation")</li>
                            }
                            @if (User.IsInRole("AcceptDelManager"))
                            {
                                <li>@Html.ActionLink("مباشرة الندب للمدرسة", "AcceptDelegationManager", "Delegation")</li>
                            }
                            @if (User.IsInRole("TractingDel"))
                            {
                                <li>@Html.ActionLink("تتبع الندب", "TracktDel", "Delegation")</li>
                            }

                        </ul>
                    </li>
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                الارشفة
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @if (dr["TimeTable"].ToString() == "True")
                                {
                                    <li>@Html.ActionLink("الارشفة", "Index", "Archive")</li>
                                }


                            </ul>
                        </li>*@



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                            الانصبة
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                            @if (User.IsInRole("globalCount"))
                            {
                                <li>@Html.ActionLink("الانصبة العامة", "GeneralReduce", "Reduce")</li>
                            }
                            @if (User.IsInRole("customCount"))
                            {
                                <li>@Html.ActionLink("الانصبة المخصصة", "CustomReduce", "Reduce")</li>
                            }
                            @if (User.IsInRole("Count"))
                            {
                                <li>@Html.ActionLink("الانصبة", "Index", "Reduce")</li>
                            }

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                            التقارير
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                            <li class="dropdown dropdown-submenu " role="menu">
                                <a class="dropdown-toggle arrow-left" data-toggle="dropdown">المعلمين</a>
                                <ul class="dropdown-menu">


                                    @if (User.IsInRole("Remp"))
                                    {

                                        <li class="dropdown dropdown-submenu " role="menu">
                                            <a class="dropdown-toggle arrow-left" data-toggle="dropdown">تقرير جميع العاملين</a>
                                            <ul class="dropdown-menu">

                                                <li><a class="dropdown-item" target="_blank" href="~/ViewReport/EmpsReport">PDF</a></li>
                                                <li class="divider"></li>
                                                <li><a class="dropdown-item" target="_blank" href="~/ViewReport/EmpsReportX">EXCEL</a></li>

                                            </ul>
                                        </li>


                                    }
                                    @if (User.IsInRole("RempStatic"))
                                    {
                                        @*<li class="dropdown dropdown-submenu " role="menu">
                        <a class="dropdown-toggle arrow-left" data-toggle="dropdown">تقرير جميع العاملين ثابت</a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/staticRempInfo">PDF</a></li>
                            <li class="divider"></li>
                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/staticRempInfoX">EXCEL</a></li>

                        </ul>
                    </li>*@

                                    }
                                    @if (User.IsInRole("RempSSchool"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportSchhool">تقرير جميع العاملين بمدرسة محددة</a></li>


                                    }

                                    @if (User.IsInRole("RempJob"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/Reportempwork">تقرير جميع العاملين حسب الوظيفة</a></li>


                                    }
                                    @if (User.IsInRole("RempSubject"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportempSubject">تقرير جميع العاملين مادة التدريس</a></li>


                                    }
                                    @if (User.IsInRole("Rempinfo"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportempTnfo">تقرير بيانات معلم</a></li>


                                    }


                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu " role="menu">
                                <a class="dropdown-toggle arrow-left" data-toggle="dropdown">المدارس</a>
                                <ul class="dropdown-menu">

                                    @if (User.IsInRole("RallSchool"))
                                    {
                                        <li class="dropdown dropdown-submenu " role="menu">
                                            <a class="dropdown-toggle arrow-left" data-toggle="dropdown">تقرير جميع المدارس</a>
                                            <ul class="dropdown-menu">

                                                <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolReport">PDF</a></li>
                                                <li class="divider"></li>
                                                <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolReportX">EXCEL</a></li>

                                            </ul>
                                        </li>

                                    }
                                    @if (User.IsInRole("RschoolLevel"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolLevel">تقرير المدارس حسب المرحلة</a></li>


                                    }
                                    @if (User.IsInRole("RschoolTut"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolTuition">تقرير المدارس حسب نوع التعليم</a></li>



                                    }
                                    @if (User.IsInRole("RschoolInfo"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportSchoolInfo">تقرير بيانات مدرسة</a></li>

                                    }
                                    @if (User.IsInRole("RschoolRow"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportSchoolRows">تقرير بيانات صفوف مدرسة</a></li>


                                    }



                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu " role="menu">
                                <a class="dropdown-toggle arrow-left" data-toggle="dropdown">الجداول</a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("RTimeTable"))
                                    {
                                        <li>@Html.ActionLink("طباعة جدول لمدرسة محددة", "PrintPage", "TimeTable")</li>
                                    }
                                    @if (User.IsInRole("TimetableTeacher"))
                                    {
                                        <li>@Html.ActionLink("طباعة جدول معلم", "TeachReport", "TimeTable")</li>
                                    }
                                    @if (User.IsInRole("specTimetable"))
                                    {
                                        <li>@Html.ActionLink("طباعة جدول معلم بمدرسة محددة", "IndexTeach", "TimeTable")</li>
                                    }




                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu " role="menu">
                                <a class="dropdown-toggle arrow-left" data-toggle="dropdown">الندب</a>
                                <ul class="dropdown-menu">


                                    @if (User.IsInRole("RincAndDes"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowDesAndIncR">تقرير العجز والزيادة</a></li>


                                    }
                                    @if (User.IsInRole("RincTeach"))
                                    {
                                        <li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">تقرير الزيادة بالمعلم</a></li>


                                    }
                                    @if (User.IsInRole("RLastDel"))
                                    {
                                        @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">قرار الندب النهائى</a></li>*@


                                    }

                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu " role="menu">
                                <a class=" arrow-left" data-toggle="dropdown">احصائيات</a>
                                <ul class="dropdown-menu">


                                    @*@if (User.IsInRole("RincAndDes"))
                {*@
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/HRPDF">تقرير الكوادر البشرية</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rSubjectsPDF"> تقرير احصائية جميع المواد</a></li>

                                    @*}*@
                                    @*@if (User.IsInRole("RincTeach"))
                {*@
                                    @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">تقرير الزيادة بالمعلم</a></li>*@


                                    @*}*@
                                    @*@if (User.IsInRole("RLastDel"))
                {*@
                                    @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">قرار الندب النهائى</a></li>*@


                                    @*}*@

                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu " role="menu">
                                <a class=" arrow-left" data-toggle="dropdown">الاحصائية الشاملة</a>
                                <ul class="dropdown-menu">


                                    @*@if (User.IsInRole("RincAndDes"))
                {*@
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaStdPDF">تقرير باعداد الطلاب بمكتب قرطبة</a></li>

                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaClassesPDF">تقرير باعداد فصول بمكتب قرطبة</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaBuildRentPDF">تقرير بالمبانى المستأجرة بمكتب قرطبة</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaBuildGovPDF">تقرير بالمبانى الحكومية بمكتب قرطبة</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaSchoolsGPDF">تقرير باعداد مدارس التعليم العام مكتب قرطبة</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaSchoolsQPDF">تقرير باعداد مدارس تحفيظ القرآن مكتب قرطبة</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaSchoolsPPDF">تقرير باعداد مدارس التعليم الخاص مكتب قرطبة</a></li>

                                    @*}*@
                                    @*@if (User.IsInRole("RincTeach"))
                {*@
                                    @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">تقرير الزيادة بالمعلم</a></li>*@


                                    @*}*@
                                    @*@if (User.IsInRole("RLastDel"))
                {*@
                                    @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">قرار الندب النهائى</a></li>*@


                                    @*}*@

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                            التحكم
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            @{ if (User.IsInRole("ControlRemp"))
                                {
                                    <li><a class="dropdown-item" href="~/Remp/index"> التحكم فى تقارير المعلمين</a></li>

                                }
                                if (User.IsInRole("ControlRschool"))
                                {
                                    <li><a class="dropdown-item" href="~/RSchool/index"> التحكم فى تقارير المدارس</a></li>

                                }
                                if (User.IsInRole("UserRole"))
                                {
                                    <li><a class="dropdown-item" href="~/adela/index"> الادلة والتعاميم</a></li>

                                }
                                if (User.IsInRole("UserRole"))
                                {
                                    <li><a class="dropdown-item" href="~/Roles/index"> قواعد الصلاحيات</a></li>

                                }
                                if (User.IsInRole("DataBaseUpdate"))
                                {
                                    <li><a class="dropdown-item" href="~/UpdateDB/index"> تحديث قاعدة البيانات</a></li>

                                }
                                if (User.IsInRole("UserAccount"))
                                {

                                    <li><a class="dropdown-item" target="_blank" href="~/ViewReport/staticEmpPass">تقرير كلمات مرور العاملين</a></li>
                                }
                                if (User.IsInRole("UserAccount"))
                                {
                                    <li><a class="dropdown-item" href="~/ViewReport/ReportempPass"> تقرير بيانات معلم كلمة المرور</a></li>

                                }


                            }
                        </ul>
                    </li>
                    @if (User.Identity.Name != "")
                    {
                        <li>@Html.ActionLink("خروج", "Logout", "auth")</li>
                    }


        </ul>
        <div style="display:inline-block;margin-top: 12px;">
            <img src="../../images/images1/search.png" style="display:inline-block; margin-left:-20px;" width="35" height="25" />
            <input type="text" class="txtsearch" />
        </div>
         @*  @Html.Partial("_LoginPartial")  *@
    </div>
    <div id="div2" class="container" style="background-image:url('../../images/w2.png'); background-size: 100% 10px; margin-top: -10px;"></div>

</div>

</div>
<div class="container body-content" style="background-color: #ffffffed;">
@RenderBody()

</div>

<script src="~/js-c/js/main.js"></script>
<script src="~/js-c/js/owl.carousel.min.js"></script>

<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/keyframes.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/sweetalert2.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/circlos.js"></script>
<script src="~/js/gridmvc.js"></script>
<script src="~/js/gridmvc.lang.fr.js"></script>
<script src="~/js/gridmvc.lang.ru.js"></script>
<script src="~/js/jquery.validate.js"></script>

@RenderSection("scripts", required: false)
<script>
    (function ($) {
        $(document).ready(function () {

            $("ul.dropdown-menu > li > div > input[type=\"text\"]").focusin(function (event) {
                $(".navbar-nav li:hover > ul.dropdown-menu").addClass("showtxt");
            });
            $("#body12").on("click", function () {

                $(".navbar-nav li >ul").attr("class", "dropdown-menu dropdown-menu-right");

            });
            $(".btn-danger").on("click", function () {

                $(".navbar-nav li >ul").attr("class", "dropdown-menu dropdown-menu-right");

            });

            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    })(jQuery);
</script>
</body>
</html>

