﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Gridmvc.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/circleP.css" rel="stylesheet" />
    <link href="~/css/protip.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/interface.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/js-c/js/bootstrap.js"></script>
    @*<script src="~/js-c/js/jquery-3.4.1.min.js"></script>*@
    <script src="~/js-c/js/main.js"></script>
    <script src="~/js-c/js/owl.carousel.min.js"></script>

    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/keyframes.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/circlos.js"></script>
    <script src="~/js/gridmvc.js"></script>
    <script src="~/js/gridmvc.lang.fr.js"></script>
    <script src="~/js/gridmvc.lang.ru.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
