﻿@using qortuba.Models
@using Microsoft.AspNetCore.Identity
@using qortuba.Controllers
@using qortuba.Data
@using Microsoft.EntityFrameworkCore;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject ApplicationDbContext db


<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - منصة قرطبة التعليمية</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/circleP.css" rel="stylesheet" />
    <link href="~/css/protip.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/interface.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/newStyle/css/entypo.css" rel="stylesheet">
    <link href="~/newStyle/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/newStyle/css/mouldifi-core.css" rel="stylesheet">
    <link href="~/newStyle/css/mouldifi-forms.css" rel="stylesheet">
    <link href="~/newStyle/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="~/newStyle/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">
    <link href="~/newStyle/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/newStyle/css/mouldifi-rtl-core.css" rel="stylesheet">







    <style>

        @@font-face {
            font-family: 'entypo';
            src: url('/fonts/cocon.ttf');
            font-size: 1.3em
        }

        .asd {
            font-family: entypo;
        }

        body {
            font-family: entypo;
        }
    </style>
</head>

<body>
    <div class="container mn">



        <div id="div1" style="background-color:#000; background-size: 100% 20px;">
            @if (SignInManager.IsSignedIn(User))
            {
                <span style="color:#efff95;">مرحباً : </span>
                <span style="color:#fff;">@UserManager.GetUserName(User)</span>
            }
            else
            {
                @Html.ActionLink("تسجيل دخول  ", "Login", "auth", null, new { @style = "color: #fff;" })
                @*@Html.ActionLink("  جديد  ", "Wall", "auth", null, new { @style = "color: #f0e12e;" })*@
            }
            <a style="color: #fff;float: left;margin-left: 10px;">info@enjazq.com</a>
        </div>



        <header>
            <div class="header-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="logos">
                            <img src="~/img/logo1.jpeg" alt="شعار قرطبة">
                            <img src="~/img/logo2.jpeg" alt="رؤية2030">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="social-media">
                            <a href="#"><img src="~/img/facebook.png" alt="فيسبوك"></a>
                            <a href="#"><img src="~/img/twitter.png" alt="تويتر"></a>
                            <a href="#"><img src="~/img/logo.png" alt="يوتيوب"></a>
                            <a href="#"><img src="~/img/instagram.png" alt="انستغرام"></a>
                        </div>
                        <form class="form-inline my-3 my-lg-3">
                            <button class="btn my-2 my-sm-0" type="submit">بحث</button>
                            <input class="form-control mr-sm-2 txt" type="search" placeholder="بحث" aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>

        </header>

        <div class="navbar  container ">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div style="display:inline-block;">
                        <a class="youtube"></a>
                        <a class="insta"></a>
                        <a class="faceb"></a>
                        <a class="twiterb" href="https://twitter.com/qortobhEDU?s=08" target="_blank"></a>
                    </div>
                    <a class="qor"></a>


                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="nav-item dropdown"><a href="/">الرئيسية</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                الموظفون
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @{ if (await authController.IsInRoleAsync("emp", UserManager.GetUserId(User),db))
                                    {
                                        <li><a class="dropdown-item" href="~/Timployees/Index">الموظفون</a></li>
                                    }

                                }
                                @{

                                    if (await authController.IsInRoleAsync("TeacherPage", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/Timployees/EmpData">بيانات معلم / موظف</a></li>
                                    }

                                }
                                @if (await authController.IsInRoleAsync("SManager", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("قادة المدارس", "IndexManager", "Delegation")</li>
                                }
                                @{ if (await authController.IsInRoleAsync("ManagerPage", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/Delegation/ManagerPageSp">قائد المدرسة</a></li>
                                    }

                                }
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                المدارس
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @{
                                    if (await authController.IsInRoleAsync("school", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/TSchools/Index">المدارس</a></li>
                                    }
                                    if (await authController.IsInRoleAsync("Reduce", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/DesAndInc/Index">العجز والزيادة</a></li>
                                    }
                                    if (await authController.IsInRoleAsync("managTWork", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/TSchools/IndexMboard">مجالس إدارات المدارس</a></li>
                                    }
                                    if (await authController.IsInRoleAsync("managerTworkManager", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/TSchools/MboardManager">مجلس إدارة المدرسة</a></li>
                                    }
                                    if (await authController.IsInRoleAsync("Acceptance", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/TSchools/IndexAcceptance">قبول الطلاب</a></li>
                                    }
                                    if (await authController.IsInRoleAsync("AcceptanceManager", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" href="~/TSchools/AcceptanceStateManager">قبول الطلاب</a></li>
                                    }


                                }
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                الجداول
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @if (await authController.IsInRoleAsync("TimeTable", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("الجداول", "Index", "TimeTable")</li>
                                }
                                @if (await authController.IsInRoleAsync("TimeTableManager", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("جداول المدرسة", "ShowTablesMannager", "TimeTable")</li>
                                }
                                @if (await authController.IsInRoleAsync("TimeTableTeachar", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("جداول معلم", "showTeachReportE", "TimeTable")</li>
                                }

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                الندب

                            </a>

                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @if (await authController.IsInRoleAsync("delegation", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("الندب", "IndexDele", "Delegation")</li>
                                }

                                @if (await authController.IsInRoleAsync("firstDel", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("اولاُ - الندب المبدئى", "Index", "Delegation")</li>
                                }
                                @if (await authController.IsInRoleAsync("TransferDel", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("التصديق على الندب", "DelegationPage", "Delegation")</li>
                                }
                                @if (await authController.IsInRoleAsync("TerminalDel", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("ثانياُ - اخلاء طرف", "TermIndexDel", "Delegation")</li>
                                }
                                @if (await authController.IsInRoleAsync("AcceptDel", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("ثالثاُ - مباشرة الندب", "AcceptIndexDel", "Delegation")</li>
                                }
                                @if (await authController.IsInRoleAsync("DisDel", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("رابعاُ - إعتماد المكتب للندب", "TrueAccept", "Delegation")</li>
                                }


                                @if (await authController.IsInRoleAsync("FirstDelManager", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("الندب االمبدئى للمدرسة", "ExportDelegationManager", "Delegation")</li>
                                }
                                @if (await authController.IsInRoleAsync("TerminalDelManager", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("إخلاء طرف منتدب من المدرسة", "TerminalAcceptManager", "Delegation")</li>
                                }
                                @if (await authController.IsInRoleAsync("AcceptDelManager", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("مباشرة الندب للمدرسة", "AcceptDelegationManager", "Delegation")</li>
                                }
                                @if (await authController.IsInRoleAsync("TractingDel", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("تتبع الندب", "TracktDel", "Delegation")</li>
                                }

                            </ul>
                        </li>




                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                الانصبة
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                @if (await authController.IsInRoleAsync("globalCount", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("الانصبة العامة", "GeneralReduce", "Reduce")</li>
                                }
                                @if (await authController.IsInRoleAsync("customCount", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("الانصبة المخصصة", "CustomReduce", "Reduce")</li>
                                }
                                @if (await authController.IsInRoleAsync("Count", UserManager.GetUserId(User), db))
                                {
                                    <li>@Html.ActionLink("الانصبة", "Index", "Reduce")</li>
                                }

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                التقارير
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                <li class="dropdown dropdown-submenu " role="menu">
                                    <a class="dropdown-toggle arrow-left" data-toggle="dropdown">المعلمين</a>
                                    <ul class="dropdown-menu">


                                        @if (User.IsInRole("Remp"))
                                        {

                                            <li class="dropdown dropdown-submenu " role="menu">
                                                <a class="dropdown-toggle arrow-left" data-toggle="dropdown">تقرير جميع العاملين</a>
                                                <ul class="dropdown-menu">

                                                    <li><a class="dropdown-item" target="_blank" href="~/ViewReport/EmpsReport">PDF</a></li>
                                                    <li class="divider"></li>
                                                    <li><a class="dropdown-item" target="_blank" href="~/ViewReport/EmpsReportX">EXCEL</a></li>

                                                </ul>
                                            </li>


                                        }
                                        @if (User.IsInRole("RempStatic"))
                                        {
                                            @*<li class="dropdown dropdown-submenu " role="menu">
                                                    <a class="dropdown-toggle arrow-left" data-toggle="dropdown">تقرير جميع العاملين ثابت</a>
                                                    <ul class="dropdown-menu">

                                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/staticRempInfo">PDF</a></li>
                                                        <li class="divider"></li>
                                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/staticRempInfoX">EXCEL</a></li>

                                                    </ul>
                                                </li>*@

                                        }
                                        @if (User.IsInRole("RempSSchool"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportSchhool">تقرير جميع العاملين بمدرسة محددة</a></li>


                                        }

                                        @if (User.IsInRole("RempJob"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/Reportempwork">تقرير جميع العاملين حسب الوظيفة</a></li>


                                        }
                                        @if (User.IsInRole("RempSubject"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportempSubject">تقرير جميع العاملين مادة التدريس</a></li>


                                        }
                                        @if (User.IsInRole("Rempinfo"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportempTnfo">تقرير بيانات معلم</a></li>


                                        }


                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu " role="menu">
                                    <a class="dropdown-toggle arrow-left" data-toggle="dropdown">المدارس</a>
                                    <ul class="dropdown-menu">

                                        @if (User.IsInRole("RallSchool"))
                                        {
                                            <li class="dropdown dropdown-submenu " role="menu">
                                                <a class="dropdown-toggle arrow-left" data-toggle="dropdown">تقرير جميع المدارس</a>
                                                <ul class="dropdown-menu">

                                                    <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolReport">PDF</a></li>
                                                    <li class="divider"></li>
                                                    <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolReportX">EXCEL</a></li>

                                                </ul>
                                            </li>

                                        }
                                        @if (User.IsInRole("RschoolLevel"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolLevel">تقرير المدارس حسب المرحلة</a></li>


                                        }
                                        @if (User.IsInRole("RschoolTut"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/RSchool/SchoolTuition">تقرير المدارس حسب نوع التعليم</a></li>



                                        }
                                        @if (User.IsInRole("RschoolInfo"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportSchoolInfo">تقرير بيانات مدرسة</a></li>

                                        }
                                        @if (User.IsInRole("RschoolRow"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/ViewReport/ReportSchoolRows">تقرير بيانات صفوف مدرسة</a></li>


                                        }



                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu " role="menu">
                                    <a class="dropdown-toggle arrow-left" data-toggle="dropdown">الجداول</a>
                                    <ul class="dropdown-menu">
                                        @if (User.IsInRole("RTimeTable"))
                                        {
                                            <li>@Html.ActionLink("طباعة جدول لمدرسة محددة", "PrintPage", "TimeTable")</li>
                                        }
                                        @if (User.IsInRole("TimetableTeacher"))
                                        {
                                            <li>@Html.ActionLink("طباعة جدول معلم", "TeachReport", "TimeTable")</li>
                                        }
                                        @if (User.IsInRole("specTimetable"))
                                        {
                                            <li>@Html.ActionLink("طباعة جدول معلم بمدرسة محددة", "IndexTeach", "TimeTable")</li>
                                        }




                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu " role="menu">
                                    <a class="dropdown-toggle arrow-left" data-toggle="dropdown">الندب</a>
                                    <ul class="dropdown-menu">


                                        @if (User.IsInRole("RincAndDes"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowDesAndIncR">تقرير العجز والزيادة</a></li>


                                        }
                                        @if (User.IsInRole("RincTeach"))
                                        {
                                            <li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">تقرير الزيادة بالمعلم</a></li>


                                        }
                                        @if (User.IsInRole("RLastDel"))
                                        {
                                            @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">قرار الندب النهائى</a></li>*@


                                        }

                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu " role="menu">
                                    <a class=" arrow-left" data-toggle="dropdown">احصائيات</a>
                                    <ul class="dropdown-menu">


                                        @*@if (User.IsInRole("RincAndDes"))
                                            {*@
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/HRPDF">تقرير الكوادر البشرية</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rSubjectsPDF"> تقرير احصائية جميع المواد</a></li>

                                        @*}*@
                                        @*@if (User.IsInRole("RincTeach"))
                                            {*@
                                        @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">تقرير الزيادة بالمعلم</a></li>*@


                                        @*}*@
                                        @*@if (User.IsInRole("RLastDel"))
                                            {*@
                                        @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">قرار الندب النهائى</a></li>*@


                                        @*}*@

                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu " role="menu">
                                    <a class=" arrow-left" data-toggle="dropdown">الاحصائية الشاملة</a>
                                    <ul class="dropdown-menu">


                                        @*@if (User.IsInRole("RincAndDes"))
                                            {*@
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaStdPDF">تقرير باعداد الطلاب بمكتب قرطبة</a></li>

                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaClassesPDF">تقرير باعداد فصول بمكتب قرطبة</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaBuildRentPDF">تقرير بالمبانى المستأجرة بمكتب قرطبة</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaBuildGovPDF">تقرير بالمبانى الحكومية بمكتب قرطبة</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaSchoolsGPDF">تقرير باعداد مدارس التعليم العام مكتب قرطبة</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaSchoolsQPDF">تقرير باعداد مدارس تحفيظ القرآن مكتب قرطبة</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="~/statistics/rQortobaSchoolsPPDF">تقرير باعداد مدارس التعليم الخاص مكتب قرطبة</a></li>

                                        @*}*@
                                        @*@if (User.IsInRole("RincTeach"))
                                            {*@
                                        @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">تقرير الزيادة بالمعلم</a></li>*@


                                        @*}*@
                                        @*@if (User.IsInRole("RLastDel"))
                                            {*@
                                        @*<li><a class="dropdown-item" target="_blank" href="~/DesAndInc/ShowIncR">قرار الندب النهائى</a></li>*@


                                        @*}*@

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">
                                التحكم
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @{ if (await authController.IsInRoleAsync("ControlRemp", UserManager.GetUserId(User), db))
                                    {
                                        <li><a class="dropdown-item" href="~/Remp/index"> التحكم فى تقارير المعلمين</a></li>

                                    }
                                    if (await authController.IsInRoleAsync("ControlRschool", UserManager.GetUserId(User), db))
                                    {
                                        <li><a class="dropdown-item" href="~/RSchool/index"> التحكم فى تقارير المدارس</a></li>

                                    }
                                    if (await authController.IsInRoleAsync("UserRole", UserManager.GetUserId(User), db))
                                    {
                                        <li><a class="dropdown-item" href="~/adela/index"> الادلة والتعاميم</a></li>

                                    }
                                    if (await authController.IsInRoleAsync("UserRole", UserManager.GetUserId(User), db))
                                    {
                                        <li><a class="dropdown-item" href="~/Roles/index"> قواعد الصلاحيات</a></li>

                                    }
                                    if (await authController.IsInRoleAsync("DataBaseUpdate", UserManager.GetUserId(User), db))
                                    {
                                        <li><a class="dropdown-item" href="~/UpdateDB/index"> تحديث قاعدة البيانات</a></li>

                                    }
                                    if (await authController.IsInRoleAsync("UserAccount", UserManager.GetUserId(User), db))
                                    {

                                        <li><a class="dropdown-item" target="_blank" href="~/ViewReport/staticEmpPass">تقرير كلمات مرور العاملين</a></li>
                                    }
                                    if (await authController.IsInRoleAsync("UserAccount", UserManager.GetUserId(User), db))
                                    {
                                        <li><a class="dropdown-item" href="~/ViewReport/ReportempPass"> تقرير بيانات معلم كلمة المرور</a></li>

                                    }


                                }
                            </ul>
                        </li>
                        <li class="nav-item dropdown"><a href="/auth/Logout">خروج</a></li>

                    </ul>


                </div>

            </div>

        </div>

        <div class="container">
            @RenderBody()
        </div>
        <footer>
            <div class="overlay">
                <div class="footer-icons">
                    <div class="store">
                        <a href="#"><img src="~/img/app-store-badge.png" alt="app store"></a>
                        <a href="#"><img src="~/img/google-play-badge.png" alt="google play store"></a>
                    </div>
                    <div class="social-media ml-2">
                        <a href="#"><img src="~/img/facebook.png" alt="فيسبوك"></a>
                        <a href="#"><img src="~/img/twitter.png" alt="تويتر"></a>
                        <a href="#"><img src="~/img/logo.png" alt="يوتيوب"></a>
                        <a href="#"><img src="~/img/instagram.png" alt="انستغرام"></a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="links-list">
                    <ul>
                        <li><a href="#">نبذه</a></li>
                        <li><a href="#">نظرة عامة</a></li>
                        <li><a href="#">الرئيسية</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">تقرير</a></li>
                        <li><a href="#">لوحة التحكم</a></li>
                        <li><a href="#">المساعدة</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">آخر الأخبار</a></li>
                        <li><a href="#">انضم الينا</a></li>
                        <li><a href="#">تواصل معنا</a></li>
                    </ul>
                </div>
                <div class="copy-rights">
                    <img src="~/img/logo1.jpeg" alt="قرطبة">
                    <p>جميع الحقوق محفوظة لمكتب قرطبة للتعليم-2020</p>
                    <img src="~/img/unnamed(1).png" alt="صمم">
                </div>
            </div>
        </footer>

        <img class="special-img" src="~/img/Group 309.png" alt="قرطبة">


    </div>

    <script src="~/js-c/js/bootstrap.js"></script>
    <script src="~/js-c/js/main.js"></script>
    <script src="~/js-c/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/keyframes.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/circlos.js"></script>
    <script src="~/js/gridmvc.js"></script>
    <script src="~/js/gridmvc.lang.fr.js"></script>
    <script src="~/js/gridmvc.lang.ru.js"></script>
    <script src="~/js/jquery.validate.js"></script>

    <script src="~/newStyle/js/jquery.min.js"></script>
    <script src="~/newStyle/js/bootstrap.min.js"></script>
    <script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/newStyle/js/functions.js"></script>
    <script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        function ViewMore() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("viewmore");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "المزيد ...";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "طى";
                moreText.style.display = "inline";
            }
        }
        (function ($) {
            $(document).ready(function () {

                $('#stop1').click(function () {
                    var body = $("html, body");
                    body.stop().animate({ scrollTop: 0 }, 500, 'swing', function () {

                    });
                });


                $("ul.dropdown-menu > li > div > input[type=\"text\"]").focusin(function (event) {
                    $(".navbar-nav li:hover > ul.dropdown-menu").addClass("showtxt");
                });
                $("#body12").on("click", function () {

                    $(".navbar-nav li >ul").attr("class", "dropdown-menu dropdown-menu-right");

                });
                $(".btn-danger").on("click", function () {

                    $(".navbar-nav li >ul").attr("class", "dropdown-menu dropdown-menu-right");

                });

                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>

</body>
</html>

