﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/circleP.css" rel="stylesheet" />
    <link href="~/css/protip.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/interface.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/newStyle/css/entypo.css" rel="stylesheet">
    <link href="~/newStyle/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/newStyle/css/mouldifi-core.css" rel="stylesheet">
    <link href="~/newStyle/css/mouldifi-forms.css" rel="stylesheet">
    <link href="~/newStyle/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="~/newStyle/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">
    <link href="~/newStyle/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/newStyle/css/mouldifi-rtl-core.css" rel="stylesheet">
</head>
<body>



    <script src="~/js-c/js/bootstrap.js"></script>
    <script src="~/js-c/js/main.js"></script>
    <script src="~/js-c/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/keyframes.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/circlos.js"></script>
    <script src="~/js/gridmvc.js"></script>
    <script src="~/js/gridmvc.lang.fr.js"></script>
    <script src="~/js/gridmvc.lang.ru.js"></script>
    <script src="~/js/jquery.validate.js"></script>

    <script src="~/newStyle/js/jquery.min.js"></script>
    <script src="~/newStyle/js/bootstrap.min.js"></script>
    <script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/newStyle/js/functions.js"></script>
    <script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>

    @RenderSection("script", required: false)

</body>
</html>
