﻿@model IEnumerable<qortuba.Models.DelegateShow>

@{
    ViewBag.Title = "مباشرة الندب";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .dis {
        display: none;
        visibility: hidden;
    }
</style>
<div class="titleBody">
    <label>مباشرة المعلم المنتدب </label>

</div>


<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">قادة المدارس</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                      

                                            <th style="background-color:#c8f1c3"> كود المعلم</th>
                                            <th style="background-color:#c8f1c3">اسم المعلم </th>
                                            <th style="background-color:#c8f1c3">المدرسة الاساسية </th>
                                            <th style="background-color:#c8f1c3"> المدرسة المنتدب اليها</th>
                                            <th style="background-color:#c8f1c3">المادة </th>
                                            <th style="background-color:#c8f1c3"> تاريخ الندب المبدئى</th>
                                            <th style="background-color:#c8f1c3"> تاريخ الاخلاء</th>
                                            <th style="background-color:#c8f1c3"> تاريخ المباشرة</th>



                                            <th style="background-color:#c8f1c3"> </th>
                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                        <tr class="gradeX">

                                            <td>@item.EmpId</td>
                                            <td>@item.EmpName</td>
                                            <td>@item.FSchoolName</td>
                                            <td>@item.TSchoolName</td>
                                            <td>@item.SubName</td>
                                            <td>@item.FirstDeleDate</td>
                                            <td>@item.ReqDelDate</td>
                                            <td>@item.AcceptedDelDate</td>
                                            <td> @item.ReqDelDate </td>


                                            @if (item.StateAfter == 3)
                                            {
                                                Html.ActionLink("مباشرة", "", new { id = item.EmpId }, new { @class = "btn btn-success bbn dis", id = item.EmpId, alt = item.EmpName });
                                            }

                                            else
                                            {
                                                Html.ActionLink("مباشرة", "", new { id = item.EmpId }, new { @class = "btn btn-success bbn", id = item.EmpId, alt = item.EmpName });

                                            }


                                            <td>@Html.ActionLink("إلغاء مباشرة ", "", new { id = item.EmpId }, new { @class = "btn btn-danger", id = item.EmpId, alt = item.EmpName })</td>


                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>





<div id="accessMod1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-success" role="alert" id="success" style="margin-bottom: 0px; ">
                    <p style="color:saddlebrown;font-weight:bold;">سوف يتم مباشرة المعلم </p> <p id="empnname" style="font-size:15px;color: red;"></p>
                </div>
                <input type="hidden" id="Empid" value="" />
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button id="accessmsg" type="button" class="btn btn-success" data-dismiss="modal">تأكيد</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
<div id="accessMod2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="success" style="margin-bottom: 0px; ">
                    <p style="color:saddlebrown;font-weight:bold;">سوف يتم  حذف مباشرة المعلم </p> <p id="empnname1" style="font-size:15px;color: red;"></p>
                </div>
                <input type="hidden" id="Empid1" value="" />
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button id="accessmsg1" type="button" class="btn btn-danger" data-dismiss="modal">حذف</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
<div id="DelMod1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">
                    هل انت متأكد من المعلم من الندب المبدئى
                </div>
                <input type="hidden" id="EmpVal" value="" />
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button id="delmsg" type="button" class="btn btn-danger" data-dismiss="modal">حذف</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>

        $(".bbn").click(function (e) {
            e.preventDefault();
            var id = $(this).attr('id');
            var ename1 = $(this).attr('alt');
            $('#Empid').val(id);
            $('#empnname').text(ename1);
            $('#accessMod1').modal('show');



        })
        $("#accessmsg").click(function () {
            var id = $('#Empid').val();
            if (id != null) {

                $.ajax({
                    url: "/Delegation/excuteAccept",
                    type: "POST",
                    data: { id: id },

                    success: function (data) {
                        alert('تم مباشرة المعلم');
                        window.location.reload(true);

                    },
                    error: function () {
                        alert('يوجد مشكلة فى مباشرة المعلم');



                    }
                });
            }



        })

        $(".delt").click(function (e) {
            e.preventDefault();
            var id = $(this).attr('id');
            var ename1 = $(this).attr('alt');
            $('#Empid1').val(id);
            $('#empnname1').text(ename1);
            $('#accessMod2').modal('show');



        })
        $("#accessmsg1").click(function () {
            var id = $('#Empid1').val();
            if (id != null) {

                $.ajax({
                    url: "/Delegation/delAccept",
                    type: "POST",
                    data: { id: id },

                    success: function (data) {
                        alert('تم حذف مباشرة المعلم');
                        window.location.reload(true);

                    },
                    error: function () {
                        alert('يوجد مشكلة فى مباشرة المعلم');
                    }
                });
            }



        })


    </script>
}
