﻿@model IEnumerable<qortuba.Models.DelegationDecision>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style type="text/css">
    .format1 {
        text-align: left;
        padding-left: 10%;
    }

        .format1 h4 {
            text-align: left;
            margin-left: 3%;
        }

            .format1 h4:nth-child(1) {
                text-align: left;
                margin-left: 1%;
            }

        .format1 img {
            margin-left: 1%;
        }

    h4 {
        font-family: Changa;
        margin: 20px auto;
    }

    #inHead {
        background-image: linear-gradient(to bottom, green, #263527);
        color: #f79847;
        text-align: center;
        border-radius: 5px;
        height: 50px;
    }

        #inHead p {
            font-size: 15px;
            font-weight: bolder;
            padding-top: 12px;
        }

    #OutHead {
        background-image: linear-gradient(to bottom, blue, #313131);
        color: #f79847;
        text-align: center;
        border-radius: 5px;
        height: 50px;
    }

        #OutHead p {
            font-size: 15px;
            font-weight: bolder;
            padding-top: 12px;
        }

    .uHead {
        margin: 2px 20px 0px 20px;
        width: 90%;
        background-image: linear-gradient(to bottom, #ff9e26, #5d4418);
        height: 40px;
        border-radius: 5px;
        direction: ltr;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .uHead1 {
        margin: 2px 20px 0px 20px;
        width: 90%;
        background-image: linear-gradient(to bottom, #ffe6c0, #5a441c);
        height: 40px;
        border-radius: 5px;
        direction: ltr;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .uHsubb {
        margin: 01px 40px;
        width: 80%;
        background-image: linear-gradient(to bottom, #ebddf7, #d8e2ef);
        height: 30px;
        border-radius: 5px;
        direction: ltr;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .Phead {
        font-size: 13px;
        font-weight: bold;
        color: #fff;
    }

    .badge {
        float: left !important;
    }

    .cblue {
        background-color: blue;
    }

    .cOrange {
        background-color: orange;
    }

    .cRed {
        background-color: red;
    }

    .cGreen {
        background-color: green;
    }

    .list-group {
        padding-right: 20px !important;
        padding-left: 20px !important;
        margin-bottom: 6px !important;
    }

    .inLi {
        width: 90%;
    }

    .dr {
    }

    .static {
        display: block;
    }
    .closeT {
        cursor: pointer;
    }
    .ReportT {
        cursor: pointer;
    }
    .list-group-item {
    cursor:pointer;
    }
</style>


<div class="titleBody">
    <label>تنفيذ الندب</label>

</div>
<div class="container">
    <div class="col-sm-6">
        <div id="inHead"><p>سلة الزيادة</p></div>
        <ul id="inc" style="overflow-y: scroll; height:450px;">

            @*<li class="static"> <button class=" uHead">
                        <span class="badge badge-primary cblue" style="">14</span>
                        <p class="Phead">الرياضيات</p>
                    </button>
                </li>
                <li> <div class="content"> <ul class="inLi"> <li class="list-group-item dr"> <p style="display:inline-block">الاسم :</p><p style="display:inline-block" class="name1">على ابراهيم محمد</p>
                                <a href="#bar" class="protip" data-pt-position="top" data-pt-scheme="blue" data-pt-title="كود المعلم :
                                   &lt;br&gt;
                                   المدرسة الاساسية  : 20">
                                    <span class="badge badge-primary cRed " style="">i</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </li>*@

        </ul>

    </div>
    <div class="col-sm-6">
        <div id="OutHead"><p>سلة العجز</p></div>
        <ul id="des" style="overflow-y: scroll; height:450px;" class="static">
            @*<li class="headS" >
                    <button class=" uHead">
                        <span class="badge badge-primary cblue" style="">14</span>
                        <p class="Phead" alt=>مدرسة البوب الصغير</p>
                    </button>
                    </li>
                <li>
                    <div class="content">
                        <ul class="inLi">
                            <li class="list-group-item dr">
                                محمد على ابراهيم

                                <a href="#bar" class="protip" data-pt-position="top" data-pt-scheme="blue" data-pt-title="الاسم : احمد محمد
                                   &lt;br&gt;
                                   السن : 20">
                                    <span class="badge badge-primary cRed " style="">i</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </li>*@


        </ul>

    </div>

</div>
<div id="subject1" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تنفيذ الندب </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="Ptxt"> </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">تنفيذ</button>

                <button type="button" id="cancels" class="btn btn-danger">اغلاق</button>
            </div>
        </div>
    </div>
</div>
@*Error Model*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.protip();
            load();
            load2();
            $('#inc').sortable({
                connectWith: '#des',
                containment: $('#des')
            }).disableSelection();

            $('#des').sortable({
                connectWith: '#inc',
                containment: $('#des'),
                html: true,
                update: function (event, ui) {
                    var v1 = 'سوف يتم ندب المعلم ' + ' / ';
                    var v2 = ui.item[0].innerText;
                    var empId1 = ui.item[0].innerHTML;
                    var empId = empId1.match(/(\d+)/g);
                    var idDel = empId[0];
                    var Eid = empId[1];
                    var v3 = v2.split(':').pop().split('i')[0];
                    var v4 = v3.trim();
                    var scl = $(ui.item).prevAll('.static').children('button').children('p').html();
                    var scID = $(ui.item).prevAll('.static').children('button').children('p').attr("id");
                    var bb = '\n';
                    var v5 = ' الى مدرسة ' + ' / ' + scl;

                    var message = v1 + v4 + bb + v5;
                    $('#Ptxt').text(message);
                    $("#subject1").modal('show');
                    $('#cancels').on('click', function () {
                        $("#subject1").modal('hide');
                        ui.sender.sortable("cancel");

                    });
                    $('#save').on('click', function () {
                        var pram = {idDel: idDel,empid: Eid,schid: scID }
                        $.ajax({
                            url: "/Delegation/addDele",
                            type: "POST",
                            data: pram,
                            success: function (data) {
                                $("#subject1").modal('hide');
                                load();
                                load2();


                            },
                            error: function () {
                                $("#error").html("مشكلة فى الحفظ");
                                $("#myModal").modal('show');


                            }
                        });

                    });
                    //    ui.sender.sortable("cancel");

                }

            });
         
                $(document).on('click', '.closeT', function () {
                    var empd = $(this).attr('alt'); 
                    var idDele = $(this).attr('name');
                    var pra = { idDele: idDele, empid: empd}
                $.ajax({
                    url: "/Delegation/DelDele",
                    type: "POST",
                    data: pra,
                    success: function (data) {
                        load();
                        load2();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            });
            $(document).on('click', '.ReportT', function () {
                var empd = $(this).attr('alt');
                var idDele = $(this).attr('name');
                var pra = {idDele:idDele, empid: empd }
                $.ajax({
                    url: "/Delegation/DelReport",
                    type: "POST",
                    data: pra,
                    success: function (data) {
                        load();
                        load2();
                    },
                    error: function () {
                        $("#error").html("مشكلة فى عرض التقرير");
                        $("#myModal").modal('show');


                    }
                });
            });

            function load() {
                $.ajax({
                    url: "/Delegation/getHSchool",
                    type: "GEt",
                    success: function (data) {
                        var html = '';
                        var i;
                        for (i = 0; i < data.length; i++) {
                            html += data[i].schName;
                            $('#des').html(html);
                        }

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });

            }
            function load2() {
                $.ajax({
                    url: "/Delegation/getHTeachers",
                    type: "GEt",
                    success: function (data) {
                        var html = '';
                        var i;
                        for (i = 0; i < data.length; i++) {
                            html += data[i].schName;
                            $('#inc').html(html);
                        }

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });

            }

        });
        var coll = document.getElementsByClassName("uHead");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

}