﻿@model qortuba.Models.ModeView.vmboard

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style type="text/css">
    .format1 {
        text-align: left;
        padding-left: 10%;
    }

        .format1 h4 {
            text-align: left;
            margin-left: 3%;
        }

            .format1 h4:nth-child(1) {
                text-align: left;
                margin-left: 1%;
            }

        .format1 img {
            margin-left: 1%;
        }

    h4 {
        font-family: Changa;
        margin: 20px auto;
    }
</style>

<div class="titleBody">
    <label>قرار الندب المبدئى </label>

</div>
<div class="container" style="background-color:#fff" ;>
    @{

        if (ViewBag.SuccessM != null)
        {
            <div class="alert alert-success" role="alert">
                <h4>تم تنفيذ/تعديل الندب المبدئى بنجاح</h4>
            </div>


        }
        if (ViewBag.ErrorM != null)
        {
            <div class="alert alert-success" role="alert">
                <h4>يوجد مشكلة فى تنفيذ الندب</h4>
            </div>


        }



    }

    @foreach (var pr in Model.DelDec)
    {

        int sh = Convert.ToInt32(ViewBag.chk);
        if (sh > 0)
        {
            <div class="row">
                @Html.ActionLink("طباعة / استخراج", "PrintFirstDelegationReport", new { id = pr.TID }, new { @class = "btn btn-warning col-md-4 ", @style = "width: 20%;margin: 10px auto;", target = "_blank" })
                <span class="col-md-6 col-md-pull-2 ">
                    <span class="btn btn-primary"> كود الندب / التتبع</span> <span class="btn btn-warning"> : </span> <span class="btn btn-danger" style="color:#fff;"> @pr.DelID</span>
                </span>
            </div>
            <div class="row">


            </div>

        }



        if (ViewBag.chk.ToString() == "1")
        {
            <div id="Dis">
                <img src=@Url.Content("~/images/logo1.jpg") width="150" height="150" />
                <div>
                    <p>
                        <h4 style="text-decoration:underline;margin-bottom: 30px;font-size: 21px;"><b>قرار ندب مبدئى</b></h4>
                        <h4>
                            انه فى يوم @pr.dayname1 الموافق @pr.dateHajry

                        </h4>
                        <h4>
                            إجتمع مجلس إدراة المدرسة بقيادة قائد المدرسة الاستاذ /   <b>  @pr.ManagName  </b>

                        </h4>
                        <h4>
                            وقد قرر الأتى :

                        </h4>

                        <h4>
                            وضع المعلم / <b> @pr.TeachName <b>

                        </h4>
                    <p style="color:blue;font-size: 18px;margin: 20px auto;">
                        تحت الندب المبدئى بعد اجتماع مجلس المدرسة المكون من

                    </p>
                    <table class="table" style="margin: 20px auto;width: 450px;">
                        <tr><th style="color:#986811;font-size: 18px;text-align: center;">الاسم</th><th>           </th> <th style="color:#986811;font-size: 18px;text-align: center;">الوظيفة</th></tr>
                        @foreach (var dr in Model.dbod)
                        {
                            <tr><td style="color:blue;font-size: 18px;">@dr.name</td><td>           </td><td style="color:green;font-size: 18px;">@dr.job</td></tr>
                        }

                    </table>
                    <div class="format1">
                        <h4>توقيع قائد المدرسة</h4>
                        @{
                            string sig = "~/Upload/" + pr.SchId + "/Secret/1.png";
                            string seal = "~/Upload/" + pr.SchId + "/Secret/2.png";
                        }
                        <img src=@Url.Content(sig) width="140" height="140" />


                        <h4>ختم المدرسة</h4>
                        <img src=@Url.Content(seal) width="140" height="140" />
                    </div>
                </div>
            </div>
        }
        if (ViewBag.chk.ToString() == "2")
        {
            <div id="Dis">
                <img src=@Url.Content("~/images/logo1.jpg") width="150" height="150" />
                <div>
                    <p>
                        <h4 style="text-decoration:underline;margin-bottom: 30px;font-size: 21px;"><b>قرار ندب مبدئى</b></h4>
                        <h4>
                            انه فى يوم @pr.dayname1 الموافق @pr.dateHajry

                        </h4>
                        <h4>
                            إجتمع مجلس إدراة المدرسة بقيادة قائد المدرسة الاستاذ /   <b>  @pr.ManagName  </b>

                        </h4>
                        <h4>
                            وقد قرر الأتى :

                        </h4>

                        <h4>
                            وضع المعلم / <b> @pr.TeachName <b>

                        </h4>
                    <p style="color:blue;font-size: 18px;margin: 20px auto;">
                        تحت الندب المبدئى لصالح المصلحة التعليمية

                    </p>
                    <div class="format1">
                        <h4>توقيع قائد المدرسة</h4>
                        @{
                            string sig = "~/Upload/" + pr.SchId + "/Secret/1.png";
                            string seal = "~/Upload/" + pr.SchId + "/Secret/2.png";
                        }
                        <img src=@Url.Content(sig) width="140" height="140" />


                        <h4>ختم المدرسة</h4>
                        <img src=@Url.Content(seal) width="140" height="140" />
                    </div>
                </div>
            </div>
        }
        if (ViewBag.chk.ToString() == "3")
        {
            <div id="Dis">
                <img src=@Url.Content("~/images/logo1.jpg") width="150" height="150" />
                <div>
                    <p>
                        <h4 style="text-decoration:underline;margin-bottom: 30px;font-size: 21px;"><b>قرار ندب مبدئى</b></h4>
                        <h4>
                            انه فى يوم @pr.dayname1 الموافق @pr.dateHajry

                        </h4>
                        <h4>
                            إجتمع مجلس إدراة المدرسة بقيادة قائد المدرسة الاستاذ /   <b>  @pr.ManagName  </b>

                        </h4>
                        <h4>
                            وقد قرر الأتى :

                        </h4>

                        <h4>
                            وضع المعلم / <b> @pr.TeachName <b>

                        </h4>
                    <p style="color:blue;font-size: 18px;margin: 20px auto;">
                        تحت الندب المبدئى بسبب

                    </p>
                    <p>@pr.other</p>
                    <div class="format1">
                        <h4>توقيع قائد المدرسة</h4>
                        @{
                            string sig = "~/Upload/" + pr.SchId + "/Secret/1.png";
                            string seal = "~/Upload/" + pr.SchId + "/Secret/2.png";
                        }
                        <img src=@Url.Content(sig) width="140" height="140" />


                        <h4>ختم المدرسة</h4>
                        <img src=@Url.Content(seal) width="140" height="140" />
                    </div>
                </div>
            </div>
        }




    }





</div>


