﻿@model qortuba.Models.ModeView.Schools

@{
    ViewBag.Title = "جداول المدرسة";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<div class="titleBody ">
    <label class="lbl-nav"><a>المنتدب من المدرسة</a> </label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .fright {
        float: right;
    }

    #id {
        width: 70px;
    }
</style>
<div class="panel panel-info">
    <div class="panel-heading" style="background-color:#efc66c;font-size:16px;">
        الادلة والتعاميم
    </div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                تحميل الادلة والتعاميم
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dir="rtl">
                @foreach (var de in ViewBag.adela)
                {
                    string path = de.id + de.adFile;
                    string dname = de.adName + de.adFile;
                    <li><a href="../../Upload/Emp/@path" download="@dname">@de.adName</a></li>
                }


            </ul>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#9dc9ef;">
        <div class="form-inline">
            <div class="form-group row col-md-4">
                @Html.Label("", "كود المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.SchoolID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("", "اسم المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.School, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("", "الدائرة التعليمية", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.circleAll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "النوع", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.TSchoolsType.SchoolsType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "عدد الفصول", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@ViewBag.cClass" readonly />

                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("", "عدد التلاميذ", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@ViewBag.cStud" readonly />
                </div>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>الصف</th>
                    <th>عدد الفصول</th>
                    <th>عدد الطلبة</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cr in Model.tCLassRow)
                {

                    <tr>
                        <td>@cr.TLevel_Row.NameRow</td>
                        <td>@cr.CLass</td>
                        <td>@cr.pupil</td>
                    </tr>
                }
            </tbody>
        </table>






    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">مواد الزيادة</h4>
    </div>
    <div class="panel-body">


        <table class="table">
            <thead>
                <tr>
                    <th>مادة الزيادة</th>
                    <th>عدد الحصص</th>
                    <th>عدد المعلمين</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.desTimeTable)
                {

                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.subj)</td>
                        <td>@Html.DisplayFor(modelItem => item.addclass)</td>
                        <td>@Html.DisplayFor(modelItem => item.addSub)</td>

                        <td> </td>
                    </tr>
                }
            </tbody>
        </table>






    </div>

</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">المعلمين المنتدبين مبدئياً</h4>
    </div>
    <div class="panel-body">


        <table class="table">
            <thead>
                <tr>
                    <th>السجل المدنى</th>
                    <th>الاسم</th>
                    <th>مادة التدريس</th>
                    <th>تاريخ الندب المبدئى</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.dele)
                {

                    <tr>
                        <td><input type="text" value="@Html.DisplayFor(modelItem => item.EmpId) " disabled /></td>
                        <td>@Html.DisplayFor(modelItem => item.EmpName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SubName)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstDeleDate)</td>

                        <td> </td>
                    </tr>
                }
            </tbody>
        </table>






    </div>

</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">العاملين بالمدرسة</h4>
    </div>
    <div class="panel-body">


        <table class="table">
            <thead>
                <tr>
                    <th>السجل المدنى</th>
                    <th>الاسم</th>
                    <th>مادة التدريس</th>
                    <th>النصاب</th>
                    <th>الحالة</th>
                    <th>الندب المبدئى</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.desForTime)
                {



                    <tr>
                        <td><input type="text" value="@Html.DisplayFor(modelItem => item.empId) " disabled /></td>
                        <td>@Html.DisplayFor(modelItem => item.Teacher)</td>
                        <td>@Html.DisplayFor(modelItem => item.subj)</td>
                        <td>@Html.DisplayFor(modelItem => item.Reduce)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estat)</td>
                        <td> @Html.ActionLink("وضع تحت الندب المبدئى", "ExpoertDecisionEXcManager", new { id = item.empId }, new { @class = "btn btn-success", target = "_blank" })</td>
                        <td><a id="@Html.DisplayFor(modelItem => item.empId)" class="btn dl-horizontal btn-danger par">حذف المعلم من الندب المبدئى</a></td>

                        @*<td> @Html.ActionLink("طباعة قرار الندب المبدئى", "PrintFirstDelegationReport", new { id = item.empId }, new { @class = "btn btn-info", target = "_blank" })</td>
                            <td> @Html.ActionLink("طباعة إخلاء الطرف", "showTeachReport", new { id = item.empId }, new { @class = "btn btn-warning", target = "_blank" })</td>*@

                        <td> </td>
                    </tr>
                }
            </tbody>
        </table>






    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">

            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="check" style="margin-bottom: 0px; ">
                    <span class="form-inline text-primary"> هل انت متأكد من حذف الجدول رقم :</span> <span id="delCode" class="form-inline"></span>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <a id="exDel" class="btn btn-danger" onclick="DelTable();">حذف</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@*Error Model*@
<div id="DelMod" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">

                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>

<div id="DelMod1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">
                    هل انت متأكد من المعلم من الندب المبدئى
                </div>
                <input type="hidden" id="EmpVal" value="" />
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button id="delmsg" type="button" class="btn btn-danger" data-dismiss="modal">حذف</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $('.caseA').change(function () {
            var id = $(this).attr('placeholder');
            $.ajax({
                url: "/TimeTable/ChangeActive/" + id,
                type: "POST",

                success: function (data) {
                    alert('تم تحديث جدول العمل');

                },
                error: function () {
                    $("#error").html("مشكلة فى التحديث");

                }
            });

        });


        $(".table tbody").on('click', '#edit1', function () {

            var currentRow = $(this).closest('tr');
            var Sid = $("#tSchools_SchoolID").val();
            var id = currentRow.find("td:eq(0)").find("input").val();
            var ac = currentRow.find("td:eq(6)").find("input").val();
            var as1 = currentRow.find("td:eq(7)").find("select").val();


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/EditT",
                    type: "POST",
                    data: { id: id, id1: Sid, sp: ac, rd: as1 },

                    success: function (data) {
                        alert('تم التعديل');


                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");



                    }
                });
            }

        })
        $(".par").click(function () {

            var id = $(this).attr('id');
            $('#EmpVal').val(id);
            $('#DelMod1').modal('show');



        })
        $('#delmsg').click(function () {
            var id = $('#EmpVal').val();
            if (id != null) {

                $.ajax({
                    url: "/Delegation/DeleteDelEXc",
                    type: "POST",
                    data: { id: id },

                    success: function (data) {
                        alert('تم الحذف');
                        window.location.reload(true);

                    },
                    error: function () {
                        alert('لم يتم تسجيل المعلم فى الندب المبدئى او تخطى هذة المرحلة');



                    }
                });
            }



        });
        function delT(id) {

            $('#delCode').text(id);
            $('#myModal').modal('show');
        }

        function DelTable() {
            var id = $('#delCode').html();
            $.ajax({
                url: "/TimeTable/deleteTable?id=" + id,
                type: "POST",

                success: function (data) {

                    window.location.reload();

                },
                error: function () {
                    $("#error").html("مشكلة فى الحفظ");
                    $("#DelMod").modal('show');
                }
            });
        }

    </script>
}
