﻿@model IEnumerable<qortuba.Models.Delegation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}




<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"> <قبول الندب/h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>

                  
                                            <th style="background-color:#c8f1c3"> كود المعلم</th>
                                            <th style="background-color:#c8f1c3"> اسم المعلم </th>
                                            <th style="background-color:#c8f1c3">  المادة </th>
                                            <th style="background-color:#c8f1c3">المنطقة  </th>
                                            <th style="background-color:#c8f1c3">  كود المدرسة السابقة</th>
                                            <th style="background-color:#c8f1c3"> اسم المدرسة السابقة </th>
                                            <th style="background-color:#c8f1c3">  الدائرة التعليمية السابقة</th>
                                         


                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                        <tr class="gradeX">
                                            columns.Add(foo => foo.).Titled("كود المعلم").SetWidth(70).Sortable(true).Filterable(true);
                                            columns.Add(foo => foo.).Titled("اسم المعلم").SetWidth(200).Sortable(true).Filterable(true);
                                            columns.Add(foo => foo.).Titled("المادة").SetWidth(200).Sortable(true).Filterable(true);
                                            columns.Add(foo => foo.).Titled("كود المدرسة السابقة").SetWidth(90).Sortable(true).Filterable(true);
                                            columns.Add(foo => foo.).Titled("اسم المدرسة السابقة").SetWidth(110).Sortable(true).Filterable(true);
                                            columns.Add(foo => foo.).Titled("الدائرة التعليمية السابقة").SetWidth(110).Sortable(true).Filterable(true);

                                            <td>@item.EmpId</td>
                                            <td>@item.EmpName</td>
                                            <td>@item.SubName</td>
                                            <td>@item.FSchoolId</td>
                                            <td>@item.FSchoolName</td>
                                            <td>@item.FEdCircle</td>


                                            <td>@Html.ActionLink(" قرار قبول المعلم", "ImportDecision", new { id = item.EmpId }, new { @class = "btn btn-success" })</td>

                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>