﻿@model IEnumerable<qortuba.Models.DelegateShow>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading" style="background-color:#efc66c;font-size:16px;">
        الادلة والتعاميم
    </div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
                تحميل الادلة والتعاميم
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dir="rtl">
                @foreach (var de in ViewBag.adela)
                {
                    string path = de.id + de.adFile;
                    string dname = de.adName + de.adFile;
                    <li><a href="../../Upload/Emp/@path" download="@dname">@de.adName</a></li>
                }


            </ul>
        </div>
    </div>
</div>



<link href="~/newStyle/css/entypo.css" rel="stylesheet">    <link href="~/newStyle/css/font-awesome.min.css" rel="stylesheet">
<link href="~/newStyle/css/mouldifi-core.css" rel="stylesheet">
<link href="~/newStyle/css/mouldifi-forms.css" rel="stylesheet">
<link href="~/newStyle/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
<link href="~/newStyle/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">
<link href="~/newStyle/css/bootstrap-rtl.min.css" rel="stylesheet">
<link href="~/newStyle/css/mouldifi-rtl-core.css" rel="stylesheet">



@*<link href="~/newStyle/css/bootstrap.css" rel="stylesheet" />
    <link href="~/newStyle/css/bootstrap.min.css" rel="stylesheet">*@


<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">الندب</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>

                                            <th style="background-color:#c8f1c3"> كود الندب</th>
                                            <th style="background-color:#c8f1c3"> كود المعلم</th>
                                            <th style="background-color:#c8f1c3">اسم المعلم </th>
                                            <th style="background-color:#c8f1c3"> المادة</th>
                                            <th style="background-color:#c8f1c3"> المدرسة الاساسية</th>
                                            <th style="background-color:#c8f1c3">المدرسة المنتدب اليها </th>
                                            <th style="background-color:#c8f1c3"> تاريخ الندب المبدئي</th>
                                            <th style="background-color:#c8f1c3">  تاريخ تنفيذ الندب</th>
                                            <th style="background-color:#c8f1c3">تاريخ القبول </th>
                                            <th style="background-color:#c8f1c3">حالة الندب</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr class="gradeX">
                                            <td>@item.id</td>
                                            <td>@item.EmpId</td>
                                            <td>@item.EmpName</td>
                                            <td>@item.SubName</td>
                                            <td>@item.FSchoolName</td>
                                            <td>@item.TSchoolName</td>
                                            <td>@item.FirstDeleDate</td>
                                            <td>@item.DelegationDate</td>
                                            <td>@item.AcceptedDelDate</td>
                                            <td>@item.DelState</td>

                                            @*<td>@Html.ActionLink("التفاصيل", "Details", new { id = item.id }, new { @class = "btn btn-info" })</td>
                                            <td>@Html.ActionLink("تعديل", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })</td>
                                            <td>@Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })</td>*@
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>