﻿@model qortuba.Models.ModeView.Schools
@{
    ViewBag.Title = "قائد المدرسة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="titleBody ">
    <label class="lbl-nav"><a href="~/TimeTable/Index">قائد المدرسة</a> </label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .fright {
        float: right;
    }

    #id {
        width: 70px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#9dc9ef;">
        <div class="form-inline">
            <div class="form-group row col-md-4">
                @Html.Label("","كود المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.SchoolID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("", "اسم المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.School, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("", "الدائرة التعليمية", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.circleAll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("","النوع", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.TSchoolsType.SchoolsType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("", "عدد الفصول", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@ViewBag.cClass" readonly />

                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("", "عدد التلاميذ", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@ViewBag.cStud" readonly />
                </div>
            </div>
        </div>


    </div>
</div>
<div class="panel-body">
    <table class="table">
        <thead>
            <tr>
                <th>الصف</th>
                <th>عدد الفصول</th>
                <th>عدد الطلبة</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cr in Model.tCLassRow)
            {

                <tr>
                    <td>@cr.TLevel_Row.NameRow</td>
                    <td>@cr.CLass</td>
                    <td>@cr.pupil</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@using (Html.BeginForm("ManagerPageSp", "Delegation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <label for="file1" class="form-control">توقيع قائد المدرسة:</label>
    <input type="file" name="file1" id="file1" class="form-control" />

    <label for="file2" class="form-control">ختم المدرسة:</label>
    <input type="file" name="file2" id="file2" class="form-control" />
    <input id="id" name="id" type="hidden" value="@Model.tSchools.SchoolID" />
    <input type="submit" />


}
<div class="format1">

    <span>توقيع قائد المدرسة</span>

    <img src=@Url.Content("~/Upload/"+@Model.tSchools.SchoolID+"/Secret/1.png") width="140" height="140" />



    <span>ختم المدرسة</span>
    <img src=@Url.Content("~/Upload/"+@Model.tSchools.SchoolID+"/Secret/2.png") width="140" height="140" />

</div>


@section scripts{
    <script>
        $(function () {
            $('input[type=file]').change(function () {
                var val = $(this).val().toLowerCase(),
                    regex = new RegExp("(.*?)\.(png)$");

                if (!(regex.test(val))) {
                    $(this).val('');
                    alert('من فضلك يجب ان يكون امتداد الصورة (png)');
                }
            });
        });

    </script>

}

