﻿@model qortuba.Models.ModeView.EndReport

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/css/sweetalert2.css" rel="stylesheet" />
<link href="~/css/circleP.css" rel="stylesheet" />
<link href="~/css/protip.min.css" rel="stylesheet" />
<link href="~/css/animate.css" rel="stylesheet" />
<link href="~/css/all.css" rel="stylesheet" />
<link href="~/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<link href="~/css/Site.css" rel="stylesheet" />
<link href="~/css/interface.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/newStyle/css/entypo.css" rel="stylesheet">
<link href="~/newStyle/css/font-awesome.min.css" rel="stylesheet">
<link href="~/newStyle/css/mouldifi-core.css" rel="stylesheet">
<link href="~/newStyle/css/mouldifi-forms.css" rel="stylesheet">
<link href="~/newStyle/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
<link href="~/newStyle/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">
<link href="~/newStyle/css/bootstrap-rtl.min.css" rel="stylesheet">
<link href="~/newStyle/css/mouldifi-rtl-core.css" rel="stylesheet">


<style type="text/css">
    .format1 {
        text-align: left;
        padding-left: 10%;
    }

        .format1 h4 {
            text-align: left;
            margin-left: 3%;
        }

            .format1 h4:nth-child(1) {
                text-align: left;
                margin-left: 1%;
            }

        .format1 img {
            margin-left: 1%;
        }

    h4 {
        font-family: Changa;
        margin: 20px auto;
    }

    .dv {
        display: inline-block;
    }

    .dvm {
        display: inline-block;
        margin-left: 140px;
    }

    .bdy {
        display: inline-block;
        margin-left: 220px;
    }

    table th {
        width: 320px;
        background-color: beige;
    }

    span {
        margin-top: 20px;
    }

    .tg {
        font-weight: bold;
        font-size: 15px;
    }

    .cor {
        color: green;
    }

    .cor2 {
        color: red;
    }

    .sep {
        height: 40px;
    }
</style>

@if (ViewBag.chk == "1")
{
    foreach (var pp in Model.dele)
    {
        <div id="bdy" dir="rtl">
            <div class="container" style="background-color:#fff; ">

                <div>
                    <div class="bdy">
                        <img src=@Url.Content("~/images/min.png") width="150" height="150" />
                    </div>
                    <div class="bdy">
                        <img src=@Url.Content("~/images/logo1.jpg") width="130" height="130" />
                    </div>
                    <div class="dv">
                        <img src=@Url.Content("~/images/roa.png") width="150" height="150" />
                    </div>
                    <p style="margin-right:-80px;margin-top: 30px; font-weight:bold;">الادارة العامة للتعليم بمنطقة الرياض – مكتب التعليم بقرطبة </p>
                    <div class="dvm">
                        <span>الرقم : </span>
                        <span id="id">@pp.id </span>
                    </div>
                    <div class="dvm">
                        <span>التاريخ الهجرى : </span>
                        <span id="hajry">@pp.hajry </span>
                    </div>
                    <div class="dvm">
                        <span>التاريخ الميلادى : </span>
                        <span id="Melad">@pp.Melad </span>
                    </div>
                    <div class="dv">
                        <span style="color:green">الموضوع : </span>
                        <span> الندب</span>
                    </div>

                    <hr style="border-top: 1px solid black;" />
                    <table>
                        <tr>
                            <th>
                                <p>اسم المعلم</p>
                            </th>
                            <th>
                                <p>السجل المدنى</p>
                            </th>
                            <th>
                                <p>التخصص</p>
                            </th>
                        </tr>
                        <tr>
                            <td><p>@pp.EmpName</p></td>
                            <td><p>@pp.EmpId</p></td>
                            <td><p>@pp.SubName</p></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>
                                <p>المدرسة الاصلية</p>
                            </th>
                            <th>
                                <p>المدرسة المندوب اليها</p>
                            </th>
                            <th style="width:160px;">
                                <p>نوع الندب</p>
                            </th>
                            <th style="width:160px;">
                                <p>نهاية الندب</p>
                            </th>
                        </tr>
                        <tr>
                            <td><p>@pp.FSchoolName</p></td>
                            <td><p>@pp.TSchoolName</p></td>
                            <td><p>@pp.DelType </p></td>
                            <td><p>@pp.EndDel </p></td>
                        </tr>
                    </table>
                    @if (pp.DelTypeID == "2")
                    {
                        <table>
                            <tr>
                                <th>
                                    <p>عدد الايام</p>
                                </th>
                                <th>
                                    <p>عدد الحصص</p>
                                </th>

                            </tr>
                            <tr>
                                <td><p>@pp.DelDays</p></td>
                                <td><p>@pp.DelClass</p></td>

                            </tr>
                        </table>
                    }
                    <div class="sep">
                        <span class="tg">المكرم قائد المدرسة :  </span>
                        <span> @pp.ManagerName</span>
                    </div>
                    <div class="sep">
                        <span class="tg">لقد تقرر ندب المعلم الموضحة هويته أعلاه بناءً على </span>
                        <span>  قرار مجلس المدرسة المكون من :</span>
                    </div>
                    <table class="table" style="margin: 10px auto;width: 450px;">
                        <tr><th style="color:#986811;font-size: 12px;text-align: center;">الاسم</th> <th style="color:#986811;font-size: 12px;text-align: center;">الوظيفة</th></tr>
                        @foreach (var dr in Model.dbod)
                        {
                            <tr><td style="color:blue;font-size: 10px;">@dr.name</td><td style="color:green;font-size: 10px;">@dr.job</td></tr>
                        }

                    </table>
                    <div class="sep">
                        <span class="tg">نأمل إخلاء طرفه وحثّه على سرعة المباشرة في مدرسته المندوب لها : </span>
                        <span> @pp.TSchoolName</span>
                    </div>
                    <div style="display:block;">
                        <span class="tg cor">إخلاء الطرف : </span>
                    </div>
                    <div>

                        <span style=" color:blue; font-weight:bold;"> تمت بتاريخ : </span>
                        <span>@pp.ReqDelDate</span>
                        <span style="margin-right: 10px; color:saddlebrown;font-weight:bold;">اسم قائد المدرسة الاصلية : </span>
                        <span>@pp.ManagerName</span>
                        <span style="margin-right: 10px;">توقيعة :</span>
                        @{
                            string sig = "~/Upload/" + pp.FSchoolId + "/Secret/1.png";
                            string seal = "~/Upload/" + pp.FSchoolId + "/Secret/2.png";
                        }
                        <span><img src=@Url.Content(sig) width="90" height="90" /></span>
                        <span style="margin-right: 10px;">الختم :</span>
                        <span><img src=@Url.Content(seal) width="90" height="90" /></span>
                    </div>
                    <div style="display:block;">
                        <span class="tg cor">المباشرة : </span>
                    </div>
                    <div>

                        <span style=" color:blue; font-weight:bold;"> تمت بتاريخ : </span>
                        <span>@pp.AcceptedDelDate</span>
                        <span style="margin-right: 10px;color:saddlebrown;font-weight:bold;">اسم قائد المدرسة المندوب لها : </span>
                        <span>@pp.ManagerTo</span>
                        @{
                            string sig1 = "~/Upload/" + pp.TSchoolId + "/Secret/1.png";
                            string seal1 = "~/Upload/" + pp.TSchoolId + "/Secret/2.png";
                        }
                        <span style="margin-right: 10px;">توقيعة :</span>
                        <span><img src=@Url.Content(sig1) width="90" height="90" /></span>
                        <span style="margin-right: 10px;">الختم :</span>
                        <span><img src=@Url.Content(seal1) width="90" height="90" /></span>
                    </div>
                    <div class="sep">
                        <span class="tg cor">الاعتماد : </span>
                        <span>:  تم اعتماد الندب  بتاريخ :  </span>
                        <span>@pp.DelegationDate</span>
                    </div>
                    <div class="sep">
                        <span class="tg cor2">ملاحظات : </span>
                        <span>@pp.goodOrNot </span>
                    </div>
                    <div>
                        <span class="tg">المساعد للشؤون المدرسية بمكتب التعليم بقرطبة</span>
                        <span class="tg" style="margin-right: 350px;">مدير مكتب التعليم بقرطبة </span>
                    </div>
                    <div style="margin-top: 20px;">
                        <span>
                            <span>الاسم :</span>
                            <span id="4">@pp.AssesName</span>
                        </span>
                        <span style="margin-right: 480px;">
                            <span>الاسم :</span>
                            <span id="5">@pp.ManName </span>
                        </span>
                    </div>
                    <div>
                        @{
                            string MannSig = "~/Upload/" + pp.AssesSchid + "/emps/" + pp.AssesCode + ".png";
                            string AssesSig = "~/Upload/" + pp.ManSchid + "/emps/" + pp.ManCode + ".png";
                            string officeSig = "~/Upload/officeAc/offSig.png";
                        }
                        <span>
                            <span>التوقيع :</span>
                            <span><img src=@Url.Content(AssesSig) width="90" height="90" /></span>
                        </span>
                        <span style="margin-right: 510px;">
                            <span>التوقيع :</span>
                            <span><img src=@Url.Content(MannSig) width="90" height="90" /></span>
                        </span>
                    </div>
                    <div style="margin-right: 410px;">ختم المكتب</div>
                    <div style="margin-right: 400px;"><img src=@Url.Content(officeSig) width="90" height="90" /></div>
                </div>



            </div>

        </div>
    }
}
@if (ViewBag.chk == "2")
{
    foreach (var pp in Model.dele)
    {
        <div id="bdy" dir="rtl">
            <div class="container" style="background-color:#fff; ">

                <div>
                    <div class="bdy">
                        <img src=@Url.Content("~/images/min.png") width="150" height="150" />
                    </div>
                    <div class="bdy">
                        <img src=@Url.Content("~/images/logo1.jpg") width="130" height="130" />
                    </div>
                    <div class="dv">
                        <img src=@Url.Content("~/images/roa.png") width="150" height="150" />
                    </div>
                    <p style="margin-right:-80px;margin-top: 30px; font-weight:bold;">الادارة العامة للتعليم بمنطقة الرياض – مكتب التعليم بقرطبة </p>
                    <div class="dvm">
                        <span>الرقم : </span>
                        <span id="id">@pp.id </span>
                    </div>
                    <div class="dvm">
                        <span>التاريخ الهجرى : </span>
                        <span id="hajry">@pp.hajry </span>
                    </div>
                    <div class="dvm">
                        <span>التاريخ الميلادى : </span>
                        <span id="Melad">@pp.Melad </span>
                    </div>
                    <div class="dv">
                        <span style="color:green">الموضوع : </span>
                        <span> الندب</span>
                    </div>

                    <hr style="border-top: 1px solid black;" />
                    <table>
                        <tr>
                            <th>
                                <p>اسم المعلم</p>
                            </th>
                            <th>
                                <p>السجل المدنى</p>
                            </th>
                            <th>
                                <p>التخصص</p>
                            </th>
                        </tr>
                        <tr>
                            <td><p>@pp.EmpName</p></td>
                            <td><p>@pp.EmpId</p></td>
                            <td><p>@pp.SubName</p></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>
                                <p>المدرسة الاصلية</p>
                            </th>
                            <th>
                                <p>المدرسة المندوب اليها</p>
                            </th>
                            <th style="width:160px;">
                                <p>نوع الندب</p>
                            </th>
                            <th style="width:160px;">
                                <p>نهاية الندب</p>
                            </th>
                        </tr>
                        <tr>
                            <td><p>@pp.FSchoolName</p></td>
                            <td><p>@pp.TSchoolName</p></td>
                            <td><p>@pp.DelType </p></td>
                            <td><p>@pp.EndDel </p></td>
                        </tr>
                    </table>
                    @if (pp.DelTypeID == "2")
                    {
                        <table>
                            <tr>
                                <th>
                                    <p>عدد الايام</p>
                                </th>
                                <th>
                                    <p>عدد الحصص</p>
                                </th>

                            </tr>
                            <tr>
                                <td><p>@pp.DelDays</p></td>
                                <td><p>@pp.DelClass</p></td>

                            </tr>
                        </table>
                    }
                    <div class="sep">
                        <span class="tg">المكرم قائد المدرسة :  </span>
                        <span> @pp.ManagerName</span>
                    </div>
                    <div class="sep">
                        <span class="tg">لقد تقرر ندب المعلم الموضحة هويته أعلاه بناءً على </span>
                        <span> المصلحة التعليمية</span>
                    </div>

                    <div class="sep">
                        <span class="tg">نأمل إخلاء طرفه وحثّه على سرعة المباشرة في مدرسته المندوب لها : </span>
                        <span> @pp.TSchoolName</span>
                    </div>
                    <div>
                        <div>
                            <span class="tg cor">إخلاء الطرف : </span>
                        </div>
                        <span style="margin-right: 20px; color:blue; font-weight:bold;"> تمت بتاريخ : </span>
                        <span>@pp.ReqDelDate</span>
                        <span style="margin-right: 20px; color:saddlebrown;font-weight:bold;">اسم قائد المدرسة الاصلية : </span>
                        <span>@pp.ManagerName</span>
                        <span style="margin-right: 20px;">توقيعة :</span>
                        @{
                            string sig = "~/Upload/" + pp.FSchoolId + "/Secret/1.png";
                            string seal = "~/Upload/" + pp.FSchoolId + "/Secret/2.png";
                        }
                        <span><img src=@Url.Content(sig) width="90" height="90" /></span>
                        <span style="margin-right: 20px;">الختم :</span>
                        <span><img src=@Url.Content(seal) width="90" height="90" /></span>
                    </div>
                    <div>
                        <div>
                            <span class="tg cor">المباشرة : </span>
                        </div>
                        <span style="margin-right: 20px; color:blue; font-weight:bold;"> تمت بتاريخ : </span>
                        <span>@pp.AcceptedDelDate</span>
                        <span style="margin-right: 20px;color:saddlebrown;font-weight:bold;">اسم قائد المدرسة المندوب لها : </span>
                        <span>@pp.ManagerTo</span>
                        @{
                            string sig1 = "~/Upload/" + pp.TSchoolId + "/Secret/1.png";
                            string seal1 = "~/Upload/" + pp.TSchoolId + "/Secret/2.png";
                        }
                        <span style="margin-right: 20px;">توقيعة :</span>
                        <span><img src=@Url.Content(sig1) width="90" height="90" /></span>
                        <span style="margin-right: 20px;">الختم :</span>
                        <span><img src=@Url.Content(seal1) width="90" height="90" /></span>
                    </div>
                    <div class="sep">
                        <span class="tg cor">الاعتماد : </span>
                        <span>:  تم اعتماد الندب  بتاريخ :  </span>
                        <span>@pp.DelegationDate</span>
                    </div>
                    <div class="sep">
                        <span class="tg cor2">ملاحظات : </span>
                        <span>@pp.goodOrNot </span>
                    </div>
                    <div>
                        <span class="tg">المساعد للشؤون المدرسية بمكتب التعليم بقرطبة</span>
                        <span class="tg" style="margin-right: 350px;">مدير مكتب التعليم بقرطبة </span>
                    </div>
                    <div style="margin-top: 20px;">
                        <span>
                            <span>الاسم :</span>
                            <span id="4">@pp.AssesName</span>
                        </span>
                        <span style="margin-right: 480px;">
                            <span>الاسم :</span>
                            <span id="5">@pp.ManName </span>
                        </span>
                    </div>
                    <div>
                        @{
                            string MannSig = "~/Upload/" + pp.AssesSchid + "/emps/" + pp.AssesCode + ".png";
                            string AssesSig = "~/Upload/" + pp.ManSchid + "/emps/" + pp.ManCode + ".png";
                            string officeSig = "~/Upload/officeAc/offSig.png";
                        }
                        <span>
                            <span>التوقيع :</span>
                            <span><img src=@Url.Content(AssesSig) width="90" height="90" /></span>
                        </span>
                        <span style="margin-right: 510px;">
                            <span>التوقيع :</span>
                            <span><img src=@Url.Content(MannSig) width="90" height="90" /></span>
                        </span>
                    </div>
                    <div style="margin-right: 410px;">ختم المكتب</div>
                    <div style="margin-right: 400px;"><img src=@Url.Content(officeSig) width="90" height="90" /></div>
                </div>



            </div>

        </div>
    }

}

@if (ViewBag.chk == "3")
{
    foreach (var pp in Model.dele)
    {
        <div id="bdy" dir="rtl">
            <div class="container" style="background-color:#fff; ">

                <div>
                    <div class="bdy">
                        <img src=@Url.Content("~/images/min.png") width="150" height="150" />
                    </div>
                    <div class="bdy">
                        <img src=@Url.Content("~/images/logo1.jpg") width="130" height="130" />
                    </div>
                    <div class="dv">
                        <img src=@Url.Content("~/images/roa.png") width="150" height="150" />
                    </div>
                    <p style="margin-right:-80px;margin-top: 30px; font-weight:bold;">الادارة العامة للتعليم بمنطقة الرياض – مكتب التعليم بقرطبة </p>
                    <div class="dvm">
                        <span>الرقم : </span>
                        <span id="id">@pp.id </span>
                    </div>
                    <div class="dvm">
                        <span>التاريخ الهجرى : </span>
                        <span id="hajry">@pp.hajry </span>
                    </div>
                    <div class="dvm">
                        <span>التاريخ الميلادى : </span>
                        <span id="Melad">@pp.Melad </span>
                    </div>
                    <div class="dv">
                        <span style="color:green">الموضوع : </span>
                        <span> الندب</span>
                    </div>

                    <hr style="border-top: 1px solid black;" />
                    <table>
                        <tr>
                            <th>
                                <p>اسم المعلم</p>
                            </th>
                            <th>
                                <p>السجل المدنى</p>
                            </th>
                            <th>
                                <p>التخصص</p>
                            </th>
                        </tr>
                        <tr>
                            <td><p>@pp.EmpName</p></td>
                            <td><p>@pp.EmpId</p></td>
                            <td><p>@pp.SubName</p></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>
                                <p>المدرسة الاصلية</p>
                            </th>
                            <th>
                                <p>المدرسة المندوب اليها</p>
                            </th>
                            <th style="width:160px;">
                                <p>نوع الندب</p>
                            </th>
                            <th style="width:160px;">
                                <p>نهاية الندب</p>
                            </th>
                        </tr>
                        <tr>
                            <td><p>@pp.FSchoolName</p></td>
                            <td><p>@pp.TSchoolName</p></td>
                            <td><p>@pp.DelType</p></td>
                            <td><p>@pp.EndDel </p></td>
                        </tr>
                    </table>
                    @if (pp.DelTypeID == "2")
                    {
                        <table>
                            <tr>
                                <th>
                                    <p>عدد الايام</p>
                                </th>
                                <th>
                                    <p>عدد الحصص</p>
                                </th>

                            </tr>
                            <tr>
                                <td><p>@pp.DelDays</p></td>
                                <td><p>@pp.DelClass</p></td>

                            </tr>
                        </table>
                    }
                    <div class="sep">
                        <span class="tg">المكرم قائد المدرسة :  </span>
                        <span> @pp.ManagerName</span>
                    </div>
                    <div class="sep">
                        <span class="tg">لقد تقرر ندب المعلم الموضحة هويته أعلاه بناءً على </span>
                        <span> اسباب آخرى</span>
                    </div>

                    <p>@pp.other</p>



                    <div class="sep">
                        <span class="tg">نأمل إخلاء طرفه وحثّه على سرعة المباشرة في مدرسته المندوب لها : </span>
                        <span> @pp.TSchoolName</span>
                    </div>
                    <div>
                        <div>
                            <span class="tg cor">إخلاء الطرف : </span>
                        </div>
                        <span style="margin-right: 20px; color:blue; font-weight:bold;"> تمت بتاريخ : </span>
                        <span>@pp.ReqDelDate</span>
                        <span style="margin-right: 20px; color:saddlebrown;font-weight:bold;">اسم قائد المدرسة الاصلية : </span>
                        <span>@pp.ManagerName</span>
                        <span style="margin-right: 20px;">توقيعة :</span>
                        @{
                            string sig = "~/Upload/" + pp.FSchoolId + "/Secret/1.png";
                            string seal = "~/Upload/" + pp.FSchoolId + "/Secret/2.png";
                        }
                        <span><img src=@Url.Content(sig) width="90" height="90" /></span>
                        <span style="margin-right: 20px;">الختم :</span>
                        <span><img src=@Url.Content(seal) width="90" height="90" /></span>
                    </div>
                    <div>
                        <div>
                            <span class="tg cor">المباشرة : </span>
                        </div>
                        <span style="margin-right: 20px; color:blue; font-weight:bold;"> تمت بتاريخ : </span>
                        <span>@pp.AcceptedDelDate</span>
                        <span style="margin-right: 20px;color:saddlebrown;font-weight:bold;">اسم قائد المدرسة المندوب لها : </span>
                        <span>@pp.ManagerTo</span>
                        @{
                            string sig1 = "~/Upload/" + pp.TSchoolId + "/Secret/1.png";
                            string seal1 = "~/Upload/" + pp.TSchoolId + "/Secret/2.png";
                        }
                        <span style="margin-right: 20px;">توقيعة :</span>
                        <span><img src=@Url.Content(sig1) width="90" height="90" /></span>
                        <span style="margin-right: 20px;">الختم :</span>
                        <span><img src=@Url.Content(seal1) width="90" height="90" /></span>
                    </div>
                    <div class="sep">
                        <span class="tg cor">الاعتماد : </span>
                        <span>:  تم اعتماد الندب  بتاريخ :  </span>
                        <span>@pp.DelegationDate</span>
                    </div>
                    <div class="sep">
                        <span class="tg cor2">ملاحظات : </span>
                        <span>@pp.goodOrNot </span>
                    </div>
                    <div>
                        <span class="tg">المساعد للشؤون المدرسية بمكتب التعليم بقرطبة</span>
                        <span class="tg" style="margin-right: 350px;">مدير مكتب التعليم بقرطبة </span>
                    </div>
                    <div style="margin-top: 20px;">
                        <span>
                            <span>الاسم :</span>
                            <span id="4">@pp.AssesName</span>
                        </span>
                        <span style="margin-right: 480px;">
                            <span>الاسم :</span>
                            <span id="5">@pp.ManName </span>
                        </span>
                    </div>
                    <div>
                        @{
                            string MannSig = "~/Upload/" + pp.AssesSchid + "/emps/" + pp.AssesCode + ".png";
                            string AssesSig = "~/Upload/" + pp.ManSchid + "/emps/" + pp.ManCode + ".png";
                            string officeSig = "~/Upload/officeAc/offSig.png";
                        }
                        <span>
                            <span>التوقيع :</span>
                            <span><img src=@Url.Content(AssesSig) width="90" height="90" /></span>
                        </span>
                        <span style="margin-right: 510px;">
                            <span>التوقيع :</span>
                            <span><img src=@Url.Content(MannSig) width="90" height="90" /></span>
                        </span>
                    </div>
                    <div style="margin-right: 410px;">ختم المكتب</div>
                    <div style="margin-right: 400px;"><img src=@Url.Content(officeSig) width="90" height="90" /></div>
                </div>



            </div>

        </div>
    }

}
