﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .dot {
        height: 100px;
        width: 110px;
        background-color: #ea8282;
        border-radius: 50%;
        display: inline-block;
    }

    .new3 {
        background-color: #ea8282;
        display: inline-block;
        width: 75px;
        height: 5px;
    }

    .dott {
        height: 100px;
        width: 110px;
        background-color: #afea82;
        border-radius: 50%;
        display: inline-block;
    }

    .new3t {
        background-color: #afea82;
        display: inline-block;
        width: 75px;
        height: 5px;
    }

    .head {
        width: 765px;
        background-color: #cbefcc;
    }

    .traking {
        margin-top: 10px;
        width: 700px;
        margin-right: 30px;
    }

    .txt1 {
        color: saddlebrown;
        font-weight: bold;
    }

    tr {
        height: 40px;
    }
    .dot p {
    font-size:12px;
    font-weight:bold;
    }
    .dott p {
        font-size: 12px;
        font-weight: bold;
    }
</style>

<div class="titleBody">
    <label>تتبع الندب </label>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-pull-1 col-sm-9">
            <div class="search">
                <input type="text" id="txt1" class="form-control" style="display: inline-block;">

                <button id="tracktB" class="btn btn-success">كود التتبع</button>
                <button id="empB" class="btn btn-warning">كود المعلم</button>
            </div>
            <div class="panel panel-primary" style="width:800px;">
                <div class="panel-heading ">
                    <p style="font-weight:bold;">تتبع الندب</p>
                </div>
                <div class="panel-body">
                    <div class="head">
                        <table>
                            <tr>
                                <td class="txt1">الاسم:</td>
                                <td id="name" style="width: 180px;"></td>
                                <td class="txt1">المدرسة الاساسية:</td>

                                <td id="basicS"></td>
                            </tr>
                            <tr>
                                <td class="txt1">الدائرة التعليمية الاساسية:</td>
                                <td id="Fcircle"></td>
                                <td class="txt1">المادة:</td>
                                <td id="Sub"></td>
                            </tr>
                            <tr>
                                <td class="txt1">المدرسة المنتدب اليها:</td>
                                <td id="tschool"></td>
                                <td class="txt1">الدائرة التعليمية المنتدب اليها:</td>
                                <td id="tcircle"></td>

                            </tr>
                            <tr>
                                <td class="txt1">تاريخ الندب المبدئى:</td>
                                <td id="fdate"></td>
                                <td class="txt1">تاريخ إخلاء الطرف :</td>
                                <td id="ReqDelDate"></td>

                            </tr>
                            <tr>
                                <td class="txt1">تاريخ المباشرة:</td>
                                <td id="accdate"></td>
                                <td class="txt1">تاريخ قرار الندب:</td>
                                <td id="delReport"></td>

                            </tr>
                        </table>
                    </div>

                    <div class="traking">
                        <div id="f1" class="dot">
                            <img src="~/images/contract.png" style="width:20px; height:20px; margin:17px 40px;" />
                            <p>أولاً - الندب المبدئى</p>
                        </div>
                        <div id="f1line" class="new3"></div>
                        <div id="f2" class="dot">
                            <img src="~/images/insurance.png" style="width:20px; height:20px; margin:17px 40px;" />
                            <p>ثانياً - إخلاء الطرف</p>
                        </div>
                        <div id="f3line" class="new3"></div>
                        <div id="f3" class="dot">
                            <img src="~/images/insurance.png" style="width:20px; height:20px; margin:17px 40px;" />
                            <p>ثالثاً - المباشرة</p>
                        </div>
                        <div id="f4line" class="new3"></div>
                        <div id="f4" class="dot">
                            <img src="~/images/notepad.png" style="width:20px; height:20px; margin:17px 40px;" />
                            <p>رابعاً - قرار الندب</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            
            $(document).on('click', '#tracktB', function () {
                var empd = $('#txt1').val();
                var pra = { tid: empd }
                $.ajax({
                    url: "/Delegation/getTrack",
                    type: "POST",
                    data: pra,
                    success: function (data) {
                        if (data != 0) {
                            $('#name').text(data.EmpName);
                            $('#basicS').text(data.FSchoolName);
                            $('#Fcircle').text(data.FEdCircle);
                            $('#Sub').text(data.SubName);
                            $('#tschool').text(data.TSchoolName);
                            $('#tcircle').text(data.TEdCircle);
                            $('#Fcircle').text(data.FEdCircle);
                            $('#fdate').text(data.FirstDeleDate);
                            $('#ReqDelDate').text(data.ReqDelDate);
                            $('#accdate').text(data.AcceptedDelDate);
                            $('#delReport').text(data.DelegationDate);

                            $('#f1').removeClass("dot");
                            $('#f1line').removeClass("new3");
                            $('#f2').removeClass("dot");
                            $('#f2line').removeClass("new3");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3");
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3");
                            $('#f1').removeClass("dott");
                            $('#f1line').removeClass("new3t");
                            $('#f2').removeClass("dott");
                            $('#f2line').removeClass("new3t");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3t")
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3t")

     

                            if (data.DelState == 1) {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dot");
                                $('#f2line').addClass("new3");
                                $('#f3').addClass("dot");
                                $('#f3line').addClass("new3");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");


                            } else if (data.DelState == 2 && data.ReqDelDate == '') {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dot");
                                $('#f2line').addClass("new3");
                                $('#f3').addClass("dot");
                                $('#f3line').addClass("new3");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");

                            }
                            else if (data.DelState == 2 && data.ReqDelDate != '') {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dott");
                                $('#f2line').addClass("new3t");
                                $('#f3').addClass("dot");
                                $('#f3line').addClass("new3");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");

                            } else if (data.StateAfter == 2 && data.AcceptedDelDate == '') {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dott");
                                $('#f2line').addClass("new3t");
                                $('#f3').addClass("dot");
                                $('#f3line').addClass("new3");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");
                            }

                            else if (data.StateAfter == 3 ) {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dott");
                                $('#f2line').addClass("new3t");
                                $('#f3').addClass("dott");
                                $('#f3line').addClass("new3t");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");
                            }
                            else if (data.StateAfter == 4) {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dott");
                                $('#f2line').addClass("new3t");
                                $('#f3').addClass("dott");
                                $('#f3line').addClass("new3t");
                                $('#f4').addClass("dott");
                                $('#f4line').addClass("new3t");
                            }
                        } else {
                            $('#name').text('');
                            $('#basicS').text('');
                            $('#Fcircle').text('');
                            $('#Sub').text('');
                            $('#tschool').text('');
                            $('#tcircle').text('');
                            $('#fdate').text('');
                            $('#delReport').text('');
                            $('#ReqDelDate').text('');
                            $('#accdate').text('');
                            $('#f1').removeClass("dot");
                            $('#f1line').removeClass("new3");
                            $('#f2').removeClass("dot");
                            $('#f2line').removeClass("new3");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3");
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3");
                            $('#f1').removeClass("dott");
                            $('#f1line').removeClass("new3t");
                            $('#f2').removeClass("dott");
                            $('#f2line').removeClass("new3t");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3t");
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3t");
                            $('#f1').addClass("dot");
                            $('#f1line').addClass("new3");
                            $('#f2').addClass("dot");
                            $('#f2line').addClass("new3");
                            $('#f3').addClass("dot");
                            $('#f3line').addClass("new3");
                            $('#f4').addClass("dot");
                            $('#f4line').addClass("new3");


                        }

                    },
                    error: function () {
                        $("#error").html("مشكلة فى عرض التتبع");
                        $("#myModal").modal('show');


                    }
                });
            });
            $(document).on('click', '#empB', function () {
                var empd = $('#txt1').val();
                var pra = { tid: empd }
                $.ajax({
                    url: "/Delegation/getEmpT",
                    type: "POST",
                    data: pra,
                    success: function (data) {
                        if (data != 0) {
                            $('#name').text(data.EmpName);
                            $('#basicS').text(data.FSchoolName);
                            $('#Fcircle').text(data.FEdCircle);
                            $('#Sub').text(data.SubName);
                            $('#tschool').text(data.TSchoolName);
                            $('#tcircle').text(data.TEdCircle);
                            $('#Fcircle').text(data.FEdCircle);
                            $('#fdate').text(data.FirstDeleDate);
                            $('#ReqDelDate').text(data.ReqDelDate);
                            $('#accdate').text(data.AcceptedDelDate);
                            $('#delReport').text(data.DelegationDate);

                            $('#f1').removeClass("dot");
                            $('#f1line').removeClass("new3");
                            $('#f2').removeClass("dot");
                            $('#f2line').removeClass("new3");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3");
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3");
                            $('#f1').removeClass("dott");
                            $('#f1line').removeClass("new3t");
                            $('#f2').removeClass("dott");
                            $('#f2line').removeClass("new3t");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3t")
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3t")


                            if (data.DelState == 1) {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dot");
                                $('#f2line').addClass("new3");
                                $('#f3').addClass("dot");
                                $('#f3line').addClass("new3");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");


                            } else if (data.DelState == 2 && data.ReqDelDate != '') {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dott");
                                $('#f2line').addClass("new3t");
                                $('#f3').addClass("dot");
                                $('#f3line').addClass("new3");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");

                            } else if (data.StateAfter == 2 && data.AcceptedDelDate != '') {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dott");
                                $('#f2line').addClass("new3t");
                                $('#f3').addClass("dott");
                                $('#f3line').addClass("new3t");
                                $('#f4').addClass("dot");
                                $('#f4line').addClass("new3");
                            }
                            else if (data.StateAfter == 3 && data.DelegationDate != '') {
                                $('#f1').addClass("dott");
                                $('#f1line').addClass("new3t");
                                $('#f2').addClass("dott");
                                $('#f2line').addClass("new3t");
                                $('#f3').addClass("dott");
                                $('#f3line').addClass("new3t");
                                $('#f4').addClass("dott");
                                $('#f4line').addClass("new3t");
                            }
                        } else {
                            $('#name').text('');
                            $('#basicS').text('');
                            $('#Fcircle').text('');
                            $('#Sub').text('');
                            $('#tschool').text('');
                            $('#tcircle').text('');
                            $('#fdate').text('');
                            $('#delReport').text('');
                            $('#ReqDelDate').text('');
                            $('#accdate').text('');
                            $('#f1').removeClass("dot");
                            $('#f1line').removeClass("new3");
                            $('#f2').removeClass("dot");
                            $('#f2line').removeClass("new3");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3");
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3");
                            $('#f1').removeClass("dott");
                            $('#f1line').removeClass("new3t");
                            $('#f2').removeClass("dott");
                            $('#f2line').removeClass("new3t");
                            $('#f3').removeClass("dott");
                            $('#f3line').removeClass("new3t");
                            $('#f4').removeClass("dott");
                            $('#f4line').removeClass("new3t");
                            $('#f1').addClass("dot");
                            $('#f1line').addClass("new3");
                            $('#f2').addClass("dot");
                            $('#f2line').addClass("new3");
                            $('#f3').addClass("dot");
                            $('#f3line').addClass("new3");
                            $('#f4').addClass("dot");
                            $('#f4line').addClass("new3");


                        }

                    },
                    error: function () {
                        $("#error").html("مشكلة فى عرض التتبع");
                        $("#myModal").modal('show');


                    }
                });
            });

          
            

        });
     
    </script>

}