﻿@model IEnumerable<qortuba.Models.DelegateShow>
@{
    ViewBag.Title = "إعتماد قرار الندب";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .tname {
        width: 190px;
        font-size: 16px;
        color: saddlebrown;
    }
    .tval {
        width: 240px;
        font-size: 16px;
        color: green;
    }
    .hih{
        height:45px;
    }
</style>

<div class="container">
    <div class="row" style="background-color:white;margin-top:20px;">
        @foreach (var d in Model)
        {
        <div>
            <form id="excut" action="/Delegation/TrueAcceptExBButton" method="post">
                <div class="row" style="margin: 20px; background-color: beige;">
                    <div class="col-sm-2">
                        <p>تاريخ نهاية الندب:</p>
                    </div>
                    <div class="col-sm-3 col-sm-offset-7">
                        <input type="hidden" name="id" id="id" value="@d.id" />
                        <input type="hidden" name="EmpId" id="EmpId" value="@d.EmpId" />
                        @Html.DropDownList("EndDay", null, "يوم", htmlAttributes: new { @class = "datew ", required = "required" })
                        @Html.DropDownList("EndMonth", null, "شهر", htmlAttributes: new { @class = "datew ", required = "required" })
                        @Html.DropDownList("EndYear", null, "سنة", htmlAttributes: new { @class = " datew", required = "required" })
                    </div>
                    <div class="col-sm-2">
                        <p>المبادرة بالندب:</p>
                    </div>
                    <div class="col-sm-3 col-sm-offset-7">
                        @Html.DropDownList("goodOrNot", null, "", htmlAttributes: new { @class = " datew", required = "required", @style = "width: 120px;" })
                    </div>
                    <div class="col-sm-6 col-sm-offset-6">
                        <input type="submit" class="btn btn-success" value="تنفيذ / تعديل" />

                    </div>
                </div>
            </form>
        </div>
        <div>
            <div style="margin-top:10px;">
                <div class="col-sm-6 hih"><span class="col-sm-3 tname">كود الندب :</span><span class="col-sm-3 tval">1441 - @d.id</span></div>
                <div class="col-sm-6  hih"><span class="col-sm-3 tname">كود المعلم :</span><span class="col-sm-3 tval">@d.EmpId</span></div>
            </div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">اسم المعلم :</span><span class="col-sm-3 tval">@d.EmpName</span></div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">المادة :</span><span class="col-sm-3 tval">@d.SubName</span></div>

            <div class="col-sm-6 hih"><span class="col-sm-3 tname">المدرسة الاصلية :</span><span class="col-sm-3 tval">@d.FSchoolName</span></div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">المدرسة المنتدب اليها :</span><span class="col-sm-3 tval">@d.TSchoolName</span></div>

            <div class="col-sm-6 hih"><span class="col-sm-3 tname">تاريخ الندب المبدئى :</span><span class="col-sm-3 tval">@d.FirstDeleDate</span></div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">تاريخ إخلاء الطرف :</span><span class="col-sm-3 tval">@d.ReqDelDate</span></div>

            <div class="col-sm-6 hih"><span class="col-sm-3 tname">تاريخ المباشرة :</span><span class="col-sm-3 tval">@d.AcceptedDelDate</span></div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">تاريخ قرار الندب :</span><span class="col-sm-3 tval">@d.DelegationDate</span></div>

            <div class="col-sm-6 hih"><span class="col-sm-3 tname">تاريخ نهايةالندب:</span><span class="col-sm-3 tval">@d.Deldate</span></div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">حالة المبادرة :</span><span class="col-sm-3 tval">@d.goodOrNot</span></div>

            <div class="col-sm-6 hih"><span class="col-sm-3 tname">نوع الندب:</span><span class="col-sm-3 tval">@d.DelType</span></div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">عدد الايام :</span><span class="col-sm-3 tval">@d.DelDays</span></div>
            <div class="col-sm-6 hih"><span class="col-sm-3 tname">عدد الحصص:</span><span class="col-sm-3 tval">@d.DelClass</span></div>

        </div>

        }

    </div>
</div>


