﻿@model IEnumerable<qortuba.Models.GReduce>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style type="text/css">
    a {
        text-decoration: none !important;
    }

    .mg {
        margin: 15px auto;
    }

    .form-control {
        padding: 0px 0px;
    }
</style>


<div class="form-group">
    <p>
        @if (User.IsInRole("customCount"))
        {
            <a class="btn btn-primary" id="Create">نصاب جديد</a>
        }
    </p>
</div>


<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"> نصاب مخصص</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>


                                            <th style="background-color:#c8f1c3">كود النصاب</th>
                                            <th style="background-color:#c8f1c3">اسم المدرسة</th>
                                            <th style="background-color:#c8f1c3">نوع المدرسة</th>
                                            <th style="background-color:#c8f1c3">المرحلة</th>
                                            <th style="background-color:#c8f1c3">الصف</th>
                                            <th style="background-color:#c8f1c3">المادة</th>
                                            <th style="background-color:#c8f1c3">عدد الحصص فى الاسبوع</th>



                                            <th style="background-color:#c8f1c3"> </th>
                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                 
                                        <tr class="gradeX">
                                            <td>@item.id</td>
                                            <td>@item.SchoolsType</td>
                                            <td>@item.PlaneType</td>
                                            <td>@item.NameLevel</td>
                                            <td>@item.NameRow</td>
                                            <td>@item.RSub</td>
                                            <td>@item.Class_No</td>

                                           
                                            <td>@Html.ActionLink("تعديل ", "", new { id = item.id }, new { @class = "btn btn-warning" })</td>
                                            <td>@Html.ActionLink(" حذف", "", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>

<!-- The modal -->


<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
                <h4 class="modal-title" id="modalLabel">تعديل نصاب</h4>
            </div>
            <div class="modal-body">
                <div class="mg">
                    <a class=" text-primary">كود النصاب</a>
                    <a class=" text-danger"> : </a>
                    <a class=" text-success" id="Rid"></a>
                </div>
                <div class="mg form-group">
                    <a class=" text-primary">نوع المدرسة</a>
                    <a class=" text-danger"> : </a>
                    @Html.DropDownList("Subtype", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })

                </div>
                <div class="mg">
                    <a class=" text-primary">المرحلة</a>
                    <a class=" text-danger"> : </a>
                    @Html.DropDownList("SubLevel", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
                <div class="mg">
                    <a class=" text-primary">الصف</a>
                    <a class=" text-danger"> : </a>
                    @Html.DropDownList("SubRow", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                </div>

                <div class="mg">
                    <a class=" text-primary">المادة</a>
                    <a class=" text-danger"> : </a>
                    @Html.DropDownList("SubId", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
                <div class="mg">
                    <a class=" text-primary">عدد الحصص  فى الاسبوع </a>
                    <a class=" text-danger"> : </a>
                    <input type="number" class="form-group text-success" id="Rcount" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="save">حفظ</button>
                <button type="button" class="btn btn-danger Rlod" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

<div id="myModals" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-success" role="alert" id="success" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default Rlod" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default Rlod" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>

<div id="myModalDel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">
                    <label>هل انت متأكد من حذف النصاب ؟</label>
                    <div>
                        <label>كود النصاب</label>
                        <a> : </a>
                        <a id="rCode"></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-danger" id="del">حذف</button>
                <button type="button" class="btn btn-default Rlod" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        //show
        $("#Create").click(function (e) {
            e.preventDefault();
            $("#Rid").text('');
            $("#Subtype").val('');
            $("#SubLevel").val('');
            $("#SubRow").val('');
            $("#SubId").val('');
            $("#Rcount").val('');


            $("#modalLabel").text('نصاب جديد');
            $("#flipFlop").modal('show');
        });

        // show update panel
        $(".table tbody").on('click', '.fire', function (e) {
            e.preventDefault();
            $("#Rcount").val('');
            var currentRow = $(this).closest('tr');
            var id = currentRow.find("td:eq(0)").text();
            $.ajax({
                url: "/Reduce/CustomReduceget/" + id,
                type: "GET",
                success: function (data) {
                    $("#Rid").text(data[0].id);
                    $("#Subtype").val(data[0].PlaneType);
                    $("#SubLevel").val(data[0].NameLevel);
                    $("#SubRow").val(data[0].NameRow);
                    $("#SubId").val(data[0].RSub);
                    $("#Rcount").val(data[0].Class_No);
                    $("#flipFlop").modal('show');
                }


            })


        })
        // show delete panel
        $(".table tbody").on('click', '.fire1', function (e) {
            e.preventDefault();

            var currentRow = $(this).closest('tr');

            var id = currentRow.find("td:eq(0)").text();


            $("#rCode").text(id);
            $("#myModalDel").modal('show');

        })
        // create and update
        $("#save").click(function () {
            var url = window.location.pathname;
            var sid = url.substring(url.lastIndexOf('/') + 1);
            var id = $("#Rid").text();
            var pt = $("#Subtype").val();
            var lv = $("#SubLevel").val();
            var Rw = $("#SubRow").val();
            var su = $("#SubId").val();
            var cu = $("#Rcount").val();
            var GReduce = { id: id, SchoolsType: sid, PlaneType: pt, NameLevel: lv, NameRow: Rw, RSub: su, Class_No: cu }

            if (id != "") {

                $.ajax({
                    url: "/Reduce/CustomReduceUpdate",
                    type: "POST",
                    dataType: "json",
                    data: GReduce,
                    success: function (data) {
                        $("#success").html("تم التعديل بنجاح");
                        $("#myModals").modal('show');
                        $("#flipFlop").modal('hide');

                    },
                    error: function () {
                        $("#error").html("الرجاء التأكد من ادخال البيانات بشكل صحيح");
                        $("#myModal").modal('show');
                        $("#flipFlop").modal('hide');
                    }


                })
            } else {

                $.ajax({
                    url: "/Reduce/CustomReduceCreate",
                    type: "POST",
                    dataType: "json",
                    data: GReduce,
                    success: function (data) {
                        $("#success").html("تم الاضافة بنجاح");
                        $("#myModals").modal('show');
                        $("#flipFlop").modal('hide');
                    },
                    error: function () {
                        $("#error").html("الرجاء التأكد من ادخال البيانات بشكل صحيح");
                        $("#myModal").modal('show');
                        $("#flipFlop").modal('hide');
                    }


                })
            }


        });
        // del
        $("#del").click(function () {

            var id = $("#rCode").text();


            if (id != null) {

                $.ajax({
                    url: "/Reduce/CustomReduceDel/" + id,
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $("#success").html("تم الحذف بنجاح");
                        $("#myModalDel").modal('hide');
                        $("#myModals").modal('show');

                    },
                    error: function () {
                        $("#error").html("الرجاء التأكد من ادخال البيانات بشكل صحيح");
                        $("#myModalDel").modal('hide');
                        $("#myModal").modal('show');

                    }


                })
            }


        });

        $(".Rlod").click(function () {
            window.location.reload();

        });

    </script>

}