﻿@model IEnumerable<qortuba.Models.GReduce>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style type="text/css">
    a {
        text-decoration: none !important;
    }

    .mg {
        margin: 15px auto;
    }
</style>

<div class="panel panel-info">
    <div class="panel-heading" style="background-color:#efc66c;font-size:16px;">
        الادلة والتعاميم
    </div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
                تحميل الادلة والتعاميم
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dir="rtl">
                @foreach (var de in ViewBag.adela)
                {
                    string path = de.id + de.adFile;
                    string dname = de.adName + de.adFile;
                    <li><a href="../../Upload/Emp/@path" download="@dname">@de.adName</a></li>
                }


            </ul>
        </div>
    </div>
</div>



<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"> الانصبة العامة</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>

                                 

                                            <th style="background-color:#c8f1c3">كود النصاب</th>
                                            <th style="background-color:#c8f1c3"> المادة</th>
                                            <th style="background-color:#c8f1c3">المرحلة</th>
                                            <th style="background-color:#c8f1c3">الصف</th>
                                            <th style="background-color:#c8f1c3">خطة المدرسة</th>
                                            <th style="background-color:#c8f1c3">عدد الحصص فى الاسبوع</th>



                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                        <tr class="gradeX">
                                            <td>@item.id</td>
                                            <td>@item.RSub</td>
                                            <td>@item.NameLevel</td>
                                            <td>@item.NameRow</td>
                                            <td>@item.SchoolsType</td>
                                            <td>@item.Class_No</td>



                                            <td>@Html.ActionLink("تعديل ", "", new { id = item.id }, new { @class = "btn btn-warning" })</td>

                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>



<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">قادة المدارس</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>


                                            <th style="background-color:#c8f1c3">كود النصاب</th>
                                            <th style="background-color:#c8f1c3">اسم المدرسة</th>
                                            <th style="background-color:#c8f1c3">نوع المدرسة</th>
                                            <th style="background-color:#c8f1c3">المرحلة</th>
                                            <th style="background-color:#c8f1c3">الصف</th>
                                            <th style="background-color:#c8f1c3">المادة</th>
                                            <th style="background-color:#c8f1c3">عدد الحصص فى الاسبوع</th>



                                            <th style="background-color:#c8f1c3"> </th>
                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr class="gradeX">
                                                <td>@item.id</td>
                                                <td>@item.SchoolsType</td>
                                                <td>@item.PlaneType</td>
                                                <td>@item.NameLevel</td>
                                                <td>@item.NameRow</td>
                                                <td>@item.RSub</td>
                                                <td>@item.Class_No</td>


                                                <td>@Html.ActionLink("تعديل ", "", new { id = item.id }, new { @class = "btn btn-warning" })</td>
                                                <td>@Html.ActionLink(" حذف", "", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>



<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
                <h4 class="modal-title" id="modalLabel">تعديل نصاب</h4>
            </div>
            <div class="modal-body">
                <div class="mg">
                    <a class=" text-primary">كود النصاب</a>
                    <a class=" text-danger"> : </a>
                    <a class=" text-success" id="Rid"></a>
                </div>
                <div class="mg">
                    <a class=" text-primary">المادة</a>
                    <a class=" text-danger"> : </a>
                    <a class=" text-success" id="Rsub"></a>
                </div>
                <div class="mg">
                    <a class=" text-primary">المرحلة</a>
                    <a class=" text-danger"> : </a>
                    <a class=" text-success" id="Rlevel"></a>
                </div>
                <div class="mg">
                    <a class=" text-primary">الصف</a>
                    <a class=" text-danger"> : </a>
                    <a class=" text-success" id="Rrow"></a>
                </div>
                <div class="mg form-group">
                    <a class=" text-primary">خطة المدرسة</a>
                    <a class=" text-danger"> : </a>
                    <a class=" text-success" id="RPlane"></a>
                </div>
                <div class="mg">
                    <a class=" text-primary">عدد الحصص  فى الاسبوع </a>
                    <a class=" text-danger"> : </a>
                    <input type="number" class="form-group text-success" id="Rcount" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="Update">تعديل</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

<div id="myModals" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-success" role="alert" id="success" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $("#Update").click(function () {
            var id = $("#Rid").text();
            var Rc = $("#Rcount").val();

            var ts = { id: id, Rc: Rc }



            $.ajax({
                url: "/Reduce/GeneralReduceUpdate",
                type: "POST",
                dataType: "json",
                data: ts,
                success: function (data) {
                    $("#success").html("تم التعديل بنجاح");
                    $("#myModals").modal('show');
                    $("#flipFlop").modal('hide');
                },
                error: function () {
                    $("#error").html("الرجاء التأكد من ادخال البيانات بشكل صحيح");
                    $("#myModal").modal('show');

                }


            })



        });

        $(".table tbody").on('click', '.fire', function (e) {
            e.preventDefault();
            $("#Rcount").val('');



            var currentRow = $(this).closest('tr');

            var id = currentRow.find("td:eq(0)").text();
            var Rsub = currentRow.find("td:eq(1)").text();
            var Nlevel = currentRow.find("td:eq(2)").text();
            var Nrow = currentRow.find("td:eq(3)").text();
            var RPalne = currentRow.find("td:eq(4)").text();
            var Rcount = currentRow.find("td:eq(5)").text();

            $("#Rid").text(id);
            $("#Rsub").text(Rsub);
            $("#Rlevel").text(Nlevel);
            $("#Rrow").text(Nrow);
            $("#RPlane").text(RPalne);
            $("#Rcount").val(Rcount);

            $("#flipFlop").modal('show');
        })




    </script>

}