﻿@model IEnumerable<qortuba.Models.ReducedTypes>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label>الانصبة</label>

</div>

<div class="row" style="background-color: beige;">
    <div class="form-inline">
        <div class="form-group row ">
            @Html.Label("","النصاب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                <input type="text" id="ReducedName" name="ReducedName" class="form-control" required />
    
            </div>
        </div>
        <div class="form-group row col-md-3">
            @Html.Label("","عدد الحصص", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
             
                <input type="number" id="Classes" name="Classes" class="form-control" required/>
            </div>
        </div>
        <div class="form-group row col-md-3">

            <div class="col-sm-12">
                <a class="btn btn-primary" onclick="add();">نصاب جديد</a>

            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead  style="background-color: burlywood;">
        <tr>
            <th>كود النصاب</th>
            <th>الانصبة</th>
            <th>عدد الحصص</th>
            <th>تعديل</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rd in Model)
        {
            <tr>
                <td>@rd.ReduedCode</td>
                <td>
                <input id="ReducedName" name="ReducedName" class="form-control" value="@rd.ReducedName" />
                </td>
                <td>
                    <input id="Classes" name="Classes" class="form-control" value="@rd.Classes" />
                </td>
                <td><a class="btn btn-warning" id="edit" >تعديل</a></td>
                <td><a class="btn btn-danger" id="delete">حذف</a></td>
            </tr>

        }
    </tbody>
</table>
@*Error Model*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="    margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        function add() {
            var vaild = $("#ReducedName")[0].checkValidity();
            var val2 = $("#Classes")[0].checkValidity();
            if (vaild == false) {
                $("#error").html("ادخل اسم النصاب");
                $("#myModal").modal('show'); return;
            }
            if (val2 == false) {
                $("#error").html("ادخل عدد الحصص");
                $("#myModal").modal('show'); return;
            }

            var Rname = $("#ReducedName").val();
            var Classes = $("#Classes").val();
            if (Rname != "" && Classes != "") {
              
                var ReducedTypes = {
                    ReducedName: Rname,
                    Classes: Classes,
                }
                $.ajax({
                    url: "/Reduce/addRow",
                    type: "POST",
                    data: ReducedTypes,
                    allowOutsideClick: false,
                    success: function (data) {
                        swal("تم الحفظ بنجاح", {
                            button: "عودة",
                            icon: "success"
                        })
                            .then((value) => {
                                window.location.reload();
                                $("#ReducedName").val('');
                                $("#Classes").val('');
                            });
                       
                    },
                    error: function () {
                        $("#error").html("الرجاء التأكد من ادخال البيانات بشكل صحيح");
                        $("#myModal").modal('show');


                    }
                });
            }

        }

        $(".table tbody").on('click', '#edit', function () {
            $("#ReducedName").val('');
            $("#Classes").val('');


            var currentRow = $(this).closest('tr');
            var Sid = $("#SchoolID").val();
            var id2 = currentRow.find("td:eq(0)").text();

            var id = currentRow.find("td:eq(0)").html();
            var ReducedName = currentRow.find("td:eq(1)").find("input").val();
            var Classes = currentRow.find("td:eq(2)").find("input").val();
            var ReducedTypes = {
                ReduedCode:id,
                ReducedName: ReducedName,
                Classes: Classes,
            }

            if (id != null) {

                $.ajax({
                    url: "/Reduce/updateRow",
                    type: "POST",
                    data: ReducedTypes,
                    allowOutsideClick: false,
                    success: function (data) {
                        swal("تم التعديل بنجاح", {
                            button: "عودة",
                            icon: "success"
                        })
                            .then((value) => {
                                window.location.reload();
                                $("#ReducedName").val('');
                                $("#Classes").val('');
                            });
                       

                    },
                    error: function () {

                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');
                    }
                });
            }

        })

        $(".table tbody").on('click', '#delete', function () {
            $("#classes").val('');
            $("#stud").val('');
            var currentRow = $(this).closest('tr');
            var id = currentRow.find("td:eq(0)").html();

            if (id != null) {

                swal({
                    title: "هل انت متأكد من الحذف ؟",
                    text: "لن تستطيع اعادة البيانات مرة اخرى !",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    allowOutsideClick: false,
                    buttons: ["الغاء", "حذف"],
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "/Reduce/deleteRow?id=" + id,
                                type: "POST",
                                success: function () {
                                    swal("تم الحذف بنجاح", {
                                        button: "عودة",
                                        icon: "success",
                                    })
                                        .then((value) => {
                                            window.location.reload();
                                            $("#ReducedName").val('');
                                            $("#Classes").val('');
                                        });
                                 
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    swal("خطأ فى الحذف!", "من فضلك حاول مرة اخرى", "error");
                                }
                            });
                           
                            window.location.href = href;
                        } else {
                           
                        }
                    });


                
            }

        })


    </script>

}

