﻿@model IEnumerable<qortuba.Models.DesAndInc>

@{
    ViewBag.Title = "العجز والزيادة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}





<style>
    [data-name="Dess"] {
        color: red;
    }

    [data-name="Inc"] {
        color: forestgreen;
    }

    [data-name="IncTeach"] {
        color: #22c7c7;
    }

    .totalback {
        background-color: #aa9dec;
    }
</style>

<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"> العجز والزيادة</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>




                                            <th style="background-color:#c8f1c3">كود المادة</th>
                                            <th style="background-color:#c8f1c3">اسم المادة</th>
                                            <th style="background-color:#c8f1c3">عدد الحصص المطلوبة للمادة</th>
                                            <th style="background-color:#c8f1c3">عدد الحصص الموجودة</th>
                                            <th style="background-color:#c8f1c3">العجز</th>
                                            <th style="background-color:#c8f1c3">الزيادة</th>
                                            <th style="background-color:#c8f1c3">الزيادة بالمعلم</th>



                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                        <tr class="gradeX">
                                            <td>@item.Id</td>
                                            <td>@item.Subject</td>
                                            <td>@item.Req</td>
                                            <td>@item.Exs</td>
                                            <td>@item.Dess</td>
                                            <td>@item.Inc</td>
                                            <td>@item.IncTeach</td>



                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>



@section scripts{
    <script>
        $(function () {
            var Req = 0;
            var Exs = 0;
            var Dess = 0;
            var Inc = 0;
            var IncT = 0;

            $("tr.grid-row").each(function () {
                var tr = $(this);
                var rows = $(tr).children();
                var Req1 = rows[2].innerHTML;
                var Exs1 = rows[3].innerHTML;
                var Dess1 = rows[4].innerHTML;
                var Inc1 = rows[5].innerHTML;
                var IncT1 = rows[6].innerHTML;
                Req1 = Req1.replace(",", ".");
                Req1 = parseFloat(Req1);
                Req += Req1;
                Exs1 = Exs1.replace(",", ".");
                Exs1 = parseFloat(Exs1);
                Exs += Exs1;
                Dess1 = Dess1.replace(",", ".");
                Dess1 = parseFloat(Dess1);
                Dess += Dess1;
                Inc1 = Inc1.replace(",", ".");
                Inc1 = parseFloat(Inc1);
                Inc += Inc1;
                IncT1 = IncT1.replace(",", ".");
                IncT1 = parseFloat(IncT1);
                IncT += IncT1;
            });


            var trTotals = "<tr class='totalback'><td></td><td style='color:red;font-weight:bold;'>المجموع</td><td style='color:blue;font-weight:bold;'>" + Req + "</td><td style='color:#927a02;font-weight:bold;'>" + Exs + "</td><td style='color:red;font-weight:bold;'>" + Dess + "</td><td style='color:forestgreen;font-weight:bold;'>" + Inc + "</td><td style='color:#22c7c7;font-weight:bold;'>" + IncT + "</td></tr>"
            $("tr.grid-row:last").after(trTotals);



        });
    </script>

}
