﻿

@{
    /**/

    ViewBag.Title = "تقرير العجز والزيادة بمدرسة محددة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TImployees/Index">تقارير العجز والزيادة</a></label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>



<div class="form-inline ">

    <form name="formSch" id="formSch" method="post">

        <div class="form-group row  ">
            @Html.Label("","المدرسة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownList("SchID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                <input id="test" type="hidden" value="" />

            </div>
        </div>

        <button type="submit" id="sub1" value="sub1" class="btn btn-success">PDF تقرير العجز والزيادة بمدرسة محددة</button>
       
    </form>

</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#SchID').change(function (e) {
                e.preventDefault;
            });
            $('#sub1').click(function () {
                $('#test').val('sub1');
            });
            $('#sub2').click(function () {
                $('#test').val('sub2');
            });

            $('#formSch').submit(function (e) {
                e.preventDefault;
                var val1 = $('#test').val();

                var id = $('#SchID').val();
                if (val1 == "sub1") {


                    window.open("/DesAndInc/ShowDesAndIncPDF/" + id)

                }
                if (val1 == "sub2") {


                    window.open("/DesAndInc/ShowDesAndIncX/" + id)

                }

            });

            //$("#formSch button").click(function (ev) {
            //    ev.preventDefault()
            //    var id = $('#SchID').val();
            //    $("#formSch").submit();
            //    if ($(this).attr("name") == "sub1") {
            //        if (id > 0) {

            //      window.open("/ViewReport/showRschool1/"+id)
            //      } else {
            //       alert('يجب اختيار اسم المدرسة');
            //    }



            //    }
            //    if ($(this).attr("name") == "sub2") {
            //        if (id > 0) {

            //            window.open("/ViewReport/showRschool1/" + id)
            //        } else {
            //            alert('يجب اختيار اسم المدرسة');
            //        }

            //    }
            //});

        });
    </script>
}





