﻿@using System.Data
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>تقرير العجز والزيادة بالمعلم</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/custom.css" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <style>
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        .bgblue {
            background-color: #bcd6f9;
        }

        .bgyellow {
            background-color: #f7e787;
        }

        .bgred {
            background-color: #fbbaba;
        }

        .bggreen {
            background-color: #bcffb6;
        }

        thead {
            background-color: #e0e0e0;
        }

        table {
            margin-top: 20px;
        }
    </style>
</head>

<body>


    <div class="container">
        <table class="table" style="direction: rtl;">
            <thead>
                <tr>
                    <td>
                        المادة
                    </td>
                    <td>
                        الزيادة بالحصص
                    </td>
                    <td>
                        عدد المعلمين
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                       
                        <td>
                            @row["SUB"].ToString()
                        </td>
                        <td class="bgblue">
                            @row["inc"].ToString()
                        </td>
                        <td class="bgyellow">
                            @row["req"].ToString()
                        </td>
                   

                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>


