﻿@model IEnumerable<qortuba.Models.DesAndInc>

@{
    ViewBag.Title = "العجز والزيادة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<table >
    @foreach (var mohm in Model)
    {
    <thead>
        <tr><td>@mohm.Subject</td> <td>المادة</td></tr>
        <tr><td>@mohm.Dess</td> <td>عجز</td></tr>
        <tr><td>@mohm.Inc</td><td>زيادة</td> </tr>
        <tr><td>@mohm.SchoolName</td><td>اسم المدرسة</td> </tr>
    </thead>


    }
</table>