﻿

@{
    /**/

    ViewBag.Title = "تقرير بيانات صفوف مدرسة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TImployees/Index">تقارير المدارس</a></label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>

<div class="form-inline ">

    <form name="formSch" id="formSch" method="post">

        <div class="form-group row  ">
            @Html.Label("","الرقم الوزارى", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <input id="id" name="id" type="number" class="form-control" required />
                <input id="test" type="hidden" value="" />
            </div>
        </div>
        
        <button type="submit" id="sub1" value="sub1" class="btn btn-success">PDF تقرير بيانات صفوف مدرسة</button>
    
    </form>

</div>
@section scripts{
    <script type="text/javascript">
        $(function () {

            $('#SchID').change(function (e) {
                e.preventDefault;
            });
            $('#sub1').click(function () {
                $('#test').val('sub1');
            });
            $('#sub2').click(function () {
                $('#test').val('sub2');
            });

            $('#formSch').submit(function (e) {
                e.preventDefault;
                var val1 = $('#test').val();

                var id = $('#id').val();
                if (val1 == "sub1") {


                    window.open("/ViewReport/showRSchoolRows/" + id)

                }
                if (val1 == "sub2") {


                    window.open("/ViewReport/showRSchoolRowsX/" + id)

                }

            });


           
        });
    </script>
}





