﻿

@{
    /**/

    ViewBag.Title = "تقرير بيانات معلم";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TImployees/Index">بيانات معلم</a></label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>

<div class="form-inline ">

    <form name="formSch" id="formSch" method="post">

        <div class="form-group row  ">
            @Html.Label("","الرقم الوطنى", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
            <input id="id" name="id" type="number" class="form-control" required />              
            </div>
        </div>
        <button type="submit" id="sub1" name="sub1" class="btn btn-success">تقرير بيانات معلم</button>

    </form>

</div>
@section scripts{
    <script type="text/javascript">
        $(function () {

            $('#formSch').submit(function () {
                var id = $('#id').val();
                if (id > 0) {
                    window.open("/ViewReport/showRempInfo/" + id)
                } else {
                    alert('يجب اختيار الرقم الوطنى');
                }
            });
        });
    </script>
}





