﻿
@using System.Data
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>تقرير بيانات معلم</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/custom.css" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <style>
        *{
            direction:rtl;
        }
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
        .lg{
                text-align: right;
                font-size: 18px;
                margin-top:15px;
        }
        div{
            text-align:right;
        }
        .col-md-6 ,.col-sm-6 , .col-xs-6 , .col-lg-6{
            margin-bottom:25px;
             margin-top:10px;
        }
        .bld{
            font-weight: 700;
        }
    </style>
</head>

<body>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        الرقم الوطنى
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["الرقم الوطنى"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        الاسم
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["الاسم"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        2الرقم الوطنى
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["الرقم الوطنى2"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        المدرسة
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["المدرسة"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        مادة التدريس
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["تدريس"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        المدرسة السابقة
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["المدرسة السابقة"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        التخصص الاصلى
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["تخصص اصلى"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        التخصص المثبت
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["تخصص مثبت"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        الحالة الوظيفية
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["حالة الموظف"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        النصاب
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["النصاب"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        م/الوزارة
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["م/الوزارة"].ToString()
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <span class="bld">
                        العمل
                    </span>
                    <span class="bld">
                        :
                    </span>
                    <span>
                        @Model.Rows[0]["العمل"].ToString()
                    </span>
                </div>

                <fieldset>
                    <legend class="lg">

                        <span>
                            البيانات الشخصية
                        </span>
                        <span class="bld">
                            :
                        </span>
                    </legend>

                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <span class="bld">
                            تاريخ الميلاد
                        </span>
                        <span class="bld">
                            :
                        </span>
                        <span>
                            @Model.Rows[0]["تاريخ الميلاد"].ToString()
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <span class="bld">
                            محل الميلاد
                        </span>
                        <span class="bld">
                            :
                        </span>
                        <span>
                            @Model.Rows[0]["محل الميلاد"].ToString()
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <span class="bld">
                            الجنسية
                        </span>
                        <span class="bld">
                            :
                        </span>
                        <span>
                            @Model.Rows[0]["الجنسية"].ToString()
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <span class="bld">
                            الحالة الاجتماعية
                        </span>
                        <span class="bld">
                            :
                        </span>
                        <span>
                            @Model.Rows[0]["الحالة الاجتماعية"].ToString()
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <span class="bld">
                            هاتف
                        </span>
                        <span class="bld">
                            :
                        </span>
                        <span>
                            @Model.Rows[0]["هاتف"].ToString()
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <span class="bld">
                            جوال
                        </span>
                        <span class="bld">
                            :
                        </span>
                        <span>
                            @Model.Rows[0]["جوال"].ToString()
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">

                        <span class="bld">
                            البريد الالكترونى
                        </span>
                        <span class="bld">
                            :
                        </span>
                        <span>
                            @Model.Rows[0]["البريد الالكترونى"].ToString()
                        </span>
                    </div>

                </fieldset>

            </div>
        </div>

</body>
</html>

