﻿@using System.Data
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>تقرير صفوف المدارس</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/custom.css" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <style>
        *{
            direction:rtl;
        }
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
        thead{
            background-color:#e0e0e0;
        }
        .bld{
            font-weight:800;
        }
        .col-lg-4 , .col-md-4 , .col-sm-4 , .col-xs-4{
            text-align:right;
        }
        .row{
                margin-bottom: 25px;
                margin-top: 25px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <span class="bld">
                    الرقم الوزارى
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الرقم الوزارى"].ToString()
                </span>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <span class="bld">
                    المدرسة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المدرسة"].ToString()
                </span>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <span class="bld">
                    الدائرة التعليمية
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الدائرة التعليمية"].ToString()
                </span>

            </div>
        </div>
    </div>

    <div>
        <table class="table" style="direction: rtl;">
            <thead>
                <tr>
                    <td>
                        الصفوف
                    </td>
                    <td>
                        الفصول
                    </td>
                    <td>
                        عدد الطلاب
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                <tr>
                    <td>
                        @row["الصفوف"].ToString()
                    </td>
                    <td>
                        @row["الفصول"].ToString()
                    </td>
                    <td>
                        @row["الطلاب"].ToString()
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>


