﻿
@using System.Data
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>تقرير بيانات مدرسة</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/custom.css" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <style>
        * {
            direction: rtl;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        .lg {
            text-align: right;
            font-size: 18px;
            margin-top: 15px;
        }

        div {
            text-align: right;
        }

        .col-md-4, .col-sm-4, .col-xs-4, .col-lg-4 {
            margin-bottom: 25px;
            margin-top: 10px;
        }
         .col-md-8, .col-sm-8, .col-xs-8, .col-lg-8 {
            margin-bottom: 25px;
            margin-top: 10px;
        }

        .bld {
            font-weight: 700;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    الرقم الوزارى
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الرقم الوزارى"].ToString()
                </span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
                <span class="bld">
                    المدرسة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المدرسة"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    الدائرة التعليمية
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الدائرة التعليمية"].ToString()
                </span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
                <span class="bld">
                    المركز القديم
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المركز القديم"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    الاسم القديم
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الاسم القديم"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    المرحلة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المرحلة"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    يمكن الاكمال
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["يمكن الاكمال"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    المكتب
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المكتب"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    الفاكس
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الفاكس"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    البريد الالكترونى
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["البريد الالكترونى"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    مستقلة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["مستقلة"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    المحافظة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المحافظة"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    المدينة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المدينة"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    مضمومة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["مضمومة"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    الخطة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الخطة"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    محدثة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["محدثة"].ToString()
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    الشارع
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الشارع"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    نوع التعليم
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["نوع التعليم"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    المبنى
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["المبنى"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    الحى
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["الحى"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    خارج الرياض
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["خارج الرياض"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    حالة المبنى
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["حالة المبنى"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    بعدها عن الادارة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["بعدها عن الادارة"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    سنة التأسيس
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["سنة التاسيس"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    نوع المدرسة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["نوع المدرسة"].ToString()
                </span>
            </div>   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    مساحة الفصل
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["مساحة الفصل"].ToString()
                </span>
            </div> 
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    صحراء
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["صحراء"].ToString()
                </span>
            </div>  
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <span class="bld">
                    مرغوبة
                </span>
                <span class="bld">
                    :
                </span>
                <span>
                    @Model.Rows[0]["مرغوبة"].ToString()
                </span>
            </div>
                     <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 col-lg-offset-8 col-md-offset-8 col-xs-offset-8 col-sm-offset-8">
                         <span class="bld">
                             الهاتف
                         </span>
                         <span class="bld">
                             :
                         </span>
                         <span>
                             @Model.Rows[0]["الهاتف"].ToString()
                         </span>


                         </div>

                         <fieldset class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                             <legend class="lg">

                                 <span>
                                     التقارب
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                             </legend>

                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     اقرب ابتدائية
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["اقرب ابتدائية"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     بعدها
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["بعدها ابتدائية"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     الطريق
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["الطريق ابتدائية"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     اقرب متوسطة
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["اقرب متوسطة"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     بعدها
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["بعدها متوسطة"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     الطريق
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["الطريق متوسطة"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     اقرب متوسطة
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["اقرب ثانوى"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     بعدها
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["بعدها ثانوى"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     الطريق
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["الطريق ثانوى"].ToString()
                                 </span>
                             </div>

                         </fieldset>
                         <fieldset class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                             <legend class="lg">

                                 <span>
                                     الغرف
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                             </legend>

                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     الغرف الصالحة
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["الغرف الصالحة"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     مصادر
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["مصادر"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     علوم
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["علوم"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     حاسب
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["حاسب"].ToString()
                                 </span>
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                 <span class="bld">
                                     انجليزى
                                 </span>
                                 <span class="bld">
                                     :
                                 </span>
                                 <span>
                                     @Model.Rows[0]["انجليزى"].ToString()
                                 </span>
                             </div>
                            
                         </fieldset>
                     </div>
    </div>
        
</body>
</html>

