﻿@model qortuba.Models.User_Roles
@{
    ViewBag.Title = "تعديل قاعدة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label>تعديل قاعدة</label>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.role_id)
    <div class="form-inline">
        @Html.LabelFor(model => model.Role_name, "اسم القاعدة", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Role_name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })

        </div>
    </div>

    <div class="form-inline panel panel-primary" style="background-color: beige;">
        @Html.Label("", "المعلمين", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.empShow, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">الاضافة</label>
                @Html.CheckBoxFor(model => model.empInsert, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">التفاصيل</label>
                @Html.CheckBoxFor(model => model.empDetails, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#133d88;">التعديل</label>
                @Html.CheckBoxFor(model => model.empUpdate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">الحذف</label>

                @Html.CheckBoxFor(model => model.empDelete, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "بيانات معلم / موظف", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">بيانات معلم / موظف</label>
                @Html.CheckBoxFor(model => model.TeacherPage, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "بيانات قائد مدرسة", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">بيانات قائد مدرسة</label>
                @Html.CheckBoxFor(model => model.ManagerPage, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-success" style="background-color: beige;">
        @Html.Label("", "المدارس", htmlAttributes: new { @class = "control-label col-md-2  panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.schoolShow, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">الاضافة</label>
                @Html.CheckBoxFor(model => model.schoolInser, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">التفاصيل</label>
                @Html.CheckBoxFor(model => model.schoolDetails, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#133d88;">التعديل</label>
                @Html.CheckBoxFor(model => model.schoolUpdate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">الحذف</label>

                @Html.CheckBoxFor(model => model.schoolDelete, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "العجز والزيادة", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العجز والزيادة</label>
                @Html.CheckBoxFor(model => model.Reduce, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "مجالس إدارات المدارس", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">مجالس إدارات المدارس</label>
                @Html.CheckBoxFor(model => model.managTWork, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "مجلس إدارة المدرسة", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">مجلس إدارة المدرسة</label>
                @Html.CheckBoxFor(model => model.managerTworkManager, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "قادة المدارس", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">قادة المدارس</label>
                @Html.CheckBoxFor(model => model.SManager, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "قبول الطلاب", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">قادة المدارس</label>
                @Html.CheckBoxFor(model => model.Acceptance, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "قبول الطلاب للمدير", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">قادة المدارس</label>
                @Html.CheckBoxFor(model => model.AcceptanceManager, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="form-inline panel panel-warning" style="background-color: #e0e1fb;">
        @Html.Label("", "الجداول", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">الجداول</label>
                @Html.CheckBoxFor(model => model.TimeTable, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:blue">جداول المدرسة</label>
                @Html.CheckBoxFor(model => model.TimeTableManager, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:blue">جدول معلم</label>
                @Html.CheckBoxFor(model => model.TimeTableTeachar, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="form-inline panel panel-success" style="background-color: beige;">
        @Html.Label("", "الندب", htmlAttributes: new { @class = "control-label col-md-2  panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">الندب</label>
                @Html.CheckBoxFor(model => model.delegation, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">الندب المبدئى</label>
                @Html.CheckBoxFor(model => model.firstDel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">التصديق على الندب</label>
                @Html.CheckBoxFor(model => model.TransferDel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#133d88;">إخلاء طرف</label>
                @Html.CheckBoxFor(model => model.TerminalDel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">مباشرة النب</label>

                @Html.CheckBoxFor(model => model.AcceptDel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">إعتماد الندب</label>

                @Html.CheckBoxFor(model => model.DisDel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">المنتدبين الى المدرسة</label>

                @Html.CheckBoxFor(model => model.FirstDelManager, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">إخلاء طرف منتدب من المدرسة</label>

                @Html.CheckBoxFor(model => model.TerminalDelManager, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">مباشرة المعلمين بالمدرسة</label>

                @Html.CheckBoxFor(model => model.AcceptDelManager, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:red;">تتبع الندب</label>

                @Html.CheckBoxFor(model => model.TractingDel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="form-inline panel panel-success" style="background-color: beige;">
        @Html.Label("", "النصبة", htmlAttributes: new { @class = "control-label col-md-2  panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">الانصبة العامة</label>
                @Html.CheckBoxFor(model => model.globalCount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">الانصبة المخصصة</label>
                @Html.CheckBoxFor(model => model.customCount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">الانصبة</label>
                @Html.CheckBoxFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-success" style="background-color: beige;">
        @Html.Label("", "تقارير المعلمين", htmlAttributes: new { @class = "control-label col-md-2  panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">جميع العاملين</label>
                @Html.CheckBoxFor(model => model.Remp, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">جميع العاملين ثابت</label>
                @Html.CheckBoxFor(model => model.RempStatic, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">جميع العاملين بمدرسة محددة</label>
                @Html.CheckBoxFor(model => model.RempSSchool, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">جميع العاملين حسب الوظيفة</label>
                @Html.CheckBoxFor(model => model.RempJob, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">جميع العاملين حسب مادة التدريس</label>
                @Html.CheckBoxFor(model => model.RempSubject, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">تقرير بيانات معلم</label>
                @Html.CheckBoxFor(model => model.Rempinfo, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-success" style="background-color: beige;">
        @Html.Label("", "تقارير المدارس", htmlAttributes: new { @class = "control-label col-md-2  panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">جميع المدارس</label>
                @Html.CheckBoxFor(model => model.RallSchool, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">تقرير المدارس حسب المرحلة</label>
                @Html.CheckBoxFor(model => model.RschoolLevel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">تقرير المدارس حسب نوع التعليم</label>
                @Html.CheckBoxFor(model => model.RschoolTut, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">تقرير بيانات مدرسة</label>
                @Html.CheckBoxFor(model => model.RschoolInfo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">تقرير بيانات صفوف مدرسة</label>
                @Html.CheckBoxFor(model => model.RschoolRow, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="form-inline panel panel-success" style="background-color: beige;">
        @Html.Label("", "تقارير الجداول", htmlAttributes: new { @class = "control-label col-md-2  panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">تقرير جدول لمدرسة محددة</label>
                @Html.CheckBoxFor(model => model.RTimeTable, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">جدول معلم</label>
                @Html.CheckBoxFor(model => model.TimetableTeacher, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">جدول معلم بمدرسة محددة</label>
                @Html.CheckBoxFor(model => model.specTimetable, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-success" style="background-color: beige;">
        @Html.Label("", "تقارير الندب", htmlAttributes: new { @class = "control-label col-md-2  panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">تقرير العجز والزيادة</label>
                @Html.CheckBoxFor(model => model.RincAndDes, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#6d6a14;">تقرير الزياة بالمعلم</label>
                @Html.CheckBoxFor(model => model.RincTeach, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-control">
                <label style="font-weight:bold;color:#219425;">قرار الندب النهائى</label>
                @Html.CheckBoxFor(model => model.RLastDel, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-danger ">
        @Html.Label("", "التحكم فى تقارير العاملين", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.ControlRemp, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-danger ">
        @Html.Label("", "التحكم فى تقارير المدارس", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.ControlRschool, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-danger ">
        @Html.Label("", "قواعد الصلاحيات", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.RoleManage, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-danger ">
        @Html.Label("", "صلاحيات المستخدمين", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.RoleManage, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-danger ">
        @Html.Label("", "حسابات المستخدمين", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.UserAccount, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-danger ">
        @Html.Label("", "تحديث قاعدة البيانات", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.DataBaseUpdate, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>

    <div class="form-inline panel panel-danger ">
        @Html.Label("", "تقرير بيانات معلم كلمة المرور", htmlAttributes: new { @class = "control-label col-md-2 panel-heading" })
        <div class="col-md-10 panel-body">
            <div class="form-control">
                <label style="font-weight:bold;color:blue">العرض</label>
                @Html.CheckBoxFor(model => model.TeachData, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
    </div>
    <div class="col-md-3 ">

        <div>
            <input type="submit" value="حـفـظ " class="btn btn-success" />
            @Html.ActionLink("الـغـاء  ", "Index", null, new { @class = "btn btn-danger" })
        </div>

    </div>

</div>

}