﻿
@model IEnumerable<qortuba.Models.User_Roles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="titleBody">
    <label>الصلاحيات</label>

</div>

<div class="form-group">
    <p>
        @Html.ActionLink("قاعدة جديد", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>

<div class="page-container">

    <div class="main-container">

        <div class="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"> المعلمين  المنتدبين الى المدرسة</h3>
                            <ul class="panel-tool-options">
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>


                                            <th style="background-color:#c8f1c3">كود القاعدة</th>
                                            <th style="background-color:#c8f1c3">اسم القاعدة</th>
                    



                                            <th style="background-color:#c8f1c3"> </th>
                                            <th style="background-color:#c8f1c3"> </th>
                                            <th style="background-color:#c8f1c3"> </th>
                                            <th style="background-color:#c8f1c3"> </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {


                                   

                                            <tr class="gradeX">
                                                <td>@item.role_id</td>
                                                <td>@item.Role_name</td>
                     
                                                <td>@Html.ActionLink("تعديل قاعدة", "Edit", new { id = item.role_id }, new { @class = "btn btn-warning" })</td>
                                                <td>@Html.ActionLink("تسجيل القاعدة لفئة معينة", "recordCat", new { id = item.role_id }, new { @class = "btn btn-primary" })</td>
                                                <td>@Html.ActionLink("تسجيل القاعدة لموظف معينة", "empRole", new { id = item.role_id }, new { @class = "btn btn-success" })</td>
                                                <td>@Html.Label("حذف قاعدة", null, new { @class = "btn btn-danger", onclick = "delT(" + item.role_id + ");", id = "delete" })</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>







<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">

            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="check" style="margin-bottom: 0px; ">
                    <span class="form-inline text-primary"> هل انت متأكد من حذف القاعدة رقم :</span> <span id="delCode" class="form-inline"></span>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <a id="exDel" class="btn btn-danger" onclick="DelTable();">حذف</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $('#delete').click(function (e) {
            e.preventDefault();

        });
        function delT(id) {

            $('#delCode').text(id);
            $('#myModal').modal('show');
        }

        function DelTable() {
            var id = $('#delCode').html();
            $.ajax({
                url: "/Roles/deleteTable?id=" + id,
                type: "POST",

                success: function (data) {

                    window.location.reload();

                },
                error: function () {
                    $("#error").html("مشكلة فى الحفظ");
                    $("#DelMod").modal('show');
                }
            });
        }

    </script>
}