﻿@model qortuba.Models.recordCat
@{
    ViewBag.Title = "تسجيل قاعدة لفئة";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label>تسجيل قاعدة لفئة</label>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   

    <input type="hidden" id="id" name="id" value="@ViewBag.id" />
    <div class="form-inline">
        <div class="form-group row col-md-6">
            @Html.Label("","الوظائف", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-4">
                @Html.DropDownList("wid", null, htmlAttributes: new { @class = "form-control", required = "required" })

            </div>
        </div>
        <div class="form-group row col-md-6">
            @Html.Label("","القاعدة", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-4">
                @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })

            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="حفظ" class="btn btn-success" />
            @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>

}