﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label>الارشفة</label>

</div>

<div class="navbar navbar-inverse  ">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("الأرشفة", "Index", "auth", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">



                <li>@Html.ActionLink("خروج", "Logout", "auth")</li>
                <li>@Html.ActionLink("خروج", "Logout", "auth")</li>
                <li>@Html.ActionLink("خروج", "Logout", "auth")</li>
                <li>@Html.ActionLink("خروج", "Logout", "auth")</li>
            </ul>
            
        </div>
    </div>
</div>