﻿@using System.Data
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>تقرير بالمبانى الحكومية مكتب قرطبة</title>
    <link rel="stylesheet" href="Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/custom.css" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <style>
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        .bg {
            background-color: #d0d0d0;
        }

        .sum {
            background-color: yellow;
        }

        .total {
            background-color: #83ff83;
        }
    </style>
</head>

<body>


    <div>
        <table class="table" style="direction: rtl;">
            <thead class="bg">
                <tr>

                    @foreach (DataColumn col in Model.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {


                            @if (col.ColumnName.ToString().Contains("مجموع"))
                            {
                                <td class="sum">@row[col.ColumnName]</td>
                            }

                            else
                            {
                                <td>@row[col.ColumnName]</td>
                            }

                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
