﻿@using System.Data
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>تقرير العجز والزيادة بالمواد</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/custom.css" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <style>
        table thead tr {
            background-color: #d0d0d0 !important;
        }


        table tr:nth-child(odd) {
            background-color: #fdeed5;
        }

        table tr:last-child {
            background-color: #e2ffe6;
        }
        .red{
            color:red;
        }
    </style>
</head>

<body>


    <div>
        <table class="table table-bordered" style="direction: rtl;">
            <thead>
                <tr>
                    <td rowspan="2">المواد / المراحلة</td>
                    <td rowspan="2">المجموع العام</td>
                    <td colspan="5">الابتدائى</td>
                    <td colspan="5">المتوسط</td>
                    <td colspan="5">الثانوى</td>
                    <td rowspan="2">المجموع </td>
                </tr>
                <tr>
                    <td>عدد المعلمين</td>
                    <td>الحصص اللازمة</td>
                    <td>الحصص الموجودة</td>
                    <td>النتيجة بالحصة</td>
                    <td>النتيجة بالمعلم</td>
                    <td>عدد المعلمين</td>
                    <td>الحصص اللازمة</td>
                    <td>الحصص الموجودة</td>
                    <td>النتيجة بالحصة</td>
                    <td>النتيجة بالمعلم</td>
                    <td>عدد المعلمين</td>
                    <td>الحصص اللازمة</td>
                    <td>الحصص الموجودة</td>
                    <td>النتيجة بالحصة</td>
                    <td>النتيجة بالمعلم</td>
                </tr>
            </thead>
            <tbody>

                @foreach (DataRow row in Model.Rows)
                {
                <tr>
                    <td>@row["sName"].ToString()</td>
                    <td>@row["sumTeach"].ToString()</td>
                    <td>
                                        @{
                                            string ss0 = row["firstTeach"].ToString();
                                            if (ss0.Contains('-'))
                                            {
                                                <span class="red">@row["firstTeach"].ToString()</span>
                                            }
                                            else if (ss0 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["firstTeach"].ToString()</span>
                                            }

                                        }
                                    </td>
                    <td>
                        @{
                            string ss = row["firstReq"].ToString();
                            if (ss.Contains('-'))
                            {
                                <span class="red">@row["firstReq"].ToString()</span>
                            }
                            else if (ss == "")
                            {
                                <span>-</span>
                            }
                            else
                            {
                                <span>@row["firstReq"].ToString()</span>
                            }

                                        }
                                    </td>
                    <td>
                                        @{
                                            string ss1 = row["firstExt"].ToString();
                                            if (ss1.Contains('-'))
                                            {
                                                <span class="red">@row["firstExt"].ToString()</span>
                                            }
                                            else if (ss1 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["firstExt"].ToString()</span>
                                            }

                                        }

                                    </td>
                    <td>
                     
                                        @{
                                            string ss2 = row["firstCRlesult"].ToString();
                                            if (ss2.Contains('-'))
                                            {
                                                <span class="red">@row["firstCRlesult"].ToString()</span>
                                            }
                                            else if (ss2 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["firstCRlesult"].ToString()</span>
                                            }
                                        }

                                    </td>
                    <td>
                       

                                        @{
                                            string ss3 = row["firstRTeach"].ToString();
                                            if (ss3.Contains('-'))
                                            {
                                                <span class="red">@row["firstRTeach"].ToString()</span>
                                            }
                                            else if (ss3 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["firstRTeach"].ToString()</span>
                                            }
                                        }

                                    </td>
                    <td>

                                        @{
                                            string ss4 = row["secondTeach"].ToString();
                                            if (ss4.Contains('-'))
                                            {
                                                <span class="red">@row["secondTeach"].ToString()</span>
                                            }
                                            else if (ss4 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["secondTeach"].ToString()</span>
                                            }
                                        }

                                    </td>
                    <td>
                                        @{
                                            string ss5 = row["secondReq"].ToString();
                                            if (ss5.Contains('-'))
                                            {
                                                <span class="red">@row["secondReq"].ToString()</span>
                                            }
                                            else if (ss5 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["secondReq"].ToString()</span>
                                            }
                                        }

                                    </td>
                    <td>
   
                                        @{
                                            string ss6 = row["secondExt"].ToString();
                                            if (ss6.Contains('-'))
                                            {
                                                <span class="red">@row["secondExt"].ToString()</span>
                                            }
                                            else if (ss6 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["secondExt"].ToString()</span>
                                            }
                                        }
                                    </td>
                    <td>
                                        @{
                                            string ss7 = row["secondCRlesult"].ToString();
                                            if (ss7.Contains('-'))
                                            {
                                                <span class="red">@row["secondCRlesult"].ToString()</span>
                                            }
                                            else if (ss7 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["secondCRlesult"].ToString()</span>
                                            }
                                        }

                                    </td>
                    <td>
                                        @{
                                            string ss8 = row["secondRTeach"].ToString();
                                            if (ss8.Contains('-'))
                                            {
                                                <span class="red">@row["secondRTeach"].ToString()</span>
                                            }
                                            else if (ss8 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["secondRTeach"].ToString()</span>
                                            }
                                        }
                                    </td>
                    <td>
                                        @{
                                            string ss9 = row["thirdTeach"].ToString();
                                            if (ss9.Contains('-'))
                                            {
                                                <span class="red">@row["thirdTeach"].ToString()</span>
                                            }
                                            else if (ss9 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["thirdTeach"].ToString()</span>
                                            }
                                        }
                                    </td>
                    <td>
                                        @{
                                            string ss10 = row["thirdReq"].ToString();
                                            if (ss10.Contains('-'))
                                            {
                                                <span class="red">@row["thirdReq"].ToString()</span>
                                            }
                                            else if (ss10 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["thirdReq"].ToString()</span>
                                            }
                                        }

                                    </td>
                    <td>
                                        @{
                                            string ss11 = row["thirdExt"].ToString();
                                            if (ss11.Contains('-'))
                                            {
                                                <span class="red">@row["thirdExt"].ToString()</span>
                                            }
                                            else if (ss11 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["thirdExt"].ToString()</span>
                                            }
                                        }
                                    </td>
                    <td>
                  
                                        @{
                                            string ss12 = row["thirdCRlesult"].ToString();
                                            if (ss12.Contains('-'))
                                            {
                                                <span class="red">@row["thirdCRlesult"].ToString()</span>
                                            }
                                            else if (ss12 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["thirdCRlesult"].ToString()</span>
                                            }
                                        }
                                    </td>
                    <td>
                                        @{
                                            string ss13 = row["thirdRTeach"].ToString();
                                            if (ss13.Contains('-'))
                                            {
                                                <span class="red">@row["thirdRTeach"].ToString()</span>
                                            }
                                            else if (ss13 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["thirdRTeach"].ToString()</span>
                                            }
                                        }
                                    </td>
                    <td>
                                        @{
                                            string ss14 = row["totalCsum"].ToString();
                                            if (ss14.Contains('-'))
                                            {
                                                <span class="red">@row["totalCsum"].ToString()</span>
                                            }
                                            else if (ss14 == "")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                <span>@row["totalCsum"].ToString()</span>
                                            }
                                        }
                                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
