﻿@using System.Data
@model DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>تقرير الكوادر البشرية</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/custom.css" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <style>
       table thead tr{
          background-color:#d0d0d0 !important;
        }


       table tr:nth-child(odd) {
            background-color:#fdeed5;
            
        }
       table  tr:last-child {
          
            background-color:#e2ffe6;
        }
    </style>
</head>

<body>


    <div>
        <table class="table" style="direction: rtl;">
            <thead>
                <tr>

                    @foreach (DataColumn col in Model.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
