﻿@model qortuba.Models.TImployees
@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TImployees/Index">الموظفون</a> > موظف جديد</label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-inline ">

    <hr />
    <label class="text-danger">@ViewBag.error</label>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*  first row*@

    <div class="form-group row col-md-12 ">
        @Html.Label("", "الاسم", htmlAttributes: new { @class = "col-sm-2 " })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.name1, new { htmlAttributes = new { @class = "form-control nam mr", placeholder = "الاسم الاول", required = "required" } })
            @Html.EditorFor(model => model.name2, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثانى", required = "required" } })
            @Html.EditorFor(model => model.name3, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثالث", required = "required" } })
            @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control nam", placeholder = "اسم العائلة", required = "required" } })
            @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
        </div>
</div>
        <div class="form-group row col-md-4">
            @Html.Label("", "السجل المدنى", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "11" } })
                @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "المدرسة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownList("SchID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.SchID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "الحالة", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.TStatus, new { htmlAttributes = new { @class = "form-control", maxlength = "11" } })
                @Html.ValidationMessageFor(model => model.TStatus, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "المدرسة السابقة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownList("SchIDPrev", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.SchIDPrev, "", new { @class = "text-danger" })
            </div>
        </div>


        @*  2 row*@

        <div class="form-group row col-md-4">
            @Html.Label("", "تدريس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("SubID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })

                @Html.ValidationMessageFor(model => model.SubID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "تخصص اصلى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("SpecialIDOrig", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })

                @Html.ValidationMessageFor(model => model.SpecialIDOrig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "تخصص مثبت", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("SpecialID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })

                @Html.ValidationMessageFor(model => model.SpecialID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "رأس العمل", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("EmpStatus", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.EmpStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "النصاب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Reduced", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Reduced, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "العمل", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("WID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.WID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "م/الوزارة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("WorkDated", null, "يوم", htmlAttributes: new { @class = "datew ", required = "required" })
                @Html.DropDownList("WorkDatem", null, "شهر", htmlAttributes: new { @class = "datew ", required = "required" })
                @Html.DropDownList("WorkDatey", null, "سنة", htmlAttributes: new { @class = " datew", required = "required" })
                @Html.ValidationMessageFor(model => model.WorkDated, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "حالة اجتماعية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Married", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Married, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "أولاد", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.SunNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.SunNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "تاريخ الميلاد", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("BirthDated", null, "يوم", htmlAttributes: new { @class = "datew ", required = "required" })
                @Html.DropDownList("BirthDatem", null, "شهر", htmlAttributes: new { @class = "datew ", required = "required" })
                @Html.DropDownList("BirthDatey", null, "سنة", htmlAttributes: new { @class = " datew", required = "required" })
                @Html.ValidationMessageFor(model => model.BirthDatey, "", new { @class = "text-danger", required = "required" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "محل الميلاد", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthPlace, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "الجنسية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("NatID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.NatID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "هاتف", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "جوال", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Mopaul, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Mopaul, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "بريد الكترونى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Amail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-success" />
                @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>





    }


