﻿@model qortuba.Models.TImployees

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="titleBody">
    <label class="lbl-nav"><a href="~/TImployees/Index">المعلمين</a> > حذف معلم</label>
   
</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>
<label class="text-danger">هل انت متأكد من الحذف ؟</label>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-inline ">

        <hr />
        <label class="text-danger">@ViewBag.error</label>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*  first row*@

        <div class="form-group row col-md-12 ">
            @Html.Label("", "الاسم", htmlAttributes: new { @class = "col-sm-2 " })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.name1, new { htmlAttributes = new { @class = "form-control nam mr", placeholder = "الاسم الاول", required = "required", @readonly = "readonly" } })
                @Html.EditorFor(model => model.name2, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثانى", required = "required", @readonly = "readonly" } })
                @Html.EditorFor(model => model.name3, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثالث", required = "required", @readonly = "readonly" } })
                @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control nam", placeholder = "اسم العائلة", required = "required", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "السجل المدنى", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "11", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "المدرسة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownList("SchID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SchID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "الرقم الوطنى2", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Identity2, new { htmlAttributes = new { @class = "form-control", maxlength = "11", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Identity2, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "المدرسة السابقة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownList("SchIDPrev", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SchIDPrev, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حذف" class="btn btn-danger" />
                @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}