﻿@model qortuba.Models.TImployees


@{
    /**/

    ViewBag.Title = "بيانات معلم / موظف";
    Layout = "~/Views/Shared/_Layout1.cshtml";


}



<div class="titleBody">
    <label class="lbl-nav"><a href="">بيانات معلم / موظف</a> </label>

</div>
<div class="panel panel-info">
    <div class="panel-heading" style="background-color:#efc66c;font-size:16px;">
        الادلة والتعاميم
    </div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
                تحميل الادلة والتعاميم
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dir="rtl">
                @foreach (var de in ViewBag.adela)
                {
                    string path = de.id + de.adFile;
                    string dname = de.adName + de.adFile;
                    <li><a href="../../Upload/Emp/@path" download="@dname">@de.adName</a></li>
                }


            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>
<label class="text-danger">@ViewBag.error</label>
@using (Html.BeginForm("EmpData", "TImployees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-inline ">

        <hr />
        <label class="text-danger">@ViewBag.error</label>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Identity)
        @*  first row*@

        <div class="row">

            <div class="col-sm-9">
                @Html.Label("", "الاسم", htmlAttributes: new { @class = "col-sm-2" })

                <div class="col-sm-3">@Html.EditorFor(model => model.name1, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الاول", required = "required", @readonly = "readonly" } })</div>
                <div class="col-sm-2">@Html.EditorFor(model => model.name2, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثانى", required = "required", @readonly = "readonly" } }) </div>
                <div class="col-sm-2">@Html.EditorFor(model => model.name3, new { htmlAttributes = new { @class = "form-control nam", placeholder = "الاسم الثالث", required = "required", @readonly = "readonly" } })</div>
                <div class="col-sm-2">@Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control nam", placeholder = "اسم العائلة", required = "required", @readonly = "readonly" } })</div>




                @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
            </div>
        </div>
  
        <div class="form-group row col-md-4">
            @Html.Label("","السجل المدنى", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "11", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "المدرسة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownList("SchID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SchID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "الرقم الوطنى2", htmlAttributes: new { @class = "col-sm-5 " })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Identity2, new { htmlAttributes = new { @class = "form-control", maxlength = "11", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Identity2, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group row col-md-8 ">
            @Html.Label("", "المدرسة السابقة", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownList("SchIDPrev", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SchIDPrev, "", new { @class = "text-danger" })
            </div>
        </div>


        @*  2 row*@

        <div class="form-group row col-md-4">
            @Html.Label("", "تدريس", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("SubID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })

                @Html.ValidationMessageFor(model => model.SubID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "تخصص اصلى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("SpecialIDOrig", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })

                @Html.ValidationMessageFor(model => model.SpecialIDOrig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "تخصص مثبت", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("SpecialID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })

                @Html.ValidationMessageFor(model => model.SpecialID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "رأس العمل", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("EmpStatus", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.EmpStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "النصاب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Reduced", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Reduced, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "العمل", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("WID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.WID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "م/الوزارة", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("WorkDated", null, "يوم", htmlAttributes: new { @class = "datew ", required = "required", @readonly = "readonly" })
                @Html.DropDownList("WorkDatem", null, "شهر", htmlAttributes: new { @class = "datew ", required = "required", @readonly = "readonly" })
                @Html.DropDownList("WorkDatey", null, "سنة", htmlAttributes: new { @class = " datew", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.WorkDated, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row col-md-4">
            @Html.Label("", "حالة اجتماعية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("Married", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Married, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "أولاد", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.SunNo, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.SunNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "تاريخ الميلاد", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("BirthDated", null, "يوم", htmlAttributes: new { @class = "datew ", required = "required", @readonly = "readonly" })
                @Html.DropDownList("BirthDatem", null, "شهر", htmlAttributes: new { @class = "datew ", required = "required", @readonly = "readonly" })
                @Html.DropDownList("BirthDatey", null, "سنة", htmlAttributes: new { @class = " datew", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.BirthDatey, "", new { @class = "text-danger", required = "required", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "محل الميلاد", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.BirthPlace, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.BirthPlace, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("","الجنسية", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.DropDownList("NatID", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.NatID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "هاتف", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "جوال", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Mopaul, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Mopaul, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-md-4">
            @Html.Label("", "بريد الكترونى", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                @Html.EditorFor(model => model.Amail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-md-4">
            @Html.Label("", "رفع التوقيع", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
            <div class="col-sm-7">
                <input type="file" name="file1" id="file1" class="form-control" />
                <span>التوقيع</span>

                <img src=@Url.Content("~/Upload/"+@Model.SchID+"/emps/"+@Model.Identity+".png") width="140" height="140" />
            </div>
        </div>
        @if (ViewBag.wd == "75" || ViewBag.wd == "76" || ViewBag.wd == "73" || ViewBag.wd == "74" || ViewBag.wd == "84")
        {
            <div class="form-group row col-md-4">
                @Html.Label("", "رفع الختم", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    <input type="file" name="file2" id="file2" class="form-control" />
                    <span>الختم</span>

                    <img src=@Url.Content("~/Upload/" + @Model.WID + "/officeGroup/" + @Model.Identity + ".png") width="140" height="140" />
                </div>
            </div>
        }
        @if (ViewBag.wd == "75")
        {
            <div class="form-group row col-md-4">
                @Html.Label("", "ختم المكتب", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                <div class="col-sm-7">
                    <input type="file" name="file3" id="file3" class="form-control" />
                    <span>ختم المكتب</span>

                    <img src=@Url.Content("~/Upload/officeAc/offSig.png") width="140" height="140" />
                </div>
            </div>
        }

        <div class="form-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-success" />
                @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>





}
@section scripts{
    <script>
        $(function () {
            $('input[type=file]').change(function () {
                var val = $(this).val().toLowerCase(),
                    regex = new RegExp("(.*?)\.(png)$");

                if (!(regex.test(val))) {
                    $(this).val('');
                    alert('من فضلك يجب ان يكون امتداد الصورة (png)');
                }
            });
        });

    </script>

}


