body{
font-size: 13px;
    color: #333;


    background: url(../img/bg.png) repeat center top #eeedeb;


}
    .mn{
      background-color: #fff;
      border-top: 7px solid #31adbf;
      margin-top: -30px;
    }
    .container {
    max-width: 1300px;
}
.social-media{
  margin-top: 5px;
    direction: ltr;
    margin-bottom: 15px;
}
.txt{
      margin-top: 6px;
}
.nav-bar .containerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 0;
    height: 50px;
}
.nav-link{
  font-size: 16px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.owl-carousel:first-child(){
  height: 400px;
}
.owl-carousel .item img{
  height: 400px;
}
.mn-service{
  box-shadow: 0px 0px 14px 0px #31adbf;
    -webkit-box-shadow: 0px 0px 14px 0px #31adbf;
      -ms-box-shadow: 0px 0px 14px 0px #31adbf;
      padding: 5px;
      margin-bottom: 10px;
}
.btnMore{
  width: 80px;
    font-weight: bold !important;
    font-size: 13px !important;
    background-color: #009085 !important;
}
h6,h5,h4,h3,h2,h1{
  font-family: Changa !important;
}
a {
          cursor: pointer;
      }
      .showtxt {
          display: block;
      }

      .hidetxt {
          visibility: visible;
      }

      .dropdown {
          cursor: pointer;
      }

      .dropdown-submenu {
          position: relative;
      }

          .dropdown-submenu > .dropdown-menu {
              top: 0;
              /*left:-100%;*/
              left: -10rem; /* 10rem is the min-width of dropdown-menu */
              margin-top: -6px;
              width: 250px !important;
          }

      /* rotate caret on hover */
      .dropdown-menu > li > div > input[class="stb"]:focus {
          display: block;
      }

      .dropdown-menu > li {
          cursor: pointer;
          width: auto;
      }

      .wid {
          width: 88%;
      }

      .bt {
          position: relative;
          top: -3px;
          height: 33px;
      }

      .modal-title {
          text-align: center;
          font-weight: bold;
      }

      .modal-body {
          height: 100%;
      }

      .modal-header .close {
          margin-top: -20px;
      }

      .dropdown-submenu {
          position: relative;
      }

          .dropdown-submenu > .dropdown-menu {
              top: 0;
              right: 100%;
              margin-top: -6px;
              margin-left: -1px;
              -webkit-border-radius: 0 6px 6px 6px;
              -moz-border-radius: 0 6px 6px 6px;
              border-radius: 6px 6px 6px 0;
          }

          .dropdown-submenu > a:before {
              display: block;
              content: "\25c4";
              float: left;
              width: 0;
              height: 0;
              border-color: transparent;
              border-width: 5px 0 5px 5px;
              margin-top: 5px;
              margin-right: -10px;
          }

          .dropdown-submenu:hover > a:after {
              border-left-color: blue;
          }

          .dropdown-submenu.pull-left {
              float: none;
          }

              .dropdown-submenu.pull-left > .dropdown-menu {
                  left: 100%;
                  margin-left: 10px;
                  -webkit-border-radius: 6px 0 6px 6px;
                  -moz-border-radius: 6px 0 6px 6px;
                  border-radius: 6px 0 6px 6px;
              }

      .navbar-inverse .navbar-nav > li > a {
          color: #f4f758;
          font-size: 18px;
      }

      .cRed {
          margin-right: 10px;
          background-color: red;
      }
      .dropdown-menu {
          right: 0;
          min-width: 250px;
      }
      .navbar-nav > li > a {
          font-size: 14px;
      }
      .navbar {
        background-color: #31adbf;
        width: 100%;
      }
      .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.nav-item {
    border-left: 1px solid black;
    padding-left: 10px !important;
    padding-right: 10px !important;

}
.nav-item a {
color:#fff;

}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #000 !important;
    font-weight: bold!important;
    background-color: #31adbf !important;
    border-color: #428bca;
}
.nav  a:hover {
    color: #000 !important;
    font-weight: bold!important;
    background-color: #31adbf !important;
    border-color: #428bca;
}
.navbar-toggle {
  background-color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #000 !important;
}
.carousel-inner{
  width:100%;
  max-height: 400px !important;
}
.loginuser{
      width: 60px;
}
