* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  direction: rtl;
}

header .logos img {
  width: 100px;
}

.header-container {
  margin-right: 3%;
  margin-left: 3%;
}

header .logos {
  text-align: right;
}

.social-media img {
  width: 20px;
  margin-right: 8px;
}

header form {
  direction: ltr;
}

.header-container form input {
  text-align: right;
}

.header-container form button {

  border: 1px solid #31adbf;
  background: #31adbf;
  color: #fff;

}

.header-container form button:hover {
  color: #31adbf;
  background: #fff;
}

/* navbar section */

.nav-bar {
  background-color: #31adbf;
}

.nav-link {
  color: #fff;

}

.nav-link:hover {
  color: #032D46;
}

.nav-item {
  border-left: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
}

.lang {
  color: #fff;
  background: #032D46;
  padding: 15px;
  padding-right: 20px;
  text-decoration: none;
}

.lang:hover {
  background: #fff;
  color: #032D46;
  text-decoration: none;
}

.nav-bar .containerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
}

.navbar-toggler-icon i {
  color: #ffffff;
  font-size: 25px;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .nav-item {
    border: none;
  }
}


/* main  */

main {
  margin-top: 20px;
}

.main-container {
  width: 98%;
}

/* main slider */
#main-slider {
      width: 100%;
      margin-bottom: 40px;
      margin-top: 10px;
}

#main-slider .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 100px;
  font-weight: 100;
  color: #fff;
}

#main-slider .owl-nav button {
  outline: none;
}

#main-slider .owl-dots {
  position: absolute;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 18px;
}

#main-slider .owl-dots button {
  width: 15px;
  height: 15px;
  border: 1px solid #31adbf;
  border-radius: 50%;
  margin-right: 7px;
  outline: none;
  background: #fff;
}

#main-slider .owl-dots button.active {
  background: #31adbf;
}

#main-slider .item img {
  border-radius: 4px;
}

/* sidebar section */

.sidebar {
  border: 1.5px solid #c2c2c2;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: -1px 3px 8px -3px rgba(89, 84, 222, 0.71);
  -moz-box-shadow: -1px 3px 8px -3px rgba(89, 84, 222, 0.71);
  box-shadow: -1px 3px 8px -3px rgba(89, 84, 222, 0.71);
  margin-bottom: 60px;
  margin-top: 10px;
}

.sidebar .container .image img {
  width: 75px;
  height: 65%;
}

.sidebar h3 {
  color: #032D46;
}

.sidebar .text {
  margin-bottom: 10px;
}

.box {
  border: 1.5px solid #c2c2c2;
  text-align: center;
  border-radius: 4px;

  padding-top: 15px;
}

.box p {
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
}

.box:hover {
  background: #31adbf;
  color: #ffffff;
  text-decoration: none;
}


#more {
  display: none;
}

#viewmore {
  border: 1.5px solid #c2c2c2;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  color: #032D46;
}

#viewmore:hover {
  background: #31adbf;
  color: #ffffff;

}

/* ads slider */
.ads {
  text-align: center;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  -moz-box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  margin-right: 20px;
  padding: 20px;

}

h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

#ads-slider {
  width: 95%;
}

#ads-slider .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 104%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 100px;
  font-weight: 100;
  color: #032D46;
}

#ads-slider .owl-nav button {
  outline: none;
}

#ads-slider .owl-stage-outer {
  margin-right: 20px;
}

#ads-slider .item img {
  border-radius: 4px;
  max-height: 200px;
  padding: 10px;
}

/* schools section */

.schools {
  text-align: right;
  margin-right: 20px;
  -webkit-box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  -moz-box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 60px;
}



.schools {
  text-align: right;
}

.schools .accordion {
  padding-bottom: 20px;
}

.schools .accordion .card {
  margin-bottom: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff !important;
}

.schools .accordion .card .card-header {
  background: #ffffff;
}

.schools .accordion .card .card-header .drower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.schools .accordion .card .card-header .drower button {
  font-size: 18px;
  line-height: 1.17;
  color: #171932;
}

.schools .accordion .card .card-header .drower i {
  font-size: 30px;
  color: #31adbf;
}

.schools .accordion .card .card-header h2 button[aria-expanded="false"]~i {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.schools .accordion .card .card-header h2 button[aria-expanded="true"]~i {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.schools .accordion .card .card-body {
  font-size: 14px;
  line-height: 1.71;
  color: #171932;
}

.schools .accordion .card:not(:first-of-type) {
  border-radius: 4px;
}

/* imp-links */
.imp-links {
  text-align: right;
  margin-right: 20px;
}

.imp-links ul {
  display: inline-block;
  text-align: right;
  margin-left: 40px;
  margin-right: 20px;
  list-style-type: none;
}

.imp-links ul li {
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 2;
}

.imp-links ul li::before {
  content: "\2022";
  color: #31adbf;
  font-weight: bolder;
  display: inline-block;
  width: 1.5em;
}

.imp-links h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 25px;
  margin-right: 20px;
  position: relative;
}

.imp-links h3::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 3px;
  background: #31adbf;
  bottom: -10px;
  right: 0;
}

.quick-cont {
  margin-right: 15px;
  margin-bottom: 60px;

}

.cont {
  display: flex;
  align-items: center;
  width: 97%;
  padding: 6px 10px;
  background: #31adbf;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.quick-cont h4 {
  text-align: center;
  margin-bottom: 10px;
}

.quick-img {
  width: 70px;
}

.quick {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(226, 226, 226);
  margin: 10px;
  -webkit-box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  -moz-box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
  box-shadow: 0px 2px 8px 0.5px rgba(89, 84, 222, 0.25);
}

.contacts a img {
  width: 60px;
  margin-bottom: 15px;
}

.contacts a {
  text-decoration: none;
}

.contacts:hover {
  background: #31adbf;
  color: #fff;
  text-decoration: none;
}

.contacts a:hover {
  color: #fff;
}

.acheavments {
  text-align: right;
}

.acheavments img {
  width: 200px;
  height: 150px;
}

.acheavments h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 25px;
  margin-right: 20px;
  position: relative;
}

.acheavments h3::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 3px;
  background: #31adbf;
  bottom: -10px;
  right: 0;
}

.store img {
  width: 150px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

footer {
  background: url(/img/footer.jpg);
  background-position: center;
  height: 320px;
  margin-top: 60px;
  position: relative;
}
.special-img{
  width: 350px;
  position: absolute;
  left: 40%;
  transform: translateY(-333px);
}
.overlay {
  height: 320px;
  background: rgba(13, 53, 76, 0.89);
}

footer .line {
  height: 1.5px;
  width: 95%;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  padding-right: 50px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.links-list  ul {
  padding-left: 60px;
  padding-right: 50px;
  list-style-type: none;
  border-left: 1.5px solid rgba(255, 255, 255, 0.527);
}

.links-list ul li a{
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 2;
  color: #ffffff;
}

.copy-rights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 8px 20px;
}
.copy-rights img {
  width: 100px;
  height: 80px;
}

.copy-rights p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 22px;
  color: #171932;
}


@media only screen and (max-width: 600px) {
.special-img {
  display: none;
}
.links-list  ul {
  padding: 10px;

  border: none;
}
.links-list  ul li {
  margin-left: 10px;
}

.copy-rights p {
  font-size: 16px;
}
.copy-rights img {
  width: 80px;
  height: 60px;
}


#main-slider .owl-nav {
  position: absolute;
  top: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 50px;
  font-weight: 100;
  color: #2196F3;
  transform: translateX(-50%);
  left: 50%;
  width: 20%;

}
.owl-dot {
  display: none;
}

header .logos {
  text-align: center;
}

header .social-media  {
text-align: center;
}
header form {
  justify-content: center;
}
header .form-control {
  width: 60%;
}

#ads-slider .owl-nav {
  width: 110%;
  top: 30%;
}
.imp-links ul li  {
  font-size: 16px;
}

.acheavments {
  text-align: center;
}
.acheavments img {
  margin-bottom: 10px;
}

.acheavments h3::after {
  background: none;
}
.links-list {
  padding-right: 20px;
  margin-bottom: 0;
}

.footer-icons  {
  justify-content: center;
}
}
