﻿
@font-face {
    font-family: Changa;
    src: url(../fonts/Changa-Regular.ttf);
}
/*@font-face {
    font-family:kufi;
    src: url(../fonts/ReemKufi-Regular.ttf);
}
@font-face {
    font-family: GS;
    src: url(../fonts/GE_SS_TWO_MEDIUM.ttf);
}
@font-face {
    font-family: GSB;
    src: url(../fonts/GE_SS_TV_BOLD.ttf);
}*/
* {
    font-family: Changa;
}

/*strat login */
.lay {
    background: linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68)), url(../images/backtimetable.jpg);
    min-height: 350px;
    height: 100%;
    overflow: hidden;
}
.layF {
    background: linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68)), url(../images/backtimetable.jpg);
    min-height: 350px;
    height: 100%;
    overflow: hidden;
}
#lbl {
font-size:18px;
}
.panel-heading {
text-align:center;
}
.center-block {
    margin-top:10px;
    display: flex;
    justify-content: center; 
}
.center-block input {
    margin-left:5px;
}
/*end login */
/* start layout */
.backBody {
    background: linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68)), url(../images/backtimetable1.jpg) no-repeat;
    background-size:100%;
    height: 100%;
}
.titleBody {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(../images/banner.jpg);
    background-size: 100% 120px;
    /*background: url(../images/hh1.jpeg);*/
    margin-top: 65px;
    margin-bottom: 10px;
    height: 120px;
    width: 100%;
}
    .titleBody label {
     margin:40px 20px;
    color :#ffff;
    }
    .lbl-nav {
        margin: 40px 5px !important;
        color: #ffff;
    }
.lbl-nav a {
    color: #e0e85d;
}

.bcolor {
    background-color: #e5e6e4;
}

.bcolor1 {
    background-color: #eae8d7;
}
.datew {
    width: 60px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.nam {
width:17.2%;
}
.mr {
    margin-right: -6%;
}
.circleEd {
    width: 23.8%;
}

.aDec {
 text-decoration:none;
}


