﻿* {
    list-style-type:none;
}


nav #mn{
    overflow:auto;
}
.item{
    border-top: 1px solid #0094ff;
    overflow:hidden;
}
.btnn{
    display:block;
    padding: 16px 20px;
    background: #285c82;
    color:#fff;
    position:relative;
}
.btnn:hover {
    color:yellow;
    text-decoration:none;
    font-weight:bold;
}
    .btnn:active {
        color: #f7bd39;
        text-decoration: none;
        font-weight: bold;
    }
    .btnn:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: #285c82;
        right: 20px;
        bottom: -7px;
        transform: rotate(45deg);
    }
    .btnn i{
        margin-left:10px;
    }
    .smenu{
        background:#333;
        overflow:hidden;
        transition: max-height 0.3s;
        max-height:0;


    }
    .smenu a{
        display:block;
        padding: 16px 26px;
        color:#fff;
        margin:4px 0;
        position:relative;
   

    }
        .smenu a:hover {
            color: yellow;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }
        .smenu a:active {
            color: #f7bd39;
            
            text-decoration: none;
            font-weight: bold;
        }
        .smenu a:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 100%;
            background: #285c82;
            right: 0;
            top: 0;
            transition: 0.3s;
            opacity: 0;
        }
        .smenu a:hover:before {
     
            opacity: 1;
        }
        .item:target .smenu{
            max-height:100%;
        }
#divH {
    padding: 10px;
    display: flex;
}

    #divH li a {
        color: #fff !important;
        margin-left:10px;
    }

    #divH li a:hover {
        color: yellow !important;
        text-decoration:none;
        cursor:pointer;
    }
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}