﻿@{
    ViewBag.Title = "الصلاحيات";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="titleBody">
    <label>الصلاحيات والسماحية</label>

</div>
<div class="panel panel-danger">
    <div class="panel-heading">الصلاحيات والسماحية</div>
    <div class="panel-body" style="text-align:center;">
        <h4> عفواً لاتملك الصلاحيات للدخول الى هذة االصفحة .. الرجاء مراجعة مدير النظام</h4>
    </div>
</div>

