﻿@model qortuba.Models.TImployees


@{
    ViewBag.Title = "الرئيسية";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <section class="main-slider">
            <!-- <div class="container">
              <div class="owl-carousel" id="main-slider">
                <div class="item">
                  <img src="img/head2.png" alt="منصة قرطبة التعليمية">
                </div>
                <div class="item">
                  <img src="img/head2.png" alt="منصة قرطبة التعليمية">
                </div>
                <div class="item">
                  <img src="img/head2.png" alt="منصة قرطبة التعليمية">
                </div>
              </div>
            </div> -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/img/head2.png" alt="منصة قرطبة التعليمية">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/img/head2.png" alt="منصة قرطبة التعليمية">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/img/head2.png" alt="منصة قرطبة التعليمية">
                        <div class="carousel-caption">

                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- Carousel -->
        </section>
        <section class="ads">
            <h4>
                إعلانات المنصة
            </h4>
            <div class="container">
                <div class="owl-carousel" id="ads-slider">
                    <div class="item">
                        <img src="~/img/adds1.jpg" alt="منصة قرطبة التعليمية">
                    </div>
                    <div class="item">
                        <img src="~/img/adds1.jpg" alt="منصة قرطبة التعليمية">
                    </div>
                    <div class="item">
                        <img src="~/img/adds1.jpg" alt="منصة قرطبة التعليمية">
                    </div>
                    <div class="item">
                        <img src="~/img/adds1.jpg" alt="منصة قرطبة التعليمية">
                    </div>
                </div>
            </div>
        </section>
        <section class="schools">
            <h4>
                المدارس المتميزة والأعلى تقييماً
            </h4>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0 drower">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                المدارس الإبتدائية
                            </button>
                            <i class="fas fa-arrow-circle-down  " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            اسم المدرسة
                            العنوان
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0 drower">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                المدارس المتوسطة
                            </button>
                            <i class="fas fa-arrow-circle-down  collapseThree" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></i>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            اسم المدرسة
                            العنوان
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0 drower">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                المدارس الثانوية
                            </button>
                            <i class="fas fa-arrow-circle-down collapsed " data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"></i>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            اسم المدرسة
                            العنوان
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="col-lg-4 col-sm-12">
        <section class="sidebar">

            <div class="container">
                <div class="row justify-content-around align-content-center mn-service">
                    <div class="image col-lg-3 col-md-3">
                        <img src="~/img/login.png" alt="تسجيل دخول" class="loginuser">
                    </div>
                    <div class="text col-lg-9 col-md-9">
                        <h4 style="font-family: Changa;">تسجيل دخول</h4>
                        <h4>Login</h4>
                    </div>
                </div>
                <div class="row">
                    <a href="/auth/login" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/t3.png" alt="قائد مدرسة" class="loginuser">
                            <p>قائد مدرسة</p>

                        </div>
                    </a>
                    <a href="/auth/login" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/t4.png" alt="مشرف تربوى" class="loginuser">
                            <p>مشرف تربوى</p>

                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="/auth/login" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/t2.png" alt="مدير النظام" class="loginuser">
                            <p>مدير النظام</p>

                        </div>
                    </a>
                    <a href="/auth/login" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/t2.png" alt="معلم" class="loginuser">
                            <p>معلم</p>

                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="/auth/login" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/t5.png" alt="ولى امر" class="loginuser">
                            <p>ولى امر</p>

                        </div>
                    </a>
                </div>



            </div>

            <div class="container">
                <div class="row justify-content-around align-content-center mn-service">
                    <div class="image col-lg-3 col-md-3">
                        <img src="~/img/eS6-JUwh.png" alt="بوابة الخدمات الإلكترونية">
                    </div>
                    <div class="text col-lg-9 col-md-9">
                        <h4 style="font-family: Changa;">بوابة الخدمات الإلكترونية</h4>
                        <h4>E- Services Portal</h4>
                    </div>
                </div>
                <div class="row">
                    <a href="/Delegation/IndexDele" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/Mask Group 204.png" alt="ندب المعلمين">
                            <p>ندب المعلمين</p>

                        </div>
                    </a>
                    <a href="/Acceptance/Index" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>القبول والتسجيل</p>

                        </div>
                    </a>
                </div>

                <div class="row">
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/Mask Group 207.png" alt="الأرشفةالالكترونية">
                            <p>الأرشفة الإلكترونية</p>

                        </div>
                    </a>
                    <a href="/TimeTable" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>الجداول الدراسية</p>

                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/Mask Group 207.png" alt="الأرشفةالالكترونية">
                            <p>الزيارات الميدانية</p>

                        </div>
                    </a>
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>متابعة المدارس</p>

                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/Mask Group 207.png" alt="الأرشفةالالكترونية">
                            <p>النشاط الطلابى</p>

                        </div>
                    </a>
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>التوجيه والارشاد</p>

                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>الحضور والانصراف</p>

                        </div>
                    </a>
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>الاتصال المرئى</p>

                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>المقررات الدراسية</p>

                        </div>
                    </a>
                    <a href="#" class="">
                        <div class="col-lg-6 col-md-6 col-sm-6 box">

                            <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                            <p>الصحة المدرسية</p>

                        </div>
                    </a>
                </div>



                <span id="dots"></span>
                <span id="more">

                    <div class="row">
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>المقاصف الدراسية</p>

                            </div>
                        </a>
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>الامن والسلامة</p>

                            </div>
                        </a>
                    </div>

                    <div class="row">
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>تويتر المدارس</p>

                            </div>
                        </a>
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>المبانى الجديدة</p>

                            </div>
                        </a>
                    </div>

                    <div class="row">
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>حراس المدارس</p>

                            </div>
                        </a>
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>الاداريون</p>

                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>مناقلة العهد</p>

                            </div>
                        </a>
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>النقل المدرسى</p>

                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="#" class="">
                            <div class="col-lg-6 col-md-6 col-sm-6 box">

                                <img src="~/img/register_record_put-on-record_enter-file_report_okay_document_acceptance-512.png" alt="التسجيل والقبول">
                                <p>البريد الرسمى</p>

                            </div>
                        </a>
                    </div>


                </span>
                <div class="row">
                    <button class="col-12 btn btn-success btnMore" onclick="ViewMore()" id="viewmore">المزيد ...</button>
                </div>
            </div>
        </section>
        <section class="quick-cont">
            <div class="row">
                <div class="cont">
                    <img src="~/img/Emai.png" alt="تواصل مع قيادات المنصة">
                    <h4>تواصل مع قيادات المنصة</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="quick">
                        <img class="quick-img" src="~/img/fast-shipping-delivery-truck-or-van-icon-vector-21649419.jpg" alt="الوصول السريع">
                        <h4>الوصول السريع</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="contacts">
                        <a href="#">
                            <img src="~/img/shutterstock_195499301.png" alt="البريد الإلكتروني">
                            <p>البريد الإلكتروني</p>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="contacts">
                        <a href="#">
                            <img src="~/img/laptop-symbol-azy.png" alt="نظام سير المعاملات">
                            <p>نظام سير المعاملات</p>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="contacts">
                        <a href="#">
                            <img src="~/img/icon.png" alt="الخدمات الإدارية">
                            <p>الخدمات الإدارية</p>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="contacts">
                        <a href="#">
                            <img src="~/img/g.jfif" alt="الخدمات الأكادمية">
                            <p>الخدمات الأكادمية</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-8 col-sm-12">
        <section class="imp-links">
            <h3 style="text-align: right;">روابط هامة</h3>
            <ul>

                <li><a href="#"> دليل الجامعه</a></li>
                <li><a href="#"> المناقصات </a></li>
                <li><a href="#"> تقنية المعلومات </a></li>
                <li><a href="#"> سياسة البوابة</a> </li>
            </ul>
            <ul>
                <li><a href="#"> فريق البوابة الإلكترونية</a></li>
                <li><a href="#"> نظام إدارة خدمات تقنية المعلومات</a></li>
                <li><a href="#"> أسئلة متكررة </a></li>
                <li><a href="#"> خريطة الموقع</a> </li>
            </ul>
            <ul>
                <li><a href="#"> سياسة البوابة</a> </li>
                <li><a href="#"> التقويم الأكاديمي</a> </li>
                <li><a href="#"> البيانات المفتوحة</a></li>
                <li><a href="#"> مواقع ذات صلة</a></li>
            </ul>
        </section>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="acheavments">
            <h3 style="text-align: right;">إنجازات</h3>
            <div class="row">
                <img src="~/img/c2.jpeg" alt="انجازات" class="col-lg-6 col-md-6">
                <img src="~/img/adds1.jpg" alt="انجازات" class="col-lg-6 col-md-6">
            </div>

        </div>

    </div>
</div>







<script src="~/js-c/js/jquery-3.4.1.min.js"></script>



<script src="~/js/jquery-3.3.1.js"></script>