﻿
@{
    Layout = null;
}
@model qortuba.Models.userAccount

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - منصة قرطبة التعليمية</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/demos.css" rel="stylesheet" />
    <link href="~/css/docs.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/highlight.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.css" rel="stylesheet" />
    <link href="~/css/owl.theme.green.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/circleP.css" rel="stylesheet" />
    <link href="~/css/circleProgress.css" rel="stylesheet" />
    <link href="~/css/Gridmvc.css" rel="stylesheet" />
    <link href="~/css/interface.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/protip.min.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/test.css" rel="stylesheet" />
</head>
<body class="lay">

    <div class="container ">
        <div class="row text-right">
            <div class=" col-md-4 col-md-offset-4 " style="float: none;margin: 0 auto;">
                <div class="panel panel-primary" style="direction:ltr !important;">
                    <div class="panel-heading">
                        <img src="../images/logo.png" width="100%" height="135px" style="margin-top:-10px;" />
                        <label id="lbl">

                        </label>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "auth", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <span class="login100-form-logo">
                                <i class="zmdi zmdi-landscape"></i>
                            </span>


                            <div class="form-inline">
                                <div>
                                    @Html.Label("الرقم الوطنى","", htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group  ">

                                        @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw text-success" style="font-size:20px;"></i></span>
                                    </div>

                                </div>

                            </div>
                            <div class="form-inline">
                                <div>
                                    @Html.Label("كلمة المرور","", htmlAttributes: new { @class = "control-label" })

                                    <div class="input-group ">

                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", required = "required", type = "password" } })
                                        <span class="input-group-addon"><i class="fa fa-lock fa-fw text-danger" style="font-size:20px;"></i></span>
                                    </div>

                                </div>

                            </div>
                            @*<div class="form-inline">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox col-md-6">
                                            @Html.Label("تذكرنى", htmlAttributes: new { @class = "control-label" })
                                            @Html.CheckBox("تذكرنى")
                                        </div>
                                    </div>

                                </div>*@
                            <div class="form-inline center-block ">
                                <input type="button" id="clear" value="مسح" class="btn btn-danger " onclick="cleartxt()" />
                                <input type="submit" value="دخول" class="btn btn-success " />
                            </div>



                            <div class="text-center p-t-90">
                                <a id="error" class="txt1 text-danger" href="#">
                                    @ViewBag.error
                                </a>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function cleartxt() {
            document.getElementById("id").value = "";
            document.getElementById("password").value = "";

        }
    </script>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@


</body>
</html>
