﻿
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>منطة قرطبة</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" href="~/images/log.png" type="image/png">
    @Styles.Render("~/Content/css")

    <style>

        body {
            margin: 0px;
            padding: 0px;
        }

        header {
            min-height: 35px;
            background-color: #773a3a;
        }

        nav {
            width: 15%;
            min-height: 300px;
            float: right;
            background-color: #000;
        }
        ul{
              padding:0;
        }

        section #main {
            width: 85%;
            float: left;
            min-height: 600px;
            background-color: aquamarine;
        }

        .claerfx {
            clear: both;
        }

        section #center {
            height: 500px;
            overflow: auto;
        }


        footer {
            height: 30px;
            background-color: #578252;
            width:85%;
        }
          footer p{
      color:#fff;
        }
    
    </style>

</head>
<body>


   
    <nav id="mn">
        <center>  <img src="~/images/log.png" width="100" height="70" /></center>
        <ul dir="rtl">
            <li class="item" id="emp">
                <a href="#emp" class="btnn"><i class="fa fa-user fa-fw "></i>الموظفون</a>
                <div class="smenu">
                    <a href="#">الموظفون</a>
                    <a href="#">بيانات معلم / موظف</a>
                    <a href="#">قادة المدارس</a>
                </div>

            </li>
            <li class="item" id="del">
                <a href="#del" class="btnn"><i class="fa fa-user fa-fw "></i>االمدارس</a>
                <div class="smenu">
                    <a href="#">المدارس</a>
                    <a href="#"> العجز والزيادة</a>
                    <a href="#">مجالس إدارات المدارس</a>
                    <a href="#">قبول الطلاب</a>
                </div>

            </li>
            <li class="item" id="sch">
                <a href="#sch" class="btnn"><i class="fa fa-user fa-fw "></i>الجداول</a>
                <div class="smenu">
                    <a href="#">الجداول</a>

                </div>

            </li>
            <li class="item" id="dell">
                <a href="#dell" class="btnn"><i class="fa fa-user fa-fw "></i>الندب</a>
                <div class="smenu">
                    <a href="#">الندب</a>
                    <a href="#"> اولاً-الندب المبدئى</a>
                    <a href="#"> التصديق على الندب</a>
                    <a href="#"> ثانياً - إخلاء طرف</a>
                    <a href="#"> ثالثاً - مباشرة الندب</a>
                    <a href="#"> رابعاً - إعتماد المكتب للندب</a>
                    <a href="#">تتبع الندب</a>
                </div>

            </li>
   
        </ul>


    </nav>
    <section id="main">
        <header>
         
                <ul id="divH" >
                    <li><a ><i class="fa fa-sign-out fa-fw"></i> خروج</a></li>
                    <li><a ><i class="fa fa-user fa-fw"></i> الملف االشخصى</a></li>
                </ul>
            
        </header>
        <section id="center"></section>
        <footer><center><p>جميع الحقوق محفوظة لمكتب قرطبة للتعليم -2019</p></center></footer>
    </section>
    <div class="claerfx"></div>
   





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/sweetalert2")
    @Scripts.Render("~/bundles/protip")
    @Scripts.Render("~/bundles/jquery-ui.min")

    <script>
        ld();

      
        function ld() {
        var hi = $(document).height();
        var he = hi + 'px';
        $('nav').css('height', he);
        $('#main').css('height', he);
        var c1 = hi - 75;
        var c2 = c1 + 'px';
            $('#center').css('height', c2);
            }
    </script>

</body>
</html>*@
