﻿@model IEnumerable<qortuba.Models.userList>
@{
    ViewData["Title"] = "UpdateUser";
}

<h2>UpdateUser</h2>

<div>
    <table>
        <thead>
            <tr>
                <td>
                    اسم المتسخدم
                </td>
                <td>
                    كلمة المرور
                </td>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.username
                </td>
                <td>
                    @item.password
                </td>
            </tr>
        }
    </table>
</div>
