﻿@*@model qortuba.Models.userAccount
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - منصة قرطبة التعليمية</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            margin: 0;
            width: 100%;
            height: 100vh;
            font-family: "Exo", sans-serif;
            color: #fff;
            background: linear-gradient(-45deg,#ee7752, #91724b, #548da2, #23d5ab);
            background-size: 400% 400%;
            animation: gradientBG 15s ease infinite;
        }



        .container {
            width: 100%;
            position: absolute;
            top: 35%;
            text-align: center;
        }

        h1 {
            font-weight: 300;
        }

        h3 {
            color: #eee;
            font-weight: 100;
        }

        h5 {
            color: #eee;
            font-weight: 300;
        }

        a,
        a:hover {
            text-decoration: none;
            color: #ddd;
        }

        @@-webkit-keyframes gradientBG {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        #dfname {
            margin-top: -150px;
            margin-right: -170px;
        }

        #fname {
            color: #ffe5e8;
            font-size: 25px;
            text-shadow: 0 0 4px black;
            box-shadow: inset 0 0 20px 1px black;
            background-color: #eff0ec4a;
            border-radius: 90%;
        }

        .taps {
            width: 130px;
            height: 100px;
        }

        .tdow {
            width: 100%;
            height: 150px;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }

        .tp {
            width: 130px;
            height: 20px;
        }

        .father {
            display: inline-block;
            width: 130px;
            height: 120px;
            position: relative;
            background-color: #fff;
            transition: all 0.54s ease-in-out;
            transform-style: preserve-3d;
        }

            .father:hover {
                -webkit-transform: rotateY(180deg);
            }

            .father > div {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

        .front {
            z-index: 2;
            backface-visibility: hidden;
        }

        .back {
            z-index: 1;
            backface-visibility: hidden;
            background-color: #fff;
            transform: rotateY(180deg);
        }

        .btt {
            margin-top: 15px;
            width: 100px;
        }


        .popupIn {
            width: 400px;
            height: 500px;
            margin: 10px auto;
            z-index: 1000;
            position: relative;
            background-color: #fff;
            box-shadow: 0 0 14px 4px black;

            border-radius: 20px;
        }

        .log {
            width: 50px;
            height: 34px;
        }

        .popupSingup {
            width: 500px;
            height: 550px;
            margin: 5px auto;
            z-index: 1000;
            position: relative;
            background-color: #fff;
            box-shadow: 0 0 14px 4px black;
            border-radius: 20px;
            top: -20px;
        }
           .divpop {
            width: 495px;
            height: 380px;
           overflow:auto;
        }

        span {
            color: black;
        }

        table {
            margin: auto;
        }

            table td:nth-child(even) {
                width: 300px;
                padding-right: 20px;
            }
            .btn{
                cursor:pointer;
            }
    </style>

</head>
<body>
    <div class="container">
        <div id="dfname"><p id="fname">منصة قرطبة التعليمية</p></div>
        <div style="margin-top:50px;direction:rtl;margin-right: -150px;">
            <div class="father">
                <div class="front">
                    <div class="taps">
                        <div class=".tdow" style="background-repeat:no-repeat; background-image:url(../../images/ico/t5.png);width:100%;height:100%;background-size: contain;"></div>
                        <div class="tp" style="background-color: yellowgreen;"><p>ولى الامر</p></div>
                    </div>
                </div>
                <div class="back">
                    <div>
                        <p class="btn btn-primary btt singout">تسجيل</p>
                        <p class="btn btn-success btt singin" alt="guardian">تسجيل دخول</p>
                    </div>
                </div>
            </div>
            <div class="father">
                <div class="front">
                    <div class="taps">
                        <div class=".tdow" style="background-repeat:no-repeat; background-image:url(../../images/ico/t2.png);width:100%;height:100%;background-size: contain;"></div>
                        <div class="tp" style="background-color: #4464ac;"><p>معلم</p></div>
                    </div>
                </div>
                <div class="back">
                    <div>

                        <p class="btn btn-success btt singin" alt="teachar">تسجيل دخول</p>
                    </div>
                </div>
            </div>
            <div class="father">
                <div class="front">
                    <div class="taps">
                        <div class=".tdow" style="background-repeat:no-repeat; background-image:url(../../images/ico/t3.png);width:100%;height:100%;background-size: contain;"></div>
                        <div class="tp" style="background-color: #c9c15f;"><p>قائد مدرسة</p></div>
                    </div>
                </div>
                <div class="back">
                    <div>

                        <p class="btn btn-success btt singin" alt="manager">تسجيل دخول</p>
                    </div>
                </div>
            </div>
            <div class="father">
                <div class="front">
                    <div class="taps">
                        <div class=".tdow" style="background-repeat:no-repeat; background-image:url(../../images/ico/t4.png);width:100%;height:100%;background-size: contain;"></div>
                        <div class="tp" style="background-color:#a88114;"><p>مشرف تربوى</p></div>
                    </div>
                </div>
                <div class="back">
                    <div>

                        <p class="btn btn-success btt singin" alt="supervisor">تسجيل دخول</p>
                    </div>
                </div>
            </div>
            <div class="father">
                <div class="front">
                    <div class="taps">
                        <div class=".tdow" style="background-repeat:no-repeat; background-image:url(../../images/ico/t1.jpg);width:100%;height:100%;background-size: contain;"></div>
                        <div class="tp" style="background-color:#cd3232;"><p>مدير نظام</p></div>
                    </div>
                </div>
                <div class="back">
                    <div>

                        <p class="btn btn-success btt singin" alt="admin">تسجيل دخول</p>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div id="popupIn" class="popupIn" style="display:none;" name="">
        <form id="sin" method="post" >
            <div style="height:20px;background-color:brown;border-radius:20px 20px 0px 0px;"><p>تسجيل دخول</p></div>
            <div><img src="~/images/logo1.jpg" width="160" height="200" style="display:block;margin:10px auto;" /></div>
            <div class="center-block">
                <input id="idnt" name="idnt" type="number" class="form-control" placeholder="السجل المدنى"  required oninvalid="this.setCustomValidity('من فضلك ادخل السجل المدنى')" oninput="setCustomValidity('')" />
                <span class="input-group-addon log"><i class="fa fa-user fa-fw text-success" style="font-size:20px;"></i></span>
            </div>
            <div class="center-block">
                <input id="idnt" name="idnt" type="password" class="form-control" placeholder="كلمة المرور"  required oninvalid="this.setCustomValidity('من فضلك ادخل كلمة المرور')" oninput="setCustomValidity('')"/>
                <span class="input-group-addon log"><i class="fa fa-lock fa-fw text-success" style="font-size:20px;"></i></span>
            </div>
            <div class="form-inline center-block ">
                <input type="button" id="clear" value="الغاء" class="btn btn-danger cancle " />
                <input type="submit" value="دخول" class="btn btn-success " />
            </div>
            <center style="margin-top:20px;">  <a href="/auth/main" style="margin-top:20px; color:#000;font-weight:bold;">الشاشة الرئيسية</a></center>
            <div class="text-center p-t-90">
                <a id="error" class="txt1 text-danger" href="#">
                    @ViewBag.error
                </a>
            </div>
        </form>
    </div>

<div id="popupSingup" class="popupSingup" style=" display:none;">

    <div style="height:20px;background-color:brown;border-radius:20px 20px 0px 0px;"><p>تسجيل ولى امر</p></div>
    <div><img src="~/images/logo1.jpg" width="120" height="100" style="display:block;margin:10px auto;" /></div>
    <div class="divpop">
        <table dir="rtl">
            <tr><td><span>السجل المدنى لولى الامر</span></td><td><input id="NidGuardian" name="idnt" type="number" class="form-control" min="0" maxlength="10" minlength=10 required oninvalid="this.setCustomValidity('من فضلك ادخل السجل المدنى لولى الامر')" oninput="setCustomValidity('')" /></td></tr>
            <tr><td> <span>الاسم</span></td><td>  <input id="Gname" name="Gname" type="text" class="form-control" required oninvalid="this.setCustomValidity('من فضلك ادخل اسم ولى الامر')" oninput="setCustomValidity('')" /></td></tr>
            <tr><td><span>السجل المدنى للطالب</span></td><td>  <input id="idnt11" name="idnt11" type="text" class="form-control" min="0" maxlength="10" minlength=10 required oninvalid="this.setCustomValidity('من فضلك ادخل السجل المدنى للطالب')" oninput="setCustomValidity('')" /></td></tr>
            <tr><td><span>كلمة المرور</span></td><td>  <input id="idnt11" name="idnt11" type="password" class="form-control" min="0" maxlength="10" required oninvalid="this.setCustomValidity('من فضلك ادخل كلمة المرور')" oninput="setCustomValidity('')" /></td></tr>

            <tr><td><span>الجوال</span></td><td>  <input id="idnt1" name="idnt1" type="text" class="form-control" min="0" maxlength="10" minlength=10 required oninvalid="this.setCustomValidity('من فضلك ادخل الجوال ')" oninput="setCustomValidity('')" /></td></tr>
            <tr><td><span>العنوان</span></td><td>  <input id="idnt2" name="idnt2" type="text" class="form-control" required oninvalid="this.setCustomValidity('من فضلك ادخل العنوان')" oninput="setCustomValidity('')" /></td></tr>
            <tr><td><span>كود التحقق</span></td><td><input id="idnt3" name="idn3t" type="text" class="form-control" min="0" maxlength="5" minlength=5 style="width:150px; display:inline-block;" required oninvalid="this.setCustomValidity('من فضلك ادخل كود التفعيل المرسل على الجوال')" oninput="setCustomValidity('')" /><span style="cursor:pointer;"><i class="fa fa-envelope fa-fw text-success" style="font-size:20px;"></i></span></td></tr>


        </table>
        <p style="color:blue;">ملحوظة .. عند الضغط على رمز الرسالة سوف يصلك كود التحقق على الجوال* </p>
        <div class="form-inline center-block ">
            <input type="button" id="clear" value="الغاء" class="btn btn-danger cancle" />
            <input type="submit" value="تسجيل" class="btn btn-success " />
        </div>

        <div class="text-center p-t-90">
            <a id="error" class="txt1 text-danger" href="#">
                @ViewBag.error
            </a>
        </div>
    </div>
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('.singin').click(function () {

            $('#popupIn').attr('display', 'none');
            $('#popupSingup').attr('display', 'none');

            var nm = $(this).attr('alt');
            $('#popupIn').attr('name', nm);

            $('#popupIn').fadeIn(400);
        });
        $('.singout').click(function () {

            $('#popupIn').attr('display', 'none');
            $('#popupSingup').attr('display', 'none');

            $('#popupSingup').fadeIn(400);
        })
        $('.cancle').click(function () {

            $('#popupIn').fadeOut(400);
            $('#popupSingup').fadeOut(400);

        });


 


    </script>
</body>
</html>*@
