﻿@{
    ViewBag.Title = "القبول";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .ic{
        width:180px;
        height:150px;
        margin:90px;
        padding-top:55px;
    }
    .ac{
        color:#fff;
      
    }
    .txt{
        font-weight: bold;
    }
</style>
<div>
    <table>
        <tr>
            <td>
                <a class="btn btn-success  ic" href="/TSchools/AcceptanceTrue?id=@ViewBag.id">
                    
                        <span class="txt">قائمة الطلاب المقبولين</span><span> <i class="fa fa-check fa-fw " style="font-size:20px;color: brown;"></i></span>
                   
                </a>
            </td>
            <td>
                <a class="btn btn-primary  ic" href="/TSchools/AcceptanceState?id=@ViewBag.id">

                    <span class="txt"> طلبات القبول</span><span> <i class="fa fa-edit fa-fw text-success" style="font-size:20px;color: yellow;"></i></span>

                </a>

            </td>
            <td>
            <td>
                <a class="btn btn-warning  ic" href="/TSchools/AcceptanceWating?id=@ViewBag.id">

                    <span class="txt"> طلبات الانتظار</span><span> <i class="fa fa-tasks fa-fw text-success" style="font-size:20px;"></i></span>

                </a>
                
            </td>
        </tr>
    </table>
</div>


