﻿@using qortuba.Models
@using qortuba.Data
@{
    ViewBag.Title = "القبول";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@inject ApplicationDbContext db         
<div class="titleBody">
    <label class="lbl-nav"><a href="">القبول</a></label>

</div>
<style>
    #map {
        width: 100%;
        height: 500px;
    }

    .row {
        padding: 15px;
        margin: 10px 5px;
        border: 2px solid #4a70fc;
        box-shadow: 0px 0px 10px 3px #4a70fc;
    }

    .selectD {
        height: 30px;
        width: 100%;
        border-radius: 5px;
        box-shadow: inset 0 0 5px 2px #4cc33d;
    }

    .tab {
        float: right;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 20%;
        height: 500px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        float: right;
        padding: 0px 5px;
        background-color: #e8e8a1;
        width: 80%;
        border-left: none;
        height: 500px;
        box-shadow: inset 0 0 13px black;
    }

    .poi {
        cursor: pointer;
    }

    .clk {
        cursor: pointer;
    }
</style>
<div class="container">
    <div class="row" id="srch">
        <div class="col-sm-3">
            <p style="margin-left: 60px;font-weight:bold;">البحث بالاحياء</p>
        </div>
        <div class="col-sm-3">
            <p style="margin-left: 60px;font-weight:bold;">البحث باسماء المدارس</p>
        </div>
        <div class="col-sm-3">
            <p style="margin-left: 60px;font-weight:bold;">البحث بالمرحلة الدراسية</p>
        </div>
        <div class="col-sm-3">
            <p style="margin-left: 60px;font-weight:bold;">اللوائح والأدلة والتعاميم</p>
        </div>
        <div class="col-sm-3">

            <select id="hay" class="selectD">
                <option>-- من فضلك إختار --</option>
                @{
                    //qortuba1Entities db = new qortuba1Entities();
                    var hy = db.TSchools.Where(p => p.Center == 14).Select(m => m.Liver).Distinct();
                    foreach (var ha in hy)
                    {
                        <option value="@ha">@ha</option>
                    }

                }

            </select>
        </div>
        <div class="col-sm-3">

            <select id="sch" class="selectD">
                <option>-- من فضلك إختار --</option>
                @{

                    var nm = db.TSchools.Where(p => p.Center == 14).ToList();
                        foreach (var ha in nm)
                        {
                            <option value="@ha.SchoolID">@ha.School</option>
                        }

                }

            </select>
        </div>
        <div class="col-sm-3">

            <select id="levels" class="selectD">
                <option>-- من فضلك إختار --</option>
                @{

                    var lt = db.TLevel.ToList();
                        foreach (var ha in lt)
                        {
                            <option value="@ha.LevelNo">@ha.NameLevel</option>
                        }

                }

            </select>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <button class="btn btn-primary " type="button" data-toggle="dropdown" style="width: 250px;">
                    تحميل الادلة والتعاميم
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" dir="rtl">
                    @foreach (var de in ViewBag.adela)
                    {
                        string path = de.id + de.adFile;
                        string dname = de.adName + de.adFile;
                        <li><a href="../../Upload/Emp/@path" download="@dname">@de.adName</a></li>
                    }


                </ul>
            </div>
        </div>
    </div>
</div>

<div id="map">

</div>
<div style="background-color:#d6f2c1">
    <table>
        <tr>
            <td>   <img id="first" class="poi" src="~/images/first.png" /></td>
            <td><span>مدرسة إبتدائى</span></td>
            <td><img id="mid" class="poi" src="~/images/mid.png" style="margin-right: 20px;" /></td>
            <td> مدرسة متوسطة</td>
            <td><img id="high" class="poi" src="~/images/high.png" style="margin-right: 20px;" /></td>
            <td>مدرسة ثانوى</td>
            <td><img id="other" class="poi" src="~/images/other.png" style="margin-right: 20px;" /></td>
            <td>اخرى</td>

        </tr>
    </table>


</div>
<div style="background-color:#f0d470;height:30px;margin-top: 20px;margin-bottom: 10px;">
    <p style="font-size:16px;font-weight:bold;">ترتيب المدارس من حيث الاقرب لك</p>
</div>
<div id="dista" style="width:100%;height:410px;overflow:scroll;">




</div>

@* show restriction popup *@

<div id="showPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <p style="font-size:15px;" class="modal-title">تسجيل طالب </p>
            </div>
            <div class="modal-body">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'datess')" id="defaultOpen">الفترات</button>
                    <button class="tablinks" onclick="openCity(event, 'shapess')">الفصول</button>

                    <button class="tablinks">إنشاء</button>

                </div>
                <div id="datess" class="tabcontent" style="background-color:#fff;">
                </div>
                <div id="shapess" class="tabcontent" style="background-color:#fff;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>

@* end show restriction popup *@
@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <script type="text/javascript">


        function initMap(x, y, z) {
            google.maps.Map.prototype.clearMarkers = function () {
                for (var i = 0; i < this.markers.length; i++) {
                    this.markers[i].setMap(null);
                }
                this.markers = new Array();
            };
            var vlat = 24.7752123;
            var vlng = 46.7971941;

            var options = {
                zoom: 15,
                center: { lat: vlat, lng: vlng }
            }
            var lp = 1;
            var map = new google.maps.Map(document.getElementById('map'), options);

            var infoWindow = new google.maps.InfoWindow();
            var marker
            if (x === undefined && y === undefined && z === undefined) {
                $.ajax({
                    url: '/Acceptance/locationMap',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        jQuery.each(data, function (key, value) {


                            var lat1 = parseFloat(value['lat']);

                            var lng1 = parseFloat(value['lag']);

                            var scid = value['SchID'];
                            var scloc = value['Schname'];
                            var lvlno = value['levelNo'];
                            var locationM = {
                                SchID: scid,
                                Schname: scloc
                            }


                            $.ajax({
                                url: '/Acceptance/popupData',
                                type: 'GET',
                                data: locationM,
                                dataType: 'json',
                                success: function (data) {
                                    if (lvlno == '1') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/first.png'
                                        });

                                    } else if (lvlno == '2') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/mid.png'
                                        });
                                    } else if (lvlno == '3') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/high.png'
                                        });

                                    } else {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/other.png'
                                        });
                                    }
                                    (function (marker, data) {
                                        google.maps.event.addListener(marker, "click", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent(data);
                                            infoWindow.open(map, marker);
                                        });
                                        google.maps.event.addListener(marker, "mouseover", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent('<div style="width:160px;"><span>مدرسة : </span><span style="color:blue;">' + scloc + '</span></div>');
                                            infoWindow.open(map, marker);
                                        });
                                    })(marker, data);

                                    //    infoWindow = new google.maps.InfoWindow({ content: data });
                                    //        marker.addListener('click', function () {
                                    //infoWindow.open(map, marker);
                                    // });
                                }, error: function () {
                                    alert('error');
                                }

                            });

                        });

                    }, error: function () {
                        alert('error');
                    }

                });

            } else if (x !== undefined && y === undefined && z === undefined) {
                $.ajax({
                    url: '/Acceptance/locationMapH?hay=' + x,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        jQuery.each(data, function (key, value) {


                            var lat1 = parseFloat(value['lat']);

                            var lng1 = parseFloat(value['lag']);

                            var scid = value['SchID'];
                            var scloc = value['Schname'];
                            var lvlno = value['levelNo'];
                            var locationM = {
                                SchID: scid,
                                Schname: scloc
                            }


                            $.ajax({
                                url: '/Acceptance/popupData',
                                type: 'GET',
                                data: locationM,
                                dataType: 'json',
                                success: function (data) {
                                    if (lvlno == '1') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/first.png'
                                        });

                                    } else if (lvlno == '2') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/mid.png'
                                        });
                                    } else if (lvlno == '3') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/high.png'
                                        });

                                    } else {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/other.png'
                                        });
                                    }

                                    (function (marker, data) {
                                        google.maps.event.addListener(marker, "click", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent(data);
                                            infoWindow.open(map, marker);
                                        });
                                        google.maps.event.addListener(marker, "mouseover", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent('<div style="width:160px;"><span>مدرسة : </span><span style="color:blue;">' + scloc + '</span></div>');
                                            infoWindow.open(map, marker);
                                        });
                                    })(marker, data);

                                    //    infoWindow = new google.maps.InfoWindow({ content: data });
                                    //        marker.addListener('click', function () {
                                    //infoWindow.open(map, marker);
                                    // });
                                }, error: function () {
                                    alert('error');
                                }

                            });

                        });

                    }, error: function () {
                        alert('error');
                    }

                });

            }
            else if (x === undefined && y !== undefined && z === undefined) {
                $.ajax({
                    url: '/Acceptance/locationMapS?id=' + y,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        jQuery.each(data, function (key, value) {


                            var lat1 = parseFloat(value['lat']);

                            var lng1 = parseFloat(value['lag']);

                            var scid = value['SchID'];
                            var scloc = value['Schname'];
                            var lvlno = value['levelNo'];

                            var locationM = {
                                SchID: scid,
                                Schname: scloc
                            }


                            $.ajax({
                                url: '/Acceptance/popupData',
                                type: 'GET',
                                data: locationM,
                                dataType: 'json',
                                success: function (data) {
                                    if (lvlno == '1') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/first.png'
                                        });

                                    } else if (lvlno == '2') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/mid.png'
                                        });
                                    } else if (lvlno == '3') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/high.png'
                                        });

                                    } else {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/other.png'
                                        });
                                    }
                                    (function (marker, data) {
                                        google.maps.event.addListener(marker, "click", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent(data);
                                            infoWindow.open(map, marker);
                                        });
                                        google.maps.event.addListener(marker, "mouseover", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent('<div style="width:160px;"><span>مدرسة : </span><span style="color:blue;">' + scloc + '</span></div>');
                                            infoWindow.open(map, marker);
                                        });
                                    })(marker, data);

                                    //    infoWindow = new google.maps.InfoWindow({ content: data });
                                    //        marker.addListener('click', function () {
                                    //infoWindow.open(map, marker);
                                    // });
                                }, error: function () {
                                    alert('error');
                                }

                            });

                        });

                    }, error: function () {
                        alert('error');
                    }

                });

            }
            else if (x === undefined && y === undefined && z !== undefined) {
                $.ajax({
                    url: '/Acceptance/locationMapL?id=' + z,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        jQuery.each(data, function (key, value) {


                            var lat1 = parseFloat(value['lat']);

                            var lng1 = parseFloat(value['lag']);

                            var scid = value['SchID'];
                            var scloc = value['Schname'];
                            var lvlno = value['levelNo'];

                            var locationM = {
                                SchID: scid,
                                Schname: scloc
                            }


                            $.ajax({
                                url: '/Acceptance/popupData',
                                type: 'GET',
                                data: locationM,
                                dataType: 'json',
                                success: function (data) {
                                    if (lvlno == '1') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/first.png'
                                        });

                                    } else if (lvlno == '2') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/mid.png'
                                        });
                                    } else if (lvlno == '3') {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/high.png'
                                        });

                                    } else {
                                        marker = new google.maps.Marker({
                                            position: { lat: lat1, lng: lng1 },
                                            map: map,
                                            icon: '../../images/other.png'
                                        });
                                    }
                                    (function (marker, data) {
                                        google.maps.event.addListener(marker, "click", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent(data);
                                            infoWindow.open(map, marker);
                                        });
                                        google.maps.event.addListener(marker, "mouseover", function (e) {
                                            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                                            infoWindow.setContent('<div style="width:160px;"><span>مدرسة : </span><span style="color:blue;">' + scloc + '</span></div>');
                                            infoWindow.open(map, marker);
                                        });
                                    })(marker, data);

                                    //    infoWindow = new google.maps.InfoWindow({ content: data });
                                    //        marker.addListener('click', function () {
                                    //infoWindow.open(map, marker);
                                    // });
                                }, error: function () {
                                    alert('error');
                                }

                            });

                        });

                    }, error: function () {
                        alert('error');
                    }

                });

            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    distance(position.coords.latitude, position.coords.longitude);
                    //infoWindow.setPosition(pos);
                    //infoWindow.setContent('Location found.');
                    //infoWindow.open(map);
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,

                    });
                    map.setCenter(pos);

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {

                handleLocationError(false, infoWindow, map.getCenter());
            }

            // Define the LatLng coordinates for the polygon's path.
            var triangleCoords = [
                { lat: 25.1353056, lng: 46.8469502 },
                { lat: 24.9540406, lng: 46.6170291 },
                { lat: 24.7470051, lng: 46.7743244 },
                { lat: 24.7526194, lng: 46.821303 },
                { lat: 24.7909634, lng: 46.9362947 }
            ];

            // Construct the polygon.
            var bermudaTriangle = new google.maps.Polygon({
                paths: triangleCoords,
                strokeColor: '#f6d475',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#f6d475',
                fillOpacity: 0.35,

            });
            bermudaTriangle.setMap(map);
            //**********************************************************************************
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    //infoWindow.setPosition(getUserCoordinates(position));
                    //infoWindow.setContent('موقعى الان');
                    //infoWindow.open(map);
                    //  map.setCenter(getUserCoordinates(position));
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'خطأ.. لم يتم تحديد موقعك ..يجب السماح للمتصفح' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

        }

        function distance(lat, lng) {

            if (lat != undefined || lng != undefined) {

                $.ajax({
                    url: '/Acceptance/getDistance?lat=' + lat + '&lng=' + lng,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {

                        $('#dista').html(data);
                    },
                    error: function () {
                        alert('خطا فى تحميل جدول المسافات');
                    }



                })

            }


        }

        function distanceFirst(lat, lng) {

            if (lat != undefined || lng != undefined) {

                $.ajax({
                    url: '/Acceptance/getDistanceP?lat=' + lat + '&lng=' + lng,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $('#dista').html('');
                        $('#dista').html(data);
                    },
                    error: function () {
                        alert('خطا فى تحميل جدول المسافات');
                    }



                })

            }


        }
        function distanceMid(lat, lng) {

            if (lat != undefined || lng != undefined) {

                $.ajax({
                    url: '/Acceptance/getDistancPr?lat=' + lat + '&lng=' + lng,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $('#dista').html('');
                        $('#dista').html(data);
                    },
                    error: function () {
                        alert('خطا فى تحميل جدول المسافات');
                    }



                })

            }


        }
        function distanceHigh(lat, lng) {

            if (lat != undefined || lng != undefined) {

                $.ajax({
                    url: '/Acceptance/getDistanceS?lat=' + lat + '&lng=' + lng,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $('#dista').html('');
                        $('#dista').html(data);
                    },
                    error: function () {
                        alert('خطا فى تحميل جدول المسافات');
                    }



                })

            }


        }
        function distanceOther(lat, lng) {

            if (lat != undefined || lng != undefined) {

                $.ajax({
                    url: '/Acceptance/getDistanceO?lat=' + lat + '&lng=' + lng,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $('#dista').html('');
                        $('#dista').html(data);
                    },
                    error: function () {
                        alert('خطا فى تحميل جدول المسافات');
                    }



                })

            }


        }

        $('.clck').on('click', function () {
            var sid = $(this).attr('placeholder');
            var rw = $(this).attr('alt');
            $('#showPopup').modal('show');

        });
        $('#hay').on('change', function () {

            var gg = $(this).val();
            if (gg != '-- من فضلك إختار --') {
                var y;
                var z;
                initMap(gg, y, z);
            }


        });
        $('#sch').on('change', function () {

            var gg = $(this).val();
            if (gg != '-- من فضلك إختار --') {
                var x;
                var y;
                var z;
                initMap(x, gg, z);
            }


        });
        $('#levels').on('change', function () {

            var gg = $(this).val();
            if (gg != '-- من فضلك إختار --') {
                var x;
                var y;
                var z;
                initMap(x, y, gg);
            }


        });

        $('#first').click(function () {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    distanceFirst(position.coords.latitude, position.coords.longitude);

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        })
        $('#mid').click(function () {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    distanceMid(position.coords.latitude, position.coords.longitude);

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        })
        $('#high').click(function () {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    distanceHigh(position.coords.latitude, position.coords.longitude);

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        })
        $('#other').click(function () {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    distanceOther(position.coords.latitude, position.coords.longitude);

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        })

        function lod(e) {

            var gg = event.target.id;

            if (gg != 'undefined') {
                var x;
                var y;
                var z;
                initMap(x, gg, z);
                $('html, body').animate({
                    scrollTop: $("#srch").offset().top
                }, 1000);
            }


        }


    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM5AuLt6zM3oz03QzM3VftGQuFRHuAUjM&callback=initMap">
    </script>
    <script>

    </script>

}

