﻿@model qortuba.Models.studentsWait
@{
    ViewBag.Title = "SuccessSutudent";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="">تم تسجيل طلب إنتظار بنجاح</a></label>

</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <span style="font-size:18px;"> تم إرسال طلبكم بنجاح</span>
        <img src="~/images/res/1.png" width="60" height="60" />
    </div>
    <div class="panel-body">

        <div>
            <p style="font-size:18px;text-align:center;
    font-weight: bold;">رقم الطلب  / <span style="font-size:18px;color:blue;">@Model.id</span></p>


</div>


</div>
</div>

