﻿@model qortuba.Models.ModeView.TimeTableView
@{
    ViewBag.Title = "جدول يدوى جديد";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
    //  Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody" style="width:1000px;margin-left:auto;margin-right:auto;">
    <label class="lbl-nav"><a >جدول يدوى جديد</a></label>

</div>
<style>
    .table td, th, thead {
        border: solid 2px;
    }

    thead {
        background-color: #e8d782;
    }

    tbody th {
        background-color: #fdfbf5;
    }

    col {
        background-color: #fff;
    }

    h5 {
        font-weight: bold;
    }
</style>
<input type="hidden" id="prid" />
<input type="hidden" id="dyid" />
<table class="table" id="table1">
    <thead>
        <tr>
            <th>الفصول</th>

            @if (Model.day_S.Friday == true)
            {
                <th colspan="@Model.timeTable.per_num">الجمعة</th>}
            @if (Model.day_S.Saturday == true)
            {
                <th colspan="@Model.timeTable.per_num">السبت</th>}
            @if (Model.day_S.Sunday == true)
            {
                <th colspan="@Model.timeTable.per_num">الاحد</th>}
            @if (Model.day_S.Monday == true)
            {
                <th colspan="@Model.timeTable.per_num">الاثنين</th>}
            @if (Model.day_S.Tuesday == true)
            {
                <th colspan="@Model.timeTable.per_num">الثلاثاء</th>}
            @if (Model.day_S.Wednesday == true)
            {
                <th colspan="@Model.timeTable.per_num">الاربعاء</th>}
            @if (Model.day_S.Thursday == true)
            {
                <th colspan="@Model.timeTable.per_num">الخميس</th>}

        </tr>

    </thead>
    <colgroup>


        @for (int y = 0; y <= Model.periods.Where(t => t.T_id == Model.timeTable.id).Count(); y++)
        {

            <col />
        }

    </colgroup>
    <tbody>

        <tr>
            <th></th>
            @for (int i = 1; i <= ViewBag.days; i++)
            {
                for (int y = 1; y <= @Model.timeTable.per_num; y++)
                {

                    <th>
                        @y
                    </th>

                }
            }
        </tr>

        @foreach (var cl in ViewBag.classes)
        {

            <tr>
                <th>@cl</th>
                @foreach (var pr in Model.periods.Where(t => t.class_id == cl && t.T_id == Model.timeTable.id).ToList())
                {
                    var emp = ""; var subj = "";
                    if (pr.emp_id != null)
                    {
                        emp = Model.tImployees.Where(t => t.Identity == pr.emp_id.ToString()).SingleOrDefault().name1.ToString();
                    }
                    if (pr.subject_id != null)
                    {
                        subj = Model.tSubject.Where(t => t.SubID == pr.subject_id).SingleOrDefault().Subject.ToString();
                    }
                    <td><div id="@pr.subject_id"><a id="@pr.period_id"></a><span id="@pr.class_id"></span><h5 id="@pr.id">@subj </h5></div><div id="@pr.emp_id"><h5>@emp</h5></div><div><h6>@pr.emp_id</h6></div><div id="@pr.day_id"></div></td>

                }
            </tr>
        }

    </tbody>

</table>

<div id="subject1" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title">إضافة</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body" style="height:20%;">
                <div class="form-group row ">
                    @Html.Label("","المادة", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.DropDownList("subject", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @style = "padding:0px 0px;" })

                    </div>
                </div>
                <div class="form-group row ">
                    @Html.Label("","المعلم", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.DropDownList("teacher", null, "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", @style = "padding:0px 0px;" })

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">إضافة</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                <button type="button" id="del" class="btn btn-danger">حذف</button>
            </div>
        </div>
    </div>
</div>

@*Error Model*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style=" margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        loadT();
        colr();
    var event;
    var pr1;
    var cls;
    var id;
        $('table td').on("click", function (e) {
            $('#dyid').val('');
            $('#prid').val('');
            event = e;
              var tid = parseInt(@Model.timeTable.id);
             var scid = parseInt(@Model.timeTable.sch_id);
                id = $(this).find("div:first-child").find("h5").attr('id');
            var sj = $(this).find("div:first-child").attr('id');
            var tch = $(this).find("div:nth-child(2)").attr('id');
             pr1 = $(this).find("div:first-child").find("a").attr('id');
            cls = $(this).find("div:first-child").find("span").attr('id');

            var dy1 = $(this).find("div:nth-child(4)").attr('id');

            $('#dyid').val(dy1);
            $('#prid').val(pr1);
            if (sj != '') {
                $("#subject").val(sj);
                $("#subject").trigger("change");
                $("#teacher").val(tch);
            }


            $("#subject1").modal('show');


        });
        $('#save').on("click", function () {


            var tid = parseInt(@Model.timeTable.id);
            var target = $(event.target);
            var ss = $('#subject option:selected').text();
            var ssid = $('#subject option:selected').text();
            var ss1 = $('#teacher option:selected').text();
            if (ss == '--من فضلك اختار--') { alert('يجب اختيار المادة');  return }
            if (ss1 == '--من فضلك اختار--') { alert('يجب اختيار المعلم'); return }
       //   var period = target.index();
            var days = $('#dyid').val();
       //   var class1 = Math.ceil(period / days);
            var subj = $('#subject option:selected').val();
            var teach = $('#teacher option:selected').val();
            var Tnu = @Model.timeTable.per_num * days;
            var TRow = parseInt(@ViewBag.countR);


            $("#subject1").modal('hide');
            $('#subject').val(0);
            $('#teacher').val(0);
            var periods = {
                id : id,
                T_id: tid,
                day_id: days,
                period_id: pr1,
                class_id: cls,
                subject_id: subj,
                emp_id: teach,
                Tnum: Tnu,
                Trow: TRow,
            }
            $.ajax({
                url: "/TimeTable/InsertP",
                type: "POST",
                data: periods,

                success: function (data) {
                    var tgName = target[0].nodeName;
                    if (tgName == 'TD') {
                        target.html("");
                        var idp = data['id'];
                        var did = data['day_id'];
                        target.html("<div id=" + subj + "><a id=" + pr1 + "></a><span id=" + cls + "></span><h5 id=" + idp + ">" + ss + "</h5></div><div id=" + teach + "><h5>" + ss1 + "</h5></div><div><h6></h6></div><div id="+did+"></div>");

                    }
                    if (tgName == 'H5') {

                       // target.parent().parent().html("");
                        var dd = target[0].nodeName;
                        var idp = data['id'];
                        var did = data['day_id'];
                        target.parent().parent().html("<div id=" + subj + "><a id=" + pr1 + "></a><span id=" + cls + "></span><h5 id=" + idp + ">" + ss + "</h5></div><div id=" + teach + "><h5>" + ss1 + "</h5></div><div><h6></h6></div><div id=" + did +"></div>");

                    }

                },
                error: function () {
                    $("#error").html("مشكلة فى الحفظ");
                    $("#myModal").modal('show');


                }
            });
        });

           // delete row
         $('#del').on("click", function () {
            var tid = parseInt(@Model.timeTable.id);
            var target = $(event.target);
            var ss = $('#subject option:selected').text();
            var ss1 = $('#teacher option:selected').text();
            if (ss == '--من فضلك اختار--') { alert('يجب اختيار المادة'); return }
            if (ss1 == '--من فضلك اختار--') { alert('يجب اختيار المعلم'); return }
       //   var period = target.index();
            var days = $('#dyid').val();
       //   var class1 = Math.ceil(period / days);
            var subj = $('#subject option:selected').val();
            var teach = $('#teacher option:selected').val();
            var Tnu = @Model.timeTable.per_num * days;
            var TRow = parseInt(@ViewBag.countR);


            $("#subject1").modal('hide');
            $('#subject').val(0);
            $('#teacher').val(0);
            var periods = {
                id : id,
                T_id: tid,
                day_id: days,
                period_id: pr1,
                class_id: cls,
                subject_id: subj,
                emp_id: teach,
                Tnum: Tnu,
                Trow: TRow,
            }
            $.ajax({
                url: "/TimeTable/DeleteM",
                type: "POST",
                data: periods,

                success: function (data) {
                    var tgName = target[0].nodeName;
                    if (tgName == 'TD') {
                        target.html("");
                        var idp = data['id'];
                        var did = data['day_id'];
                        target.html("<div id=><a id=" + pr1 + "></a><span id=" + cls + "></span><h5 id=" + idp + "></h5></div><div id=><h5></h5></div><div><h6></h6></div><div id=" + did +"></div>");
                        loadT();
                    }
                    if (tgName == 'H5') {

                       // target.parent().parent().html("");
                        var dd = target[0].nodeName;
                        var idp = data['id'];
                        var did = data['day_id'];
                        target.parent().parent().html("<div id=><a id=" + pr1 + "></a><span id=" + cls + "></span><h5 id=" + idp + "></h5></div><div id=><h5></h5></div><div><h6></h6></div><div id=" + did +"></div>");

                    }

                },
                error: function () {
                    $("#error").html("مشكلة فى الحفظ");
                    $("#myModal").modal('show');


                }
            });
        });

        // style table width
        function loadT() {
            var wd = $('#table1').width();
            $('#content1').width(wd);


        }


        function colr() {

            var cells = document.getElementsByTagName('col'),
                colors = ['ffffff', '#e8eef3', 'e6cfd5', 'cfe6e4', 'cfe6d6', 'd3f18a', 'd1d5e4'];

            for (var i = 0; i < cells.length; i++) {
                cells[i].style.backgroundColor = '#' + colors[Math.floor(Math.random() * colors.length)];
            }
        }

        // on subject  selection change
         $('#subject').on("change", function () {
             var tid = parseInt(@Model.timeTable.id);
             var scid = parseInt(@Model.timeTable.sch_id);
             var ss = $('#subject option:selected').val();

             if (ss == '--من فضلك اختار--') { alert('يجب اختيار المادة'); return }
             var did = $('#dyid').val();
             var pid = $('#prid').val();

            var periods = {
                subid: ss,
                schid: scid,
                ttid: tid,
                perid: pid,
                dyid: did

            }
            $.ajax({
                url: "/TimeTable/SubjectChanged",
                type: "GET",
                data: periods,
                success: function (data) {
                    var $select = $('#teacher');
                    $select.find('option').remove();
                    jQuery.each(data, function (key, value) {
                   //     $select.append('<option value=' + value['eid'] + '>' + value['ename'] + '</option>');

                        $select.append('<option value=' + value['eid'] + '><span class="ename">' + value['ename'] + ' </span> <span class="eid">' + value['eid'] + ' </span></option>');

                    });


                },
                error: function () {
                    $("#error").html("مشكلة فى تحميل اسماء المعلمين");
                    $("#myModal").modal('show');


                }
            });
        });


    </script>
}