﻿@using qortuba.Models.Class
@using qortuba.Data
@inject ApplicationDbContext db
@{
    ViewBag.Title = "CreateC";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TimeTable/Index">الجداول</a> >جدول مخصص</label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .selectD {
        height: 30px;
        width: 45px;
        border-radius: 5px;
        box-shadow: inset 0 0 5px 2px #4cc33d;
    }

    .selectM {
        height: 30px;
        width: 45px;
        border-radius: 5px;
        box-shadow: inset 0 0 black;
        box-shadow: inset 0 0 5px 2px #766ef0;
    }

    .selectH {
        height: 30px;
        width: 45px;
        border-radius: 5px;
        box-shadow: inset 0 0 5px 2px #bcc711;
    }

    .selectR {
        height: 30px;
        width: 120px;
        border-radius: 5px;
        box-shadow: inset 0 0 5px 2px burlywood;
    }


    .tab {
        float: right;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 20%;
        height: 500px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        float: right;
        padding: 0px 5px;
        background-color: #e8e8a1;
        width: 80%;
        border-left: none;
        height: 500px;
        box-shadow: inset 0 0 13px black;
    }

    .reshead, .resDays, .chk {
        cursor: pointer;
    }
</style>
<div class="container">


    <div style="
     height:35px;

    box-shadow: inset 0 0 14px black;
    text-shadow: 0 0 20px #00000057;
    background-color: #e5e6a6;
    color: #a22828;">
        <p style="font-size: 17px; padding-top:4px;
    font-weight: bold;">جدول مخصص</p>
    </div>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'datess')" id="defaultOpen">الفترات</button>
        <button class="tablinks" onclick="openCity(event, 'shapess')">الفصول</button>
        <button class="tablinks" onclick="openCity(event, 'colorss')"> المواد</button>
        <button class="tablinks" onclick="openCity(event, 'ECustomss')">المعلميين</button>
        <button class="tablinks" onclick="openCity(event, 'superVisor')">الاشراف اليومى</button>
        <button class="tablinks">إنشاء</button>

    </div>

    <div id="datess" class="tabcontent" style="background-color:#fff;">
        <div>
            <div>

                <div style="background-color: #ece51e;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">ضبط المواعيد</p></div>
                <div>
                    <table class="table">
                        <thead style="background-color: darkkhaki;">
                            <tr>
                                <th><p>تسمية الفترة</p></th>
                                <th><p>نوع الفترة (تدريس - فسحة)ا</p></th>
                                <th><p> بداية (د / س)ا</p></th>
                                <th><p>نهاية ( د / س)ا</p></th>

                                <th><p></p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input id="periodt" type="text" class="form-control" />
                                </td>
                                <td>
                                    <input id="teach" type="checkbox" class="custom-control-input" />
                                </td>
                                <td>
                                    <select id="startM" class="selectM browser-default custom-select" required>
                                        @for (int i = 0; i <= 59; i++)
                                        {
                                            <option value='@i'>@i</option>
                                        }
                                    </select>:<select id="startH" class="selectH browser-default custom-select" required>
                                        @for (int i = 0; i <= 23; i++)
                                        {
                                            <option value='@i'>@i</option>
                                        }
                                    </select>

                                </td>
                                <td>
                                    <select id="endM" class="selectM browser-default custom-select" required>
                                        @for (int i = 0; i <= 59; i++)
                                        {
                                            <option value='@i'>@i</option>
                                        }
                                    </select>:<select id="endH" class="selectH browser-default custom-select" required>
                                        @for (int i = 0; i <= 23; i++)
                                        {
                                            <option value='@i'>@i</option>
                                        }
                                    </select>
                                </td>
                                <td><input type="button" value="إنشاء" class="btn btn-primary" onclick="addtimes()" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="background-color: #ece51e;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">الفترات</p></div>
                    <div style="overflow-y:scroll; height:300px">
                        <table class="table">
                            <thead style="background-color: burlywood;">
                                <tr>
                                    <th><p>م</p></th>
                                    <th><p>تسمية الفترة</p></th>
                                    <th><p>نوع الفترة (تدريس - فسحة)ا</p></th>
                                    <th><p> بداية (د / س)ا</p></th>
                                    <th><p>نهاية ( د / س)ا</p></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="shapess" class="tabcontent">
        <div>
            <div>

                <div style="background-color: #aeeea6;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">إضافة فصل</p></div>
                <div>
                    <table class="table">
                        <thead style="background-color: darkkhaki;">
                            <tr>
                                <th><p>الصف</p></th>
                                <th><p>الفصل</p></th>
                                <th><p>شكل العرض</p></th>
                                <th><p></p></th>
                                <th><p></p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select id="levelrow" class="selectR browser-default custom-select">
                                        @{
                                            int id = ViewBag.tid;
                                            var tt = db.TimeTable.Where(p => p.id == id).FirstOrDefault();
                                            var sc = db.TSchools.Where(p => p.SchoolID == tt.sch_id).FirstOrDefault();
                                            var levelc = db.TLevel_Row.Where(p => p.LevelNo == sc.LevelNo);
                                            foreach (var sd in levelc)
                                            {
                                                <option value='@sd.Rows'>@sd.NameRow</option>
                                            }

                                        }
                                    </select>
                                </td>
                                <td>
                                    <select id="classrow" class="selectM browser-default custom-select">
                                        @for (int i = 1; i <= 20; i++)
                                        {
                                            <option value='@i'>@i</option>
                                        }
                                    </select>
                                </td>
                                <td><input id="classname" type="text" class="form-control" /></td>
                                <td><input id="insertclass" type="button" value="إدراج" class="btn btn-primary" onclick="addLevel()" /></td>
                                <td><input type="button" value="إدراج" class="btn btn-primary" style="visibility:hidden;" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="background-color: #aeeea6;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">الفصول</p></div>
                    <div style="overflow-y:scroll;height:300px;">
                        <table class="table">
                            <thead style="background-color: burlywood;">
                                <tr>
                                    <th><p>الصف</p></th>
                                    <th><p>الفصل</p></th>
                                    <th><p>شكل العرض</p></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyTableShape"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorss" class="tabcontent" style="background-color:rgb(222, 215, 255);">
        <div>
            <div>

                <div style="background-color: #aeeea6;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">إضافة فصل</p></div>
                <div>
                    <table class="table">
                        <thead style="background-color: darkkhaki;">
                            <tr>
                                <th><p>المادة</p></th>
                                <th><p>اللون</p></th>

                                <th><p></p></th>
                                <th><p></p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select id="subjectList2" class="selectR browser-default custom-select">
                                        @{


                                            var ss = db.TSubject.ToList();
                                            foreach (var sd in ss)
                                            {
                                                <option value='@sd.SubID'>@sd.Subject</option>
                                            }

                                        }
                                    </select>
                                </td>
                                <td><input id="Scolor" type="color" class="form-control" value="#b8edfe" /></td>
                                <td><input id="insertcolor" type="button" value="إدراج" class="btn btn-primary" onclick="addColor()" /></td>
                                <td><input type="button" value="إدراج" class="btn btn-primary" style="visibility:hidden;" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="background-color: #aeeea6;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">الفصول</p></div>
                    <div style="overflow-y:scroll;height:300px;">
                        <table class="table">
                            <thead style="background-color: burlywood;">
                                <tr>
                                    <th><p>المادة</p></th>
                                    <th><p>اللون</p></th>

                                    <th><p></p></th>
                                    <th><p></p></th>
                                </tr>
                            </thead>
                            <tbody id="colorTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ECustomss" class="tabcontent" style="background-color:rgb(238, 228, 228);">
        <div>
            <div>

                <div style="background-color: #f8e3d6;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">تخصيص معلم </p></div>
                <div style="overflow-y:scroll;height:460px;">


                    <table class="table">
                        <thead style="background-color: burlywood;">
                            <tr>
                                <th style="display:none;"><p>كود المعلم</p></th>
                                <th><p>اسم المعلم</p></th>
                                <th><p>مادة التدريس</p></th>
                                <th><p>النصاب</p></th>
                                <th><p>القيود / الندب</p></th>
                                <th><p>تخصيص</p></th>
                            </tr>
                        </thead>
                        <tbody id="customTable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="superVisor" class="tabcontent" style="background-color:rgba(226, 188, 6, 0.38);">
        <div>
            <div>

                <div style="background-color: #aeeea6;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">إضافة مشرف</p></div>
                <div>
                    <table class="table">
                        <thead style="background-color: darkkhaki;">
                            <tr>
                                <th><p>المعلم</p></th>
                                <th><p>الاشراف</p></th>
                                <th><p>اليوم</p></th>
                                <th><p></p></th>
                                <th><p></p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select id="Teachs" class="selectR browser-default custom-select" style="width:170px;">
                                        @{

                                            var tteach = db.TTTeacharCustom.Where(p => p.tid == id).ToList();
                                            if (tteach.Count == 0)
                                            {
                                                var sc1 = db.TimeTable.Where(p => p.id == id).FirstOrDefault();
                                                MyFunctions fun = new MyFunctions();
                                                fun.fireStoreProcedure2("ALLTEACHARS", sc1.sch_id.ToString(), id.ToString());

                                                tteach = db.TTTeacharCustom.Where(p => p.tid == id).ToList();

                                                foreach (var sd in tteach)
                                                {
                                                    <option value='@sd.id'>@sd.empName</option>
                                                }

                                            }
                                            else
                                            {
                                                tteach = db.TTTeacharCustom.Where(p => p.tid == id).ToList();

                                                foreach (var sd in tteach)
                                                {
                                                    <option value='@sd.id'>@sd.empName</option>
                                                }

                                            }


                                        }

                                    </select>
                                </td>
                                <td>
                                    <select id="superv" class="selectR browser-default custom-select" style="width:150px;">
                                        @{


                                            var ssw = db.superJob.ToList();
                                            foreach (var sd in ssw)
                                            {
                                                <option value='@sd.id'>@sd.sjob</option>
                                            }

                                        }


                                    </select>
                                </td>
                                <td>
                                    <select id="dyname1" class="selectR browser-default custom-select" style="width:70px;">
                                        @{


                                            var ssm = db.daysName.ToList();
                                            foreach (var sd in ssm)
                                            {
                                                <option value='@sd.id'>@sd.dayname</option>
                                            }

                                        }
                                    </select>
                                </td>
                                <td><input id="insertclass" type="button" value="إدراج" class="btn btn-primary" onclick="addsuper()" /></td>
                                <td><input type="button" value="إدراج" class="btn btn-primary" style="visibility:hidden;" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="background-color: #aeeea6;box-shadow: inset 0 0 12px black;height:30px;"><p style="font-size:17px;padding-top:3px;">الفصول</p></div>
                    <div style="overflow-y:scroll;height:300px;">
                        <table class="table">
                            <thead style="background-color: burlywood;">
                                <tr>
                                    <th><p>المعلم</p></th>
                                    <th><p>الاشراف</p></th>
                                    <th><p>اليوم</p></th>
                                    <th><p></p></th>
                                    <th><p></p></th>
                                </tr>
                            </thead>
                            <tbody id="superTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cratess" class="tabcontent" style="background-color:rgba(226, 188, 6, 0.38);">

    </div>

    @* show restriction popup *@
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @* show restriction popup *@

    <div id="showPopup" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <p style="font-size:15px;" class="modal-title">القيود / الندب</p>
                </div>
                <div class="modal-body">
                    <table class="table">

                        <tbody id="resBody"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
                </div>
            </div>

        </div>
    </div>

    @* end show restriction popup *@

    @* show custom teahar popup *@

    <div id="showCustom" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <p style="font-size:15px;" class="modal-title">تخصيص</p>
                </div>
                <div class="modal-body">

                    <div>
                        <input id="eid" type="hidden" value="" style="display:none;" />
                        <div>
                            <table class="table">
                                <thead style="background-color: darkkhaki;">
                                    <tr>
                                        <th><p style="font-size:12px;">مادة التدريس</p></th>
                                        <th><p style="font-size:12px;">الفصل</p></th>
                                        <th><p style="font-size:12px;"> الحصص فى الاسبوع</p></th>
                                        <th><p style="font-size:12px;">مفردة / مزدوجة</p></th>

                                        <th><p></p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><select id="Csub" class="selectD browser-default custom-select" style="width:100px;" required></select></td>
                                        <td><select id="Cclass" class="selectD browser-default custom-select" style="width:100px;" required></select></td>
                                        <td><select id="Cweek" class="selectD browser-default custom-select" required></select></td>
                                        <td><select id="Cctype" class="selectD browser-default custom-select" style="width:70px;" required></select></td>
                                        <td><input type="button" value="إدراج" class="btn btn-primary" onclick="addcustom()" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="overflow-y:scroll; height:250px">
                                <table class="table">
                                    <thead style="background-color: burlywood;">
                                        <tr>
                                            <th><p style="font-size:12px;">مادة التدريس</p></th>
                                            <th><p style="font-size:12px;">الفصل</p></th>
                                            <th><p style="font-size:12px;"> الحصص فى الاسبوع</p></th>
                                            <th><p style="font-size:12px;">مفردة / مزدوجة</p></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="customT"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
                </div>
            </div>

        </div>
    </div>

    @* end show  custom teahar popup *@





    @section scripts{
        <script>




            Showtimes();


            ShowShapes();
            ShowTeachars();
            ShowColor();

            Showsuper();



            // strat tab js
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it----------------------------
            document.getElementById("defaultOpen").click();
            // end tab js
            // dropdown hour and mints

            function pupaddrow() {
            // times
            var $selectSH = $('#startH');
            var $selectSM = $('#startM');
            var $selectEH = $('#endH');
            var $selectEM = $('#endM');
            $selectSH.find('option').remove();
            $selectSM.find('option').remove();
            $selectEH.find('option').remove();
            $selectEM.find('option').remove();

            $.ajax({
                url: "/TimeTable/getHour",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    jQuery.each(data, function (key, value) {
                        $selectSH.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');
                        $selectEH.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');


                    });
                }
            });
            $.ajax({
                url: "/TimeTable/getMinut",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    jQuery.each(data, function (key, value) {
                        $selectSM.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');
                        $selectEM.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');


                    });
                }


                 });

            }



            function colorload() {
                // color
                var $subjectList1 = $('#subjectList2');
                $subjectList1.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getsubject",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $subjectList1.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });

                // teachars to supervisors
                var ttid = @ViewBag.tid;
                var $Teachs = $('#Teachs');
                $Teachs.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getSubTeach?id="+ttid,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $Teachs.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });

                  // supervisor job

                var $superv = $('#superv');
                $superv.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getSupervisorsjob",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $superv.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });

              // supervisor days

                var $dyname1 = $('#dyname1');
                $dyname1.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getSupervisorsdays",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $dyname1.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });


            }




            //end dropdown
            //strat create times *************************************************************************************************** time
            function addtimes() {

                var periodtv = $("#periodt").val();
                var vstartHv = $("#startH").val();
                var vendHv = $("#endH").val();


            if (periodtv.length == 0) { alert("من فضلك حدد تسمية الفترة"); return; }
            if (vstartHv == 0) { alert("يجب ان تكون قيمة الساعة اكبر من صفر"); return; }
            if (vstartHv == 0) { alert("يجب ان تكون قيمة الساعة اكبر من صفر"); return; }


                var $startH1 = $('#startH');
                var $startM1 = $('#startM');
                var $endH1 = $('#endH');
                var $endM1 = $('#endM');

                var tid = @ViewBag.tid;
                var teach = document.getElementById("teach").checked;
                var startH = $("#startH").val();
                 var startM = $("#startM").val();
                var endH = $("#endH").val();
                 var endM = $("#endM").val();
                var periodt = $("#periodt").val();

                var tTDur = {
                    tid: tid,
                    periodt: periodt,
                    teach: teach,
                    startH:startH,
                    startM:startM,
                    endH  :endH ,
                    endM  :endM
                }
                var $table1 = $('#bodyTable');
                $table1.html("");
                var $check1 = null;
                $.ajax({
                    url: "/TimeTable/addtimes",
                    type: "POST",
                    data: tTDur,
                    dataType: "json",
                    success: function (data) {
                    jQuery.each(data, function (key, value) {
                        var tch = value['teach'];
                        if (tch == true) {
                            $check1 = 'checked';
                        } else {
                            $check1 = null;
                        }


                        $table1.append(' <tr> ' +

                            '  <td><input id="id" type="hidden" class="form-control" value="'+value['id']+'" /> <p>' + value['idC'] + '</p></td> ' +
                            '  <td><input id="periodt" type="text" class="form-control" value="'+value['periodt']+'" /></td> ' +
                            '  <td><input id="teach" type="checkbox" value="تدريس" class="custom-control-input" ' + $check1 + ' /></td> ' +
                            '  <td><select id="m' + value['id'] + '" class="selectM browser-default custom-select">' + $startM1.html() + '</select>: <select id="h' + value['id'] + '" class="selectH browser-default custom-select">' + $startH1.html() + '</select></td> ' +
                              '  <td><select id="me'+value['id']+'" class="selectM browser-default custom-select">'+$endM1.html()+'</select>: <select id="hh'+value['id']+'"class="selectH browser-default custom-select">'+$endH1.html() +'</select></td> '+
                              '  <td><input id="edit" type="button" value="تعديل" class="btn btn-warning"  /></td> '+
                              '  <td><input id="delete" type="button" value="حذف" class="btn btn-danger" /></td> '+
                           ' </tr>');

                        var sh = '#' + 'h' + value['id'];
                        var sm = '#' + 'm' + value['id'];
                        var eh = '#' + 'hh' + value['id'];
                        var em = '#' + 'me' + value['id'];
                        $(sh).val(value['startH']);
                        $(sm).val(value['startM']);
                        $(eh).val(value['endH']);
                        $(em).val(value['endM']);

                    });
               document.getElementById("teach").checked = false;

               $("#startH").val('0');
               $("#startM").val('0');
               $("#endH").val('0');
               $("#endM").val('0');
               $("#periodt").val('');

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


        }

            //end create times
            // strat edit times ##################################################################################################### time
            $(".table tbody").on('click', '#edit', function () {



            var $table1 = $('#bodyTable');
            $table1.html("");
            var tid =@ViewBag.tid ;
            var currentRow = $(this).closest('tr');

            var id = currentRow.find("td:eq(0)").find("input").val();
            var idc = currentRow.find("td:eq(0)").text();
            var period1 = currentRow.find("td:eq(1)").find("input").val();
            var teach = currentRow.find("td:eq(2)").find("input:checked").length > 0;
            var startM = currentRow.find("td:eq(3)").find("select:nth-child(1)").val();
            var startH = currentRow.find("td:eq(3)").find("select:nth-child(2)").val();
            var endM = currentRow.find("td:eq(4)").find("select:nth-child(1)").val();
            var endH = currentRow.find("td:eq(4)").find("select:nth-child(2)").val();

            if (period1.length == 0) { alert("من فضلك حدد تسمية الفترة"); return; }
            if (startH == 0) { alert("يجب ان تكون قيمة الساعة اكبر من صفر"); return; }
            if (endH == 0) { alert("يجب ان تكون قيمة الساعة اكبر من صفر"); return; }

                var tTDur = {
                    id:id,
                    idc: idc,
                    tid: tid,
                    teach: teach,
                    periodt :period1,
                    startH :startH,
                    startM :startM,
                    endH   :endH,
                    endM   :endM
                }


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/UpdateTimes",
                    type: "POST",
                    data: tTDur,
                    success: function (data) {

                        alert('تم التعديل');
                        Showtimes();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })
      // delete times xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx time
            $(".table tbody").on('click', '#delete', function () {

            var tid =@ViewBag.tid ;
            var currentRow = $(this).closest('tr');

            var id = currentRow.find("td:eq(0)").find("input").val();
            var idc = currentRow.find("td:eq(0)").text();
            var period1 = currentRow.find("td:eq(1)").find("input").val();
            var teach = currentRow.find("td:eq(2)").find("input:checked").length > 0;
            var startM = currentRow.find("td:eq(3)").find("select:nth-child(1)").val();
            var startH = currentRow.find("td:eq(3)").find("select:nth-child(2)").val();
            var endM = currentRow.find("td:eq(4)").find("select:nth-child(1)").val();
            var endH = currentRow.find("td:eq(4)").find("select:nth-child(2)").val();


                var tTDur = {
                    id:id,
                    idc: idc,
                    tid: tid,
                    teach: teach,
                    periodt :period1,
                    startH :startH,
                    startM :startM,
                    endH   :endH,
                    endM   :endM
                }


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/DeleteTimes",
                    type: "POST",
                    data: tTDur,
                    success: function (data) {

                        alert('تم الحذف');
                        Showtimes();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })

      // show times
         function Showtimes() {
               var $table1 = $('#bodyTable');
                $table1.html("");
                var $startH1 = $('#startH');
                var $startM1 = $('#startM');
                var $endH1 = $('#endH');
                var $endM1 = $('#endM');
       var id =@ViewBag.tid;
                $.ajax({
                    url: "/TimeTable/getItems?id="+id,
                    type: "POST",

                    success: function (data) {
                    jQuery.each(data, function (key, value) {
                        var tch = value['teach'];
                        if (tch == true) {
                            $check1 = 'checked';
                        } else {
                            $check1 = null;
                        }


                        $table1.append(' <tr> ' +

                            '  <td><input id="id" type="hidden" class="form-control" value="'+value['id']+'" /> <p>' + value['idC'] + '</p></td> ' +
                            '  <td><input id="periodt" type="text" class="form-control" value="'+value['periodt']+'" /></td> ' +
                            '  <td><input id="teach" type="checkbox" value="تدريس" class="custom-control-input" ' + $check1 + ' /></td> ' +
                            '  <td><select id="m' + value['id'] + '" class="selectM browser-default custom-select">' + $startM1.html() + '</select>: <select id="h' + value['id'] + '" class="selectH browser-default custom-select">' + $startH1.html() + '</select></td> ' +
                            '  <td><select id="me'+value['id']+'" class="selectM browser-default custom-select">'+$endM1.html()+'</select>: <select id="hh'+value['id']+'"class="selectH browser-default custom-select">'+$endH1.html() +'</select></td> '+
                            '  <td><input id="edit" type="button" value="تعديل" class="btn btn-warning"  /></td> '+
                            '  <td><input id="delete" type="button" value="حذف" class="btn btn-danger" /></td> '+
                           ' </tr>');

                        var sh = '#' + 'h' + value['id'];
                        var sm = '#' + 'm' + value['id'];
                        var eh = '#' + 'hh' + value['id'];
                        var em = '#' + 'me' + value['id'];
                        $(sh).val(value['startH']);
                        $(sm).val(value['startM']);
                        $(eh).val(value['endH']);
                        $(em).val(value['endM']);

                    });
               document.getElementById("teach").checked = false;

               $("#startH").val('0');
               $("#startM").val('0');
               $("#endH").val('0');
               $("#endM").val('0');
               $("#periodt").val('');

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


            }





            // class Level ******************************************************************************************************** shape
          function addLevel() {


           var classname = $("#classname").val();

            if (classname.length == 0) { alert("من فضلك حدد تسمية الفصل"); return; }


                var tid = @ViewBag.tid;
                var levelrow = $("#levelrow").val();
                 var classrow = $("#classrow").val();
                var shapess = $("#classname").val();

                var tTRowsshape = {
                    tid: tid,
                    rowss: levelrow,
                    class: classrow,
                    shapesss:shapess,

                }

                $.ajax({
                    url: "/TimeTable/addshapes",
                    type: "POST",
                    data: tTRowsshape,
                    dataType: "json",
                    success: function (data) {
                        ShowShapes();

               $("#startH").val('0');
               $("#startM").val('0');
               $("#classname").val('');

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


        }

            //end create class
            // strat edit class #################################################################################################### shape
            $(".table tbody").on('click', '#editShape', function () {


            var tid =@ViewBag.tid ;
            var currentRow = $(this).closest('tr');


            var id = currentRow.find("td:eq(0)").find("input").val();
            var levelrow = currentRow.find("td:eq(1)").find("select").val();
            var classrow = currentRow.find("td:eq(2)").find("select").val();
            var classname = currentRow.find("td:eq(3)").find("input").val();

            if (classname.length == 0) { alert("من فضلك حدد تسمية الفصل"); return; }
                var tTRowsshape = {
                    id:id,
                    tid: tid,
                    rowss: levelrow,
                    class: classrow,
                    shapesss:classname,

                }


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/Updateshapes",
                    type: "POST",
                    data: tTRowsshape,
                    success: function (data) {

                        alert('تم التعديل');
                        ShowShapes();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })
      // delete class XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxXXXXX shape
            $(".table tbody").on('click', '#deleteShape', function () {

            var tid =@ViewBag.tid ;
            var currentRow = $(this).closest('tr');

            var id = currentRow.find("td:eq(0)").find("input").val();
            var levelrow = currentRow.find("td:eq(1)").find("select").val();
            var classrow = currentRow.find("td:eq(2)").find("select").val();
            var classname = currentRow.find("td:eq(3)").find("input").val();

                var tTRowsshape = {
                    id:id,
                    tid: tid,
                    rowss: levelrow,
                    class: classrow,
                    shapesss:classname

                }


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/Deleteshapes",
                    type: "POST",
                    data: tTRowsshape,
                    success: function (data) {

                        alert('تم الحذف');
                        ShowShapes();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })

 // show class ***********************************************************************************************************
         function ShowShapes() {
               var $table1 = $('#bodyTableShape');
                $table1.html("");
                var $levelrow1 = $('#levelrow');
                var $classrow1 = $('#classrow');
                 var id =@ViewBag.tid;


                $.ajax({
                    url: "/TimeTable/getshapes?id="+id,
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                    jQuery.each(data, function (key, value) {

                        $table1.append(' <tr> ' +
                             '<td style="display:none;"><input id="id" type="hidden" class="form-control" value="'+value['id']+'" /></td> '+
                             '<td><select id="lv' + value['id'] + '" class="selectR browser-default custom-select">' + $levelrow1.html() + '</select></td> '+
                             '<td><select id="cl' + value['id'] + '" class="selectM browser-default custom-select">' + $classrow1.html() + '</select></td> '+
                             '<td><input type="text" class="form-control" value="'+value['shapesss']+'" /></td> '+
                             '<td><input id="editShape" type="button" value="تعديل" class="btn btn-warning" /></td> '+
                             '<td><input id="deleteShape" type="button" value="حذف" class="btn btn-danger" /></td> '+

                           ' </tr>');

                        var sh = '#' + 'lv' + value['id'];
                        var sm = '#' + 'cl' + value['id'];

                        $(sh).val(value['rowss']);
                        $(sm).val(value['class']);

                    });

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


            }


      // color  **********************************************************************************************************************color
         function addColor() {

           var classname = $("#subjectList").val();

                var tid = @ViewBag.tid;
                var subjectList = $("#subjectList2").val();
                var Scolor = $("#Scolor").val();


                var tTColor = {
                    tid: tid,
                    subID: subjectList,
                    Scolor: Scolor,

                }

                $.ajax({
                    url: "/TimeTable/addColor",
                    type: "POST",
                    data: tTColor,
                    dataType: "json",
                    success: function (data) {
                        ShowColor();

               $("#subjectList").val('0');
               $("#Scolor").val('#ffffff');


                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


        }

            //end create color
            // strat edit color ######################################################################################################color
            $(".table tbody").on('click', '#editColor', function () {


            var tid =@ViewBag.tid ;
            var currentRow = $(this).closest('tr');


            var id = currentRow.find("td:eq(0)").find("input").val();
            var subjectList = currentRow.find("td:eq(1)").find("select").val();
            var Scolor = currentRow.find("td:eq(2)").find("input").val();

                var tTColor = {
                    id:id,
                    tid: tid,
                    subID: subjectList,
                    Scolor: Scolor,

                }


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/UpdateColor",
                    type: "POST",
                    data: tTColor,
                    success: function (data) {

                        alert('تم التعديل');
                        ShowColor();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })
      // delete XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx color
            $(".table tbody").on('click', '#deleteColor', function () {

            var tid =@ViewBag.tid ;
            var currentRow = $(this).closest('tr');

                var id = currentRow.find("td:eq(0)").find("input").val();
            var subjectList = currentRow.find("td:eq(1)").find("select").val();
            var Scolor = currentRow.find("td:eq(2)").find("input").val();

                var tTColor = {
                    id:id,
                    tid: tid,
                    subID: subjectList,
                    Scolor: Scolor,
                }


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/DeleteColor",
                    type: "POST",
                    data: tTColor,
                    success: function (data) {

                        alert('تم الحذف');
                        ShowColor();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })

 // show color $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ color
         function ShowColor() {
               var $table1 = $('#colorTable');
                $table1.html("");
                var $subjectList = $('#subjectList2');

                 var id =@ViewBag.tid;


                $.ajax({
                    url: "/TimeTable/getColor?id="+id,
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                    jQuery.each(data, function (key, value) {

                        $table1.append(' <tr> ' +
                             '<td style="display:none;"><input id="id" type="hidden" class="form-control" value="'+value['id']+'" /></td> '+
                             '<td><select id="cl' + value['id'] + '" class="selectR browser-default custom-select">' + $subjectList.html() + '</select></td> '+
                             '<td><input type="color" class="form-control" value="'+value['Scolor']+'" /></td> '+
                             '<td><input id="editColor" type="button" value="تعديل" class="btn btn-warning" /></td> '+
                             '<td><input id="deleteColor" type="button" value="حذف" class="btn btn-danger" /></td> '+

                           ' </tr>');

                        var sh = '#' + 'cl' + value['id'];

                        $(sh).val(value['subID']);


                    });


               $("#subjectList").val('0');
               $("#Scolor").val('#b8edfe');


                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


            }

// show custom teachar$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ teachars
         function ShowTeachars() {
               var $table1 = $('#customTable');
                $table1.html("");


                 var id =@ViewBag.tid;


                $.ajax({
                    url: "/TimeTable/getteachar?id="+id,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                    jQuery.each(data, function (key, value) {

                        $table1.append(' <tr> ' +

                                '<td style="display:none;"><p>' + value['id'] + '</p></td> '+
                                '<td><p>' + value['empName'] + '</p></td> '+
                                '<td><p>' + value['Esubj'] + '</p></td> '+
                                '<td><p>' + value['EClass'] + '</p></td> '+
                                '<td><input id="showRes" type="button" value="الندب / القيود" class="btn btn-danger" placeholder="'+value['empID']+'"/></td> '+
                                '<td><input id="tcustom" type="button" value="تخصيص" class="btn btn-info" placeholder="'+value['empID']+'"/></td> '+

                           ' </tr>');


                    });

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


            }
            // strat show popup PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP restriction
            $(".table tbody").on('click', '#showRes', function () {
                var tid = @ViewBag.tid;
                var eid = $(this).attr('placeholder');
              ;
                var restrictionData = {
                    eid : eid,
                    tid : tid
                }

                $.ajax({

                    url: '/TimeTable/getRestriction',
                    data:restrictionData,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                          var $table1 = $('#resBody');
                $table1.html("")
                        $table1.append(data);


                    },
                    error: function (data) {

                    }
                });


                 $("#showPopup").modal('show');


        })

                 // change status CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCcc change restriction
            $(".table tbody").on('click', '.chk', function () {
                var id1 = $(this).attr('alt'); // id for restriction
                var stu = $(this).attr('placeholder'); // stutas 1 , 2 , 3
                var restrictionData = {
                     eid : id1,
                    tid : stu
                }
                $.ajax({
                    url: '/TimeTable/updateRestriction',
                    type: 'GET',
                    data:restrictionData,
                    dataType: 'json',
                    success: function (data) {
                    var $table1 = $('#resBody');
                    $table1.html("");
                    $table1.append(data);

                    },
                    error: function (data) {


                    }


                });


            })

             // change status CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCcc change restriction head click
            $(".table tbody").on('click', '.reshead', function () {

                var id1 = @ViewBag.tid; // id for table id
                var stu = $(this).attr('alt'); // period 1 , 2 , 3
                var restrictionData = {
                     eid : stu,
                    tid : id1
                }
                $.ajax({
                    url: '/TimeTable/updateHeadRestriction',
                    type: 'GET',
                    data:restrictionData,
                    dataType: 'json',
                    success: function (data) {
                    var $table1 = $('#resBody');
                    $table1.html("");
                    $table1.append(data);

                    },
                    error: function (data) {


                    }


                });


            })

                  // change status CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCcc change restriction Day click
            $(".table tbody").on('click', '.resDays', function () {

                var id1 = @ViewBag.tid; // id for table id
                var stu = $(this).attr('alt'); // days 1 , 2 , 3
                var restrictionData = {
                     eid : stu,
                    tid : id1
                }
                $.ajax({
                    url: '/TimeTable/updateDaysRestriction',
                    type: 'GET',
                    data:restrictionData,
                    dataType: 'json',
                    success: function (data) {
                    var $table1 = $('#resBody');
                    $table1.html("");
                    $table1.append(data);

                    },
                    error: function (data) {


                    }


                });


        })

          // strat show popup PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP teach custom
            $(".table tbody").on('click', '#tcustom', function () {

                var eid = $(this).attr('placeholder');
                $('#eid').val(eid);
                ShowCustom();

                $("#showCustom").modal('show');

            })



            //end dropdown
            //strat create times
            function addcustom() {

                var tid = @ViewBag.tid;
                var eid = $('#eid').val();

                var Csub = $("#Csub").val();
                var Cclass = $("#Cclass").val();
                var Cweek = $("#Cweek").val();
                var Cctype = $("#Cctype").val();

                var tteach = {

                    tid: tid,
                    subId: Csub,
                    empid: eid,
                    clsType:Cctype,
                    clsinweek:Cweek,
                    classid :Cclass

                }

                $.ajax({
                    url: "/TimeTable/addcustom",
                    type: "POST",
                    data: tteach,
                    dataType: "json",
                    success: function (data) {

                            ShowCustom();

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


        }

            //end create times
            // strat edit times
            $(".table tbody").on('click', '#editcust', function () {

            var tid =@ViewBag.tid ;
            var eid = $('#eid').val();
            var currentRow = $(this).closest('tr');
            var id = currentRow.find("td:eq(0)").find("input").val();
            var Csub = currentRow.find("td:eq(1)").find("select").val();
            var Cclass = currentRow.find("td:eq(2)").find("select").val();
            var Cweek = currentRow.find("td:eq(3)").find("select").val();
            var Cctype = currentRow.find("td:eq(4)").find("select").val();



                var tteach = {

                    id:id,
                    subId: Csub,
                    empid: eid,
                    clsType:Cctype,
                    clsinweek:Cweek,
                    classid :Cclass

                }

                $.ajax({
                    url: "/TimeTable/Updatecustom",
                    type: "POST",
                    data: tteach,
                    dataType: "json",
                    success: function (data) {

                            ShowCustom();

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });

        })
      // delete times
            $(".table tbody").on('click', '#deletecust', function () {

            var tid =@ViewBag.tid ;
            var eid = $('#eid').val();
            var currentRow = $(this).closest('tr');
            var id = currentRow.find("td:eq(0)").find("input").val();
            var Csub = currentRow.find("td:eq(1)").find("select").val();
            var Cclass = currentRow.find("td:eq(2)").find("select").val();
            var Cweek = currentRow.find("td:eq(3)").find("select").val();
            var Cctype = currentRow.find("td:eq(4)").find("select").val();



                var tteach = {

                    id : id,
                    subId: Csub,
                    empid: eid,
                    clsType:Cctype,
                    clsinweek:Cweek,
                    classid :Cclass

                }

                $.ajax({
                    url: "/TimeTable/Deletecustom",
                    type: "POST",
                    data: tteach,
                    dataType: "json",
                    success: function (data) {

                            ShowCustom();

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });

        })

      // show times
            function ShowCustom() {
                var tid = @ViewBag.tid;

                var eid1 = $('#eid').val();
                        subload();
                        classload();
                        cweekload();
                        cclasstpeload();

               var $Csub = $('#Csub');
                var $Cclass = $('#Cclass');
                var $Cweek = $('#Cweek');
                var $Cctype = $('#Cctype');
                var restrictionData = {
                    eid : eid1,
                    tid : tid
                }


                $.ajax({

                    url: '/TimeTable/getcustom',
                    data:restrictionData,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {

                        var $table1 = $('#customT');
                        $table1.html("")
                        jQuery.each(data, function (key, value) {
                            $table1.append(' <tr> ' +

                                '  <td style="display:none;"><input id="id" type="hidden" class="form-control" value="' + value['id'] + '" /></td> ' +
                                ' <td><select id="Csub' + value['id'] + '" class="selectD browser-default custom-select" required>' + $Csub.html() + '</select></td>  ' +
                                ' <td><select id="Cclass' + value['id'] + '" class="selectD browser-default custom-select" required>' + $Cclass.html() + '</select></td>' +
                                ' <td><select id="Cweek' + value['id'] + '" class="selectD browser-default custom-select" required>' + $Cweek.html() + '</select></td> ' +
                                ' <td><select id="Cctype' + value['id'] + '" class="selectD browser-default custom-select" required>' + $Cctype.html() + '</select></td>' +
                                '  <td><input id="editcust" type="button" value="تعديل" class="btn btn-warning"  /></td> ' +
                                '  <td><input id="deletecust" type="button" value="حذف" class="btn btn-danger" /></td> ' +
                                ' </tr>');

                            var sh = '#' + 'Csub' + value['id'];
                            var sm = '#' + 'Cclass' + value['id'];
                            var eh = '#' + 'Cweek' + value['id'];
                            var em = '#' + 'Cctype' + value['id'];
                            $(sh).val(value['subId']);
                            $(sm).val(value['classid']);
                            $(eh).val(value['clsinweek']);
                            $(em).val(value['clsType']);

                        })
                    },
                    error: function (data) {

                    }
                });


        }



            function subload()    {
                // subject
                var tid = @ViewBag.tid;
                var $csub = $('#Csub');
                $csub.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getsub?tid="+tid,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $csub.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });
            }
            function classload() {
                // subject
                var tid = @ViewBag.tid;
                var $csub = $('#Cclass');
                $csub.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getClassess?tid="+tid,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $csub.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });
            }
            function cweekload() {
                // subject
                var tid = @ViewBag.tid;
                var $csub = $('#Cweek');
                $csub.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getcweek",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $csub.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });
            }
            function cclasstpeload() {
                // subject
                var tid = @ViewBag.tid;
                var $csub = $('#Cctype');
                $csub.find('option').remove();
                $.ajax({
                    url: "/TimeTable/getClssTpe",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        jQuery.each(data, function (key, value) {
                            $csub.append('<option value=' + value['Text'] + '>' + value['Value'] + '</option>');

                        });
                    }
                });
            }

          //************************************************************************************************************************
                        //strat create times *************************************************************************************************** time
            function addsuper() {
                var tid = @ViewBag.tid;
                var Teachs = $("#Teachs").val();
                var superv = $("#superv").val();
                var dyname1 = $("#dyname1").val();


                var supervisors = {
                    tid:tid,
                    supervisor: superv,
                    empid: Teachs,
                    dayid:dyname1
                }

                $.ajax({
                    url: "/TimeTable/addsuper",
                    type: "POST",
                    data: supervisors,
                    dataType: "json",
                    success: function (data) {
                        Showsuper();

                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


        }

            //end create times
            // strat edit times ##################################################################################################### time
            $(".table tbody").on('click', '#editsuper', function () {

                var tid = @ViewBag.tid;

            var currentRow = $(this).closest('tr');

            var id1 = currentRow.find("td:eq(0)").find("input").val();
            var empid2 = currentRow.find("td:eq(1)").find("select").val();
            var superv2 = currentRow.find("td:eq(2)").find("select").val();
            var dyname2 = currentRow.find("td:eq(3)").find("select").val();


          var supervisors = {
                    id: id1,
                    tid: tid,
                    supervisor: superv2,
                    empid: empid2,
                    dayid:dyname2
                }


            if (id1 != null) {

                $.ajax({
                    url: "/TimeTable/Updatesuper1",
                    type: "POST",
                    data: supervisors,
                    success: function (data) {

                        alert('تم التعديل');
                        Showsuper();

                    },
                    error: function (data) {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })
      // delete times xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx time
            $(".table tbody").on('click', '#deletesuper', function () {


               var tid = @ViewBag.tid;

            var currentRow = $(this).closest('tr');

            var id1 = currentRow.find("td:eq(0)").find("input").val();
            var empid2 = currentRow.find("td:eq(1)").find("select").val();
            var superv2 = currentRow.find("td:eq(2)").find("select").val();
            var dyname2 = currentRow.find("td:eq(3)").find("select").val();


          var supervisors = {
                    id: id1,
                    tid: tid,
                    supervisor: superv2,
                    empid: empid2,
                    dayid:dyname2
                }

            if (id != null) {

                $.ajax({
                    url: "/TimeTable/Deletesuper",
                    type: "POST",
                    data: supervisors,
                    success: function (data) {

                        alert('تم الحذف');
                        Showsuper();

                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");
                        $("#myModal").modal('show');


                    }
                });
            }

        })

      // show times
            function Showsuper() {
             var tid = @ViewBag.tid;
               var $table1 = $('#superTable');
                $table1.html("");
                var $Teachs = $('#Teachs');
                var $superv = $('#superv');
                var $dyname1 = $('#dyname1');


                $.ajax({
                    url: "/TimeTable/getsupervisors?id="+tid,
                    type: "GET",

                    success: function (data) {
                    jQuery.each(data, function (key, value) {

                        $table1.append(' <tr> ' +

                              '  <td style="display:none;"><input id="id" type="hidden" class="form-control" value="'+value['id']+'" /></td> ' +
                              '  <td><select id="Teachs'+value['id']+'" class="selectR browser-default custom-select" style="width:150px;">' + $Teachs.html() + '</select></td> ' +
                              '  <td><select id="superv'+value['id']+'" class="selectR browser-default custom-select" style="width:150px;">'+$superv.html() +'</select></td> '+
                              '  <td><select id="dyname1'+value['id']+'" class="selectR browser-default custom-select" style="width:80px;">'+$dyname1.html() +'</select></td> '+
                              '  <td><input id="editsuper" type="button" value="تعديل" class="btn btn-warning"  /></td> '+
                              '  <td><input id="deletesuper" type="button" value="حذف" class="btn btn-danger" /></td> '+
                              ' </tr>');

                        var sh = '#' + 'Teachs' + value['id'];
                        var sm = '#' + 'superv' + value['id'];
                        var eh = '#' + 'dyname1' + value['id'];

                        $(sh).val(value['empid']);
                        $(sm).val(value['supervisor']);
                        $(eh).val(value['dayid']);


                    });


                    },
                    error: function () { alert("مشكلة فى الحفظ"); }
                });


            }







        </script>
    }
</div>


