﻿@model qortuba.Models.ModeView.TimeTableView
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@*<div class="titleBody">
    <label class="lbl-nav"><a href="~/TimeTable/Index">الجداول</a> >انشاء جدول</label>

</div>*@
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-inline ">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*  first row*@

    <div class="form-group row col-md-6">
        @Html.Label("","عدد الحصص فى اليوم", htmlAttributes: new { @class = "col-sm-4 " })
        <div class="col-sm-4">
            @Html.EditorFor(model => model.timeTable.per_num, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.timeTable.per_num, "", new { @class = "text-danger" })
            @Html.TextBoxFor(c => c.timeTable.sch_id, new { @Value = ViewBag.id, @style = "display:none;" })
        </div>
    </div>
    <div class="form-group row col-md-6">
        @Html.Label("","طريقة عرض الفصول", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
        <div class="col-sm-4">
            @Html.DropDownListFor(model => model.timeTable.viewM, Model.vMethods, htmlAttributes: new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.timeTable.viewM, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        @Html.Label("","حدد ايام العمل", htmlAttributes: new { @class = "col-sm-5 " })

        <table class="table" style="width: 100%">
            <thead>
                <tr style="background-color: burlywood;">
                    @*<th>السبت</th>*@
                    <th>الاحد</th>
                    <th>الاثنين</th>
                    <th>الثلاثاء</th>
                    <th>الاربعاء</th>
                    <th>الخميس</th>
                    @*<th>الجمعة</th>*@
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: beige;">
                    <td>@Html.CheckBoxFor(model => model.day_S.Saturday, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.CheckBoxFor(model => model.day_S.Sunday, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.CheckBoxFor(model => model.day_S.Monday, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.CheckBoxFor(model => model.day_S.Tuesday, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.CheckBoxFor(model => model.day_S.Wednesday, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.CheckBoxFor(model => model.day_S.Thursday, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.CheckBoxFor(model => model.day_S.Friday, new { htmlAttribute = new { @class = "form-control" } })</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <div class="form-inline">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="إنشاء جدول" formaction=@Url.Action("Index") formmethod="post" class="btn btn-info"/>
            <input type="submit" value=" إنشاء آلى" formaction=@Url.Action("CreateD") formmethod="post" class="btn btn-success"/>
            <input type="submit" value=" جدول مخصص" formaction=@Url.Action("CreateC") formmethod="post" class="btn btn-warning"/>
            <input type="submit" value="إنشاء يدوى" formaction=@Url.Action("CreateM") formmethod="post" class="btn btn-info"/>

            @Html.ActionLink("عودة", "Index", null, new {@class = "btn btn-primary"})
        </div>
    </div>
    

}