﻿@model qortuba.Models.ModeView.Schools
@{
    ViewBag.Title = "ShowTables";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TimeTable/Index">طباعة جدول</a> </label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .fright {
        float: right;
    }

    #id {
        width: 70px;
    }
</style>



<div class="panel panel-success">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">الجداول</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>كود الجدول</th>
                    <th>تاريخ الانشاء</th>
                    <th>كود المنشئ للجدول</th>
                    <th>تحديد جدول العمل</th>
                    
                    <th>طباعة /استخراج</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var tt in Model.ttimetable)
                {

                    <tr>
                        <td>@tt.id</td>
                        <td>
                            @if (tt.cr_date != null)
                            {
                                @tt.cr_date.Value.ToString("dd-MMMM-yyyy")
                            }
                            else
                            {
                                <a>-</a>
                            }

                        </td>
                        <td>
                            @if (tt.cr_id != null)
                            {
                                @tt.cr_id;
                            }
                            else
                            {
                                <a>-</a>
                            }

                        </td>
                        <td>

                            @if (tt.caseA == 1)
                            {
                                <input type="radio" value="@tt.caseA" name="caseA" class="caseA" placeholder="@tt.id" checked  disabled/>
                            }
                            else
                            {
                                <input type="radio" value="@tt.caseA" name="caseA" class="caseA" placeholder="@tt.id" disabled />

                            }

                        </td>
                        
                        <td>@Html.ActionLink("طباعة / استخراج", "showTimeTableReport", new { id = tt.id }, new { @class = "btn btn-info", target = "_blank" })</td>
                        
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">

            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="check" style="margin-bottom: 0px; ">
                    <span class="form-inline text-primary"> هل انت متأكد من حذف الجدول رقم :</span> <span id="delCode" class="form-inline"></span>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <a id="exDel" class="btn btn-danger" onclick="DelTable();">حذف</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@*Error Model*@
<div id="DelMod" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">

                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $('.caseA').change(function () {
            var id = $(this).attr('placeholder');
            $.ajax({
                url: "/TimeTable/ChangeActive/"+id,
                type: "POST",

                success: function (data) {
                    alert('تم تحديث جدول العمل');

                },
                error: function () {
                    $("#error").html("مشكلة فى التحديث");

                }
            });

        });


        $(".table tbody").on('click', '#edit1', function () {

            var currentRow = $(this).closest('tr');
            var Sid = $("#tSchools_SchoolID").val();
            var id = currentRow.find("td:eq(0)").find("input").val();
            var ac = currentRow.find("td:eq(6)").find("input").val();
            var as1 = currentRow.find("td:eq(7)").find("select").val();


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/EditT",
                    type: "POST",
                    data: { id: id, id1: Sid,sp:ac,rd:as1 },

                    success: function (data) {
                        alert('تم التعديل');


                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");



                    }
                });
            }

        })

        function delT(id) {

            $('#delCode').text(id);
            $('#myModal').modal('show');
        }

        function DelTable() {
            var id = $('#delCode').html();
            $.ajax({
                url: "/TimeTable/deleteTable?id=" + id,
                type: "POST",

                success: function (data) {

                    window.location.reload();

                },
                error: function () {
                    $("#error").html("مشكلة فى الحفظ");
                    $("#DelMod").modal('show');
                }
            });
        }

    </script>
}
