﻿@model qortuba.Models.ModeView.TimeTableView
@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>جدول معلم</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/custom.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <style>
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<style>
    .table td, th, thead {
        border: solid 2px;
    }

    thead {
        background-color: #e8d782;
    }

    tbody th {
        background-color: #fdfbf5;
    }

    col {
        background-color: #fff;
    }

    h5 {
        font-weight: bold;
    }

    table tr:nth-child(even) {
        background-color: #f3f3f3;
    }
</style>
<div style="height: 55px;">
    <img src="~/Images/logo1.jpg" style="width:200px; height:100px; float:right; " />
</div>
<h4 style="font-family:changa;    text-align: center;padding-left: 11%;  "><b> المدرسة /</b>  @ViewBag.School     </h4>
<h4 style="font-family:changa;    text-align: center;padding-left: 11%;  "><b> جدول المعلم /</b>  @ViewBag.name     </h4>
<span class="section" style="font-size:20px;"></span>
<table class="table" id="table1" dir="rtl">
    <thead>
        <tr>
            <th>الايام</th>

            @{

                var dy1 = Model.teachReports.Where(t => t.day_id == 1).Select(t => new { t.daynum }).FirstOrDefault().daynum;
                var cd1 = Model.teachReports.Where(t => t.day_id == 1).Select(t => new { t.pernum }).FirstOrDefault().pernum;
                int dy = int.Parse(dy1.ToString());
                int cd = int.Parse(cd1.ToString());
            }

            @for (int y = 1; y <= cd; y++)
            {

                <th>
                    @y
                </th>

            }

        </tr>





    </thead>

    <tbody>



        @for (int y = 1; y <= dy; y++)
        {

            <tr>

                <td><div><h4><b>@Model.teachReports.Where(t => t.day_id == y).Select(t => new { t.dayname }).FirstOrDefault().dayname </b></h4></div></td>
                @foreach (var pr in Model.teachReports.Where(t => t.day_id == y).ToList())
                {

                    <td><div><a></a><span></span><h4>@pr.class_id </h4></div><div><h4>@pr.Subject</h4></div></td>

                }
            </tr>
        }

    </tbody>

</table>



@*Error Model*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style=" margin-top: 0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        loadT();
        colr();
        var event;
        var pr1;
        var cls;
        var id;

        // style table width
        function loadT() {
            var wd = $('#table1').width();
            $('#content1').width(wd);


        }

        function colr() {

            var cells = document.getElementsByTagName('col'),
                colors = ['ffffff', '#e8eef3', 'e6cfd5', 'cfe6e4', 'cfe6d6', 'd3f18a', 'd1d5e4'];

            for (var i = 0; i < cells.length; i++) {
                cells[i].style.backgroundColor = '#' + colors[Math.floor(Math.random() * colors.length)];
            }
        }

    </script>
}