﻿@model qortuba.Models.ModeView.Schools
@{
    ViewBag.Title = "ShowTables";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TimeTable/Index">العاملين بالمدرسة</a> </label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .fright {
        float: right;
    }

    #id {
        width: 70px;
    }
</style>



<div class="panel panel-warning">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">العاملين بالمدرسة</h4>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#9dc9ef;">
            <div class="form-inline">
                <div class="form-group row col-md-4">
                    @Html.Label("","كود المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.tSchools.SchoolID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row col-md-4">
                    @Html.Label("","اسم المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.tSchools.School, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row col-md-4">
                    @Html.Label("","الدائرة التعليمية", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.tSchools.circleAll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

                <div class="form-group row col-md-4">
                    @Html.Label("","النوع", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.tSchools.TSchoolsType.SchoolsType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

                <div class="form-group row col-md-4">
                    @Html.Label("","عدد الفصول", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                    <div class="col-md-9">
                        <input type="text" class="form-control" value="@ViewBag.cClass" readonly />

                    </div>
                </div>
                <div class="form-group row col-md-4">
                    @Html.Label("","عدد التلاميذ", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                    <div class="col-md-9">
                        <input type="text" class="form-control" value="@ViewBag.cStud" readonly />
                    </div>
                </div>
            </div>


        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>الصف</th>
                        <th>عدد الفصول</th>
                        <th>عدد الطلبة</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cr in Model.tCLassRow)
                    {

                        <tr>
                            <td>@cr.TLevel_Row.NameRow</td>
                            <td>@cr.CLass</td>
                            <td>@cr.pupil</td>
                        </tr>
                    }
                </tbody>
            </table>






        </div>
    </div>
    <div class="panel-body">


        <table class="table">
            <thead>
                <tr>
                    <th>السجل المدنى</th>
                    <th>الاسم</th>
                    <th>مادة التدريس</th>

                    <th>طباعة جدول معلم</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.desForTime)
                {

                    <tr>
                        <td><input type="text" value="@Html.DisplayFor(modelItem => item.empId) " disabled /></td>
                        <td>@Html.DisplayFor(modelItem => item.Teacher)</td>
                        <td>@Html.DisplayFor(modelItem => item.subj)</td>
                        <td>  @Html.ActionLink("طباعة / استخراج", "showTeachReport", new { id = item.empId }, new { @class = "btn btn-success", target = "_blank" })</td>
                        <td> </td>
                    </tr>
                }
            </tbody>
        </table>






    </div>

</div>

