﻿@model qortuba.Models.ModeView.Schools
@{
    ViewBag.Title = "الجداول";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<div class="titleBody ">
    <label class="lbl-nav"><a >الجداول</a> </label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .fright {
        float: right;
    }

    #id {
        width: 70px;
    }
</style>
<div class="panel panel-info">
    <div class="panel-heading" style="background-color:#efc66c;font-size:16px;">
        الادلة والتعاميم
    </div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                تحميل الادلة والتعاميم
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dir="rtl">
                @foreach (var de in ViewBag.adela)
                {
                    string path = de.id + de.adFile;
                    string dname = de.adName + de.adFile;
                    <li><a href="../../Upload/Emp/@path" download="@dname">@de.adName</a></li>
                }


            </ul>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#9dc9ef;">
        <div class="form-inline">
            <div class="form-group row col-md-4">
                @Html.Label("","كود المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.SchoolID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("","اسم المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.School, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("","الدائرة التعليمية", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.circleAll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("","النوع", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.tSchools.TSchoolsType.SchoolsType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group row col-md-4">
                @Html.Label("","عدد الفصول", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@ViewBag.cClass" readonly />

                </div>
            </div>
            <div class="form-group row col-md-4">
                @Html.Label("","عدد التلاميذ", htmlAttributes: new { @class = "col-md-5 col-form-label fright" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@ViewBag.cStud" readonly />
                </div>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>الصف</th>
                    <th>عدد الفصول</th>
                    <th>عدد الطلبة</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cr in Model.tCLassRow)
                {

                    <tr>
                        <td>@cr.TLevel_Row.NameRow</td>
                        <td>@cr.CLass</td>
                        <td>@cr.pupil</td>
                    </tr>
                }
            </tbody>
        </table>






    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">مواد العجز</h4>
    </div>
    <div class="panel-body">


        <table class="table">
            <thead>
                <tr>
                    <th>مادة العجز</th>
                    <th>عدد حصص العجز</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.desTimeTable)
                {

                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.subj)</td>
                        <td>@Html.DisplayFor(modelItem => item.stat)</td>

                        <td> </td>
                    </tr>
                }
            </tbody>
        </table>






    </div>

</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">العاملين بالمدرسة</h4>
    </div>
    <div class="panel-body">


        <table class="table">
            <thead>
                <tr>
                    <th>السجل المدنى</th>
                    <th>الاسم</th>
                    <th>مادة التدريس</th> 
                    <th>النصاب</th>
                    <th>حصص التدريس</th>
                    <th>المتبقى</th>
                    <th>الحصص المسندة</th>
                    <th>المادة المسندة</th>
                    <th>تعديل</th>
                    <th>طباعة جدول معلم</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.desForTime)
                {

                    <tr>
                        <td><input type="text" value="@Html.DisplayFor(modelItem => item.empId) " disabled /></td>
                        <td>@Html.DisplayFor(modelItem => item.Teacher)</td>
                        <td>@Html.DisplayFor(modelItem => item.subj)</td>
                        <td>@Html.DisplayFor(modelItem => item.Reduce)</td>
                        <td>@Html.DisplayFor(modelItem => item.stat)</td>

                        <td>@Html.DisplayFor(modelItem => item.def)</td>
                        <td><input type="text" id="txt" value="@Html.DisplayFor(modelItem => item.addclass) " /></td>
                        <td> @Html.DropDownListFor(modelItem => item.addSub, new SelectList(Model.Tsubjects, "SubID", "Subject", item.addSub), "--من فضلك اختار--", htmlAttributes: new { @class = "form-control", required = "required" })</td>
                        <td><a id="edit1" class="btn btn-warning">تعديل</a></td>
                        <td>  @Html.ActionLink("طباعة / استخراج", "showTeachReport", new { id = item.empId }, new { @class = "btn btn-success", target = "_blank" })</td>
                        <td> </td>
                    </tr>
                }
            </tbody>
        </table>






    </div>

</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 style="text-align:right;color:#000;">الجداول</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <p>
                @*@Html.ActionLink("جدول جديد", "Create", new { id = Model.tSchools.SchoolID }, new { @class = "btn btn-primary" })*@
            </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>كود الجدول</th>
                    <th>تاريخ الانشاء</th>
                    <th>كود المنشئ للجدول</th>
                    <th>تحديد جدول العمل</th>
                    <th>عرض / تعديل</th>
                    <th>طباعة /استخراج</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tt in Model.ttimetable)
                {

                    <tr>
                        <td>@tt.id</td>
                        <td>
                            @if (tt.cr_date != null)
                            {
                                @tt.cr_date.Value.ToString("dd-MMMM-yyyy")
                            }
                            else
                            {
                                <a>-</a>
                            }

                        </td>
                        <td>
                            @if (tt.cr_id != null)
                            {
                                @tt.cr_id;
                            }
                            else
                            {
                                <a>-</a>
                            }

                        </td>
                        <td>

                            @if (tt.caseA == 1)
                            {
                                <input type="radio" value="@tt.caseA" name="caseA" class="caseA" placeholder="@tt.id" checked />
                            }
                            else
                            {
                                <input type="radio" value="@tt.caseA" name="caseA" class="caseA" placeholder="@tt.id" />

                            }

                        </td>
                        <td>@Html.ActionLink("عرض / تعديل", "UpdateManual", new { id = tt.id }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("طباعة / استخراج", "showTimeTableReport", new { id = tt.id }, new { @class = "btn btn-Info", target = "_blank" })</td>
                        <td><a id="del" class="btn btn-danger" onclick="delT(@tt.id);">حذف</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">

            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="check" style="margin-bottom: 0px; ">
                    <span class="form-inline text-primary"> هل انت متأكد من حذف الجدول رقم :</span> <span id="delCode" class="form-inline"></span>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <a id="exDel" class="btn btn-danger" onclick="DelTable();">حذف</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@*Error Model*@
<div id="DelMod" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal error-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">عذراً</h4>
                </div>*@
            <div class="modal-body" style="padding: 9px;">
                <div class="alert alert-danger" role="alert" id="error" style="margin-bottom: 0px; ">

                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">

                <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $('.caseA').change(function () {
            var id = $(this).attr('placeholder');
            $.ajax({
                url: "/TimeTable/ChangeActive/"+id,
                type: "POST",

                success: function (data) {
                    alert('تم تحديث جدول العمل');

                },
                error: function () {
                    $("#error").html("مشكلة فى التحديث");

                }
            });

        });


        $(".table tbody").on('click', '#edit1', function () {

            var currentRow = $(this).closest('tr');
            var Sid = $("#tSchools_SchoolID").val();
            var id = currentRow.find("td:eq(0)").find("input").val();
            var ac = currentRow.find("td:eq(6)").find("input").val();
            var as1 = currentRow.find("td:eq(7)").find("select").val();


            if (id != null) {

                $.ajax({
                    url: "/TimeTable/EditT",
                    type: "POST",
                    data: { id: id, id1: Sid,sp:ac,rd:as1 },

                    success: function (data) {
                        alert('تم التعديل');


                    },
                    error: function () {
                        $("#error").html("مشكلة فى الحفظ");



                    }
                });
            }

        })


        $(".table tbody").on('click', '#print1', function () {

            var currentRow = $(this).closest('tr');
            var Sid = $("#tSchools_SchoolID").val();
            var id = currentRow.find("td:eq(0)").find("input").val();
            var ac = currentRow.find("td:eq(6)").find("input").val();
            var as1 = currentRow.find("td:eq(7)").find("select").val();


            if (id != null) {

                $.ajax({
                    url: "@Url.Action("printTeachA", "TimeTable")",
                    type: "POST",
                    data: { id: id},

                    success: function (data) {
                        alert('تم الطباعة');


                    },
                    error: function () {
                        $("#error").html("مشكلة فى الطباعة");



                    }
                });
            }

        })

        function delT(id) {

            $('#delCode').text(id);
            $('#myModal').modal('show');
        }

        function DelTable() {
            var id = $('#delCode').html();
            $.ajax({
                url: "/TimeTable/deleteTable?id=" + id,
                type: "POST",

                success: function (data) {

                    window.location.reload();

                },
                error: function () {
                    $("#error").html("مشكلة فى الحفظ");
                    $("#DelMod").modal('show');
                }
            });
        }

    </script>
}
