﻿
@{
    ViewBag.Title = "ShowTables";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TimeTable/Index">طباعة جدول معلم</a> </label>

</div>
<style type="text/css">
    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .fright {
        float: right;
    }

    #id {
        width: 70px;
    }
</style>

<div class="form-inline ">

    @using (Html.BeginForm("showTeachReport", "TimeTable", new { }, FormMethod.Post,true, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group row col-sm-4 ">
            @Html.Label("","كود المعلم", htmlAttributes: new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-6">
                @Html.Editor("id", new { htmlAttributes = new { @type = "number", @class = "form-control", @style = "width:200px;" } })

            </div>
        </div>

        <button type="submit" id="sub1" value="sub1" class="btn btn-warning">طباعة / استخراج</button>

    }

</div>





