﻿@model qortuba.Models.TSchools
@{
    ViewBag.Title = "TimeTable";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label>الجداول</label>

</div>

<div class="form-inline">
    <div class="form-group row col-md-4">
        @Html.Label("","كود المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row col-md-4">
        @Html.Label("", "اسم المدرسة", htmlAttributes: new { @class = "col-md-5 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.School, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row col-md-4">
        @Html.Label("", "الدائرة التعليمية", htmlAttributes: new { @class = "col-md-5 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.circleAll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row col-md-4">
        @Html.Label("", "المستوى", htmlAttributes: new { @class = "col-md-5 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.TLevel.NameLevel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row col-md-4">
        @Html.Label("", "التعليم", htmlAttributes: new { @class = "col-md-5 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Tuition1.Tuition1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row col-md-4">
        @Html.Label("", "النوع", htmlAttributes: new { @class = "col-md-5 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.TSchoolsType.SchoolsType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
</div>
<div class="form-group">
    <p>
        @Html.ActionLink("انشاء جدول", "Create" , new { id = Model.SchoolID }, new { @class = "btn btn-warning" })
    </p>
</div>


