﻿@model qortuba.Models.TSchoolsR
@{
    /**/

    ViewBag.Title = "اختيار الاعمدة ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TImployees/Index">تقرير المدارس</a></label>

</div>
<style type="text/css">
    .form-inline:nth-child(odd) {
        height: 50px;
        padding-top: 10px;
        background-color: #e6e2ac;
    }

    .form-inline:nth-child(even) {
        height: 50px;
        padding-top: 10px;
        background-color: #fff;
    }

    .form-inline:nth-child(odd) .form-group label {
        color: blue;
    }

    .form-inline:nth-child(even) .form-group label {
        color: #a00007;
    }

    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .alertMessage {
        display: none;
        height: 30px;
    }

        .alertMessage p {
            color: firebrick;
            font-weight: bolder;
            padding-top: 7px;
            text-align: right;
        }
</style>

<div id="success" class="alert-success alertMessage ">
    <p> تم الحفظ </p>

</div>
<div id="error" class="alert-danger alertMessage ">

    <p>  يوجد مشكلة فى الحفظ </p>

</div>

@using (Html.BeginForm("Edit", "RSchool", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <input type="hidden" name="reportID" id="reportID" value="@Model.reportID" />
            <div class="form-horizontal">
                <hr />
                <div class="form-inline">
                    <div class="form-group col-md-6">
                        <label>طريقة عرض التقرير</label>
                        <select id="viewM" name="viewM" class="form-control">
                            <option value="رأسى">رأسى</option>
                            <option value="أفقى">أفقى</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label>اسم التقرير</label>
                        @Html.EditorFor(model => model.Rname, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-inline">
                  

                    <div class="form-group col-md-4">
                        <label>الرقم الوزارى</label>
                        @Html.CheckBoxFor(model => model.TSchools_SchoolID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>المدرسة</label>
                        @Html.CheckBoxFor(model => model.TSchools_School, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3 ">
                        <label>الاسم القديم</label>
                        @Html.CheckBoxFor(model => model.TSchools_OldName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group col-md-4">
                        <label>المركز القديم</label>
                        @Html.CheckBoxFor(model => model.TSchools_OldCenter, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>الدائرة التعليمية</label>

                        @Html.CheckBoxFor(model => model.circleEd, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>المرحلة</label>

                        @Html.CheckBoxFor(model => model.TL_NameLevel, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="form-inline">


                    <div class="form-group col-md-4">
                        <label>يمكن الاكمال</label>
                        @Html.CheckBoxFor(model => model.fin_neme, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group col-md-4">
                        <label>الفاكس</label>

                        @Html.CheckBoxFor(model => model.TSchools_FAx, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>المكتب</label>

                        @Html.CheckBoxFor(model => model.tc_Center1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="form-inline">


                    <div class="form-group col-md-4">
                        <label>مستقلة</label>
                        @Html.CheckBoxFor(model => model.com_neme, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>البريد الالكترونى</label>
                        @Html.CheckBoxFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>المحافظة </label>
                        @Html.CheckBoxFor(model => model.ar_name6, new { htmlAttributes = new { @class = "form-control" } })
                    </div>



                </div>
                <div class="form-inline">


                    <div class="form-group col-md-4">
                        <label>المدينة</label>
                        @Html.CheckBoxFor(model => model.TSchools_City, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>مضمومة</label>
                        @Html.CheckBoxFor(model => model.Bak_neme, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group col-md-3">
                        <label>الخطة</label>

                        @Html.CheckBoxFor(model => model.st_SchoolsType, new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                </div>
                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>محدثة</label>

                        @Html.CheckBoxFor(model => model.cre_neme, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>الشارع</label>
                        @Html.CheckBoxFor(model => model.TSchools_street, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>نوع التعليم</label>
                        @Html.CheckBoxFor(model => model.tu_Tuition1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>المبنى</label>

                        @Html.CheckBoxFor(model => model.bild_Bulding, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>الحى</label>
                        @Html.CheckBoxFor(model => model.TSchools_Liver, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>خارج الرياض</label>
                        @Html.CheckBoxFor(model => model.out1_neme, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>حالة المبنى</label>

                        @Html.CheckBoxFor(model => model.Cad_CadE_door, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>بعدها عن الادارة</label>
                        @Html.CheckBoxFor(model => model.TSchools_Distance, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>سنة التأسيس</label>
                        @Html.CheckBoxFor(model => model.TSchools_FDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>نوع المدرسة</label>

                        @Html.CheckBoxFor(model => model.sty_SchTypeName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>مساحة الفصل</label>
                        @Html.CheckBoxFor(model => model.TSchools_dismiss, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>صحراء</label>
                        @Html.CheckBoxFor(model => model.desr_neme, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>مرغوبة</label>

                        @Html.CheckBoxFor(model => model.kind_neme, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>الهاتف</label>
                        @Html.CheckBoxFor(model => model.TSchools_Phone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">

                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>اقرب ابتدائية</label>

                        @Html.CheckBoxFor(model => model.TSchools_NearerSH1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>بعدها</label>
                        @Html.CheckBoxFor(model => model.TSchools_Space1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>الطريق</label>
                        @Html.CheckBoxFor(model => model.v1_Varway1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>اقرب متوسطة</label>

                        @Html.CheckBoxFor(model => model.TSchools_NearerSH2, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>بعدها</label>
                        @Html.CheckBoxFor(model => model.TSchools_Space2, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>الطريق</label>
                        @Html.CheckBoxFor(model => model.v2_Varway1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>اقرب ثانوى</label>

                        @Html.CheckBoxFor(model => model.TSchools_NearerSH3, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>بعدها</label>
                        @Html.CheckBoxFor(model => model.TSchools_Space3, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>الطريق</label>
                        @Html.CheckBoxFor(model => model.v3_Varway1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>الغرف الصالحة</label>

                        @Html.CheckBoxFor(model => model.TSchools_Rooms, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>علوم</label>
                        @Html.CheckBoxFor(model => model.TSchools_TsrPys, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>حاسب</label>
                        @Html.CheckBoxFor(model => model.TSchools_Tsertailor, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>مصادر</label>

                        @Html.CheckBoxFor(model => model.TSchools_Tester, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>انجليزى</label>
                        @Html.CheckBoxFor(model => model.TSchools_TsrEn, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">

                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>شريحة</label>

                        @Html.CheckBoxFor(model => model.TSchools_office, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>افضلية</label>
                        @Html.CheckBoxFor(model => model.TSchools_Periority, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">

                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>شريحة مركز</label>

                        @Html.CheckBoxFor(model => model.TSchools_Strip, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>افضلية</label>
                        @Html.CheckBoxFor(model => model.TSchools_StripPeriority, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row headEmp">


        <div class="col-md-3 ">

            <div>
                <input type="submit" value="حـفـظ " class="btn btn-success" />
                @Html.ActionLink("الـغـاء  ", "Index", null, new { @class = "btn btn-danger" })
            </div>

        </div>
    </div>
}
@section scripts{

    <script>
        $(document).ready(function () {
            $('#viewM').val('@Model.viewM.ToString()').prop('selected', true);
            showMessage();
            function showMessage() {
                var success = @((TempData["success"] != null).ToString().ToLower());
                var error = @((TempData["error"] != null).ToString().ToLower());
                if (success == true) {
                    $("#success").show(1000).fadeOut(10000);
                } else if (error == true) {
                    $("#error").fadeIn(1000).show(3000).fadeOut(3000);
                }

            }

        });
    </script>

}


