﻿@model qortuba.Models.TImployeesR
@{
    /**/

    ViewBag.Title = "تعديل ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/TImployees/Index">تقرير الموظفون</a></label>

</div>
<style type="text/css">
    .form-inline:nth-child(odd) {
        height: 50px;
        padding-top: 10px;
        background-color: #e6e2ac;
    }

    .form-inline:nth-child(even) {
        height: 50px;
        padding-top: 10px;
        background-color: #fff;
    }

    .form-inline:nth-child(odd) .form-group label {
        color: blue;
    }

    .form-inline:nth-child(even) .form-group label {
        color: #a00007;
    }

    .col-sm-5, .col-sm-7 {
        padding-right: 0px;
    }

    .form-control {
        padding: 2px 8px;
        font-weight: 600;
    }

    label {
        color: #39653a;
    }

    .alertMessage {
        display: none;
        height: 30px;
    }

        .alertMessage p {
            color: firebrick;
            font-weight: bolder;
            padding-top: 7px;
            text-align: right;
        }
</style>

<div id="success" class="alert-success alertMessage ">
    <p> تم الحفظ </p>

</div>
<div id="error" class="alert-danger alertMessage ">

    <p>  يوجد مشكلة فى الحفظ </p>

</div>

@using (Html.BeginForm("Create", "Remp", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">

            <div class="form-horizontal">
                <hr />
                <div class="form-inline">
                    <div class="form-group col-md-6">
                        <label>طريقة عرض التقرير</label>
                        <select id="viewM" name="viewM" class="form-control">
                            <option value="رأسى">رأسى</option>
                            <option value="أفقى">أفقى</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label>اسم التقرير</label>
                        @Html.EditorFor(model => model.Rname, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-inline">
                    

                    <div class="form-group col-md-4">
                        <label>الرقم الوطنى</label>
                        @Html.CheckBoxFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>الرقم الوطنى2</label>
                        @Html.CheckBoxFor(model => model.Identity2, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3 ">
                        <label>المدرسة</label>
                        @Html.CheckBoxFor(model => model.s_school, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group col-md-4">
                        <label>المدرسة السابقة</label>
                        @Html.CheckBoxFor(model => model.sp_school, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>تدريس</label>

                        @Html.CheckBoxFor(model => model.c_Subject, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>تخصص اصلى</label>

                        @Html.CheckBoxFor(model => model.so_Special, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="form-inline">


                    <div class="form-group col-md-4">
                        <label>الاسم</label>
                        @Html.CheckBoxFor(model => model.name1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group col-md-4">
                        <label>تخصص مثبت</label>

                        @Html.CheckBoxFor(model => model.e_Special, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>حالة الموظف</label>

                        @Html.CheckBoxFor(model => model.es_EndType, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="form-inline">


                    <div class="form-group col-md-4">
                        <label>النصاب</label>
                        @Html.CheckBoxFor(model => model.rt_ReducedName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>العمل</label>
                        @Html.CheckBoxFor(model => model.w_Work, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>م/الوزارة</label>
                        @Html.CheckBoxFor(model => model.WorkDated, new { htmlAttributes = new { @class = "form-control" } })
                    </div>



                </div>
                <div class="form-inline">


                    <div class="form-group col-md-4">
                        <label>أولاد</label>
                        @Html.CheckBoxFor(model => model.SunNo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>تاريخ الميلاد</label>
                        @Html.CheckBoxFor(model => model.BirthDated, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group col-md-3">
                        <label>محل الميلاد</label>

                        @Html.CheckBoxFor(model => model.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                </div>
                <div class="form-inline">

                    <div class="form-group col-md-4">
                        <label>الجنسية</label>

                        @Html.CheckBoxFor(model => model.n_Nationality, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label>هاتف</label>
                        @Html.CheckBoxFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>جوال</label>
                        @Html.CheckBoxFor(model => model.Mopaul, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="form-inline">
                    <div class="form-group col-md-4">
                        <label>حالة اجتماعية</label>

                        @Html.CheckBoxFor(model => model.mr_nem, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group col-md-4">
                        <label>بريد الكترونى</label>
                        @Html.CheckBoxFor(model => model.Amail, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row headEmp">


        <div class="col-md-3 ">

            <div>
                <input type="submit" value="حـفـظ " class="btn btn-success" />
                @Html.ActionLink("الـغـاء  ", "Index", null, new { @class = "btn btn-danger" })
            </div>

        </div>
    </div>
}
@section scripts{

    <script>
        $(document).ready(function () {
           
            showMessage();
            function showMessage() {
                var success = @((TempData["success"] != null).ToString().ToLower());
                var error = @((TempData["error"] != null).ToString().ToLower());
                if (success == true) {
                    $("#success").show(1000).fadeOut(10000);
                } else if (error == true) {
                    $("#error").fadeIn(1000).show(3000).fadeOut(3000);
                }

            }

        });
    </script>

}



