﻿@model qortuba.Models.adela

@{
    ViewBag.Title = "إضافة دليل مدارس";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="titleBody">
    <label class="lbl-nav"><a href="~/adela/Index">الادلة</a> >إضافة دليل مدارس</label>

</div>

<label class="text-danger">@ViewBag.error</label>
@using (Html.BeginForm("Createsch", "Adela", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel  panel-warning">
        <div class="panel-heading">إضافة دليل</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("","اسم الدليل", htmlAttributes: new { })
                <div>
                    @Html.EditorFor(model => model.adName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.adName, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                @Html.Label("","الملف", htmlAttributes: new { })
                <div>
                    <input id="AddFile" name="AddFile" type="file" class="form-control" required style="display:inline-block;" />
                    <img src="~/images/pdf.png" width="60" height="30" />
                    <img src="~/images/word.jpg" width="30" height="30" />
                    <img src="~/images/excel.jpg" width="40" height="30" />
                </div>

            </div>

            <div class="form-inline">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="إضافة" class="btn btn-success" />
                    @Html.ActionLink("عودة", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

}
@*Error Model*@

@section scripts{
    <script>
        $(function () {
            $('input[type=file]').change(function () {
                var val = $(this).val().toLowerCase(),
                    regex = new RegExp("(.*?)\.(pdf|doc|docx|xls|xlsx)$");

                if (!(regex.test(val))) {
                    $(this).val('');
                    alert('من فضلك يجب ان يكون امتداد الملف (pdf|doc|docx|xls|xlsx)');
                }
                if (this.files[0].size > 16777216) {
                    alert("يجب ان يكون حجم الملف اقل من 16 ميجا");
                }
            });
        });
    </script>
}


