﻿@model IEnumerable<qortuba.Models.adela>
@{
    ViewBag.Title = "الادلة والتعاميم";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<script src="~/newStyle/js/jquery.min.js"></script>
<script src="~/newStyle/js/bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/newStyle/js/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="~/newStyle/js/functions.js"></script>
<script src="~/newStyle/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/jszip.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/pdfmake.min.js"></script>
<script src="~/newStyle/js/plugins/datatables/vfs_fonts.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="~/newStyle/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            dom: '<"html5buttons" B>lTfgitp',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: [0, ':visible']
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                'colvis'
            ]
        });
    });
</script>
<style>
    .panel-heading {
        font-size: 16px;
    }

    .panel {
        box-shadow: 0px 0px 9px 1px dimgrey;
    }
</style>
<div class="titleBody">
    <label class="lbl-nav"><a href="">الادلة والتعاميم</a></label>

</div>
<div class="panel panel-primary">


    <div class="page-container">

        <div class="main-container">

            <div class="main-content">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title"> ادلة الموظفون</h3>
                                <ul class="panel-tool-options">
                                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>




                                                <th style="background-color:#c8f1c3"> كود الدليل</th>
                                                <th style="background-color:#c8f1c3"> اسم الدليل</th>

                                                <th style="background-color:#c8f1c3"> </th>
                                                <th style="background-color:#c8f1c3"> </th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model.Where(p => p.adServ == 1))
                                            {

                                                <tr class="gradeX">


                                                    <td>@item.id</td>
                                                    <td>@item.adName</td>


                                                    <td>@Html.ActionLink("عرض/تعديل ", "EditEmp", new { id = item.id }, new { @class = "btn btn-info" })</td>
                                                    <td>@Html.ActionLink(" حذف", "DeleteEmp", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




</div>


<div class="panel panel-warning">
    <div class="panel-heading">ادلة المدارس</div>
    <div class="panel-body">
        <div class="form-group">
            <p>

                @Html.ActionLink("دليل مدارس جديد", "Create", new { id = "2" }, new { @class = "btn btn-primary" })


            </p>
        </div>


        <div class="page-container">

            <div class="main-container">

                <div class="main-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title">قادة المدارس</h3>
                                    <ul class="panel-tool-options">
                                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>





                                                    <th style="background-color:#c8f1c3"> كود الدليل</th>
                                                    <th style="background-color:#c8f1c3"> اسم الدليل</th>

                                                    <th style="background-color:#c8f1c3"> </th>
                                                    <th style="background-color:#c8f1c3"> </th>

                                                </tr>
                                            </thead>

                                            <tbody>

                                                @foreach (var item in Model.Where(p => p.adServ == 2))
                                                {

                                                    <tr class="gradeX">


                                                        <td>@item.id</td>
                                                        <td>@item.adName</td>


                                                        <td>@Html.ActionLink("عرض/تعديل ", "EditEmp", new { id = item.id }, new { @class = "btn btn-info" })</td>
                                                        <td>@Html.ActionLink(" حذف", "DeleteEmp", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">ادلة الجداول</div>
    <div class="panel-body">
        <div class="form-group">
            <p>

                @Html.ActionLink("دليل جداول جديد", "Create", new { id = "3" }, new { @class = "btn btn-primary" })


            </p>
        </div>

        <div class="page-container">

            <div class="main-container">

                <div class="main-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title"> ادلة الموظفون</h3>
                                    <ul class="panel-tool-options">
                                        <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                        <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                        <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>




                                                    <th style="background-color:#c8f1c3"> كود الدليل</th>
                                                    <th style="background-color:#c8f1c3"> اسم الدليل</th>

                                                    <th style="background-color:#c8f1c3"> </th>
                                                    <th style="background-color:#c8f1c3"> </th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var item in Model.Where(p => p.adServ == 3))
                                                {

                                                    <tr class="gradeX">


                                                        <td>@item.id</td>
                                                        <td>@item.adName</td>


                                                        <td>@Html.ActionLink("عرض/تعديل ", "EditEmp", new { id = item.id }, new { @class = "btn btn-info" })</td>
                                                        <td>@Html.ActionLink(" حذف", "DeleteEmp", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


    <div class="panel panel-info">
        <div class="panel-heading">ادلة الندب</div>
        <div class="panel-body">
            <div class="form-group">
                <p>

                    @Html.ActionLink("دليل ندب جديد", "Create", new { id = "4" }, new { @class = "btn btn-primary" })


                </p>
            </div>

            <div class="page-container">

                <div class="main-container">

                    <div class="main-content">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title"> ادلة الموظفون</h3>
                                        <ul class="panel-tool-options">
                                            <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                            <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                            <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>




                                                        <th style="background-color:#c8f1c3"> كود الدليل</th>
                                                        <th style="background-color:#c8f1c3"> اسم الدليل</th>

                                                        <th style="background-color:#c8f1c3"> </th>
                                                        <th style="background-color:#c8f1c3"> </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.Where(p => p.adServ == 4))
                                                    {

                                                        <tr class="gradeX">


                                                            <td>@item.id</td>
                                                            <td>@item.adName</td>


                                                            <td>@Html.ActionLink("عرض/تعديل ", "EditEmp", new { id = item.id }, new { @class = "btn btn-info" })</td>
                                                            <td>@Html.ActionLink(" حذف", "DeleteEmp", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">ادلة الانصبة</div>
        <div class="panel-body">
            <div class="form-group">
                <p>

                    @Html.ActionLink("دليل انصبة جديد", "Create", new { id = "5" }, new { @class = "btn btn-primary" })


                </p>
            </div>

            <div class="page-container">

                <div class="main-container">

                    <div class="main-content">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title"> ادلة الموظفون</h3>
                                        <ul class="panel-tool-options">
                                            <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                            <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                            <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>




                                                        <th style="background-color:#c8f1c3"> كود الدليل</th>
                                                        <th style="background-color:#c8f1c3"> اسم الدليل</th>

                                                        <th style="background-color:#c8f1c3"> </th>
                                                        <th style="background-color:#c8f1c3"> </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.Where(p => p.adServ == 5))
                                                    {

                                                        <tr class="gradeX">


                                                            <td>@item.id</td>
                                                            <td>@item.adName</td>


                                                            <td>@Html.ActionLink("عرض/تعديل ", "EditEmp", new { id = item.id }, new { @class = "btn btn-info" })</td>
                                                            <td>@Html.ActionLink(" حذف", "DeleteEmp", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

       
        </div>
    </div>


    <div class="panel panel-success">
        <div class="panel-heading">ادلة القبول</div>
        <div class="panel-body">
            <div class="form-group">
                <p>

                    @Html.ActionLink("دليل قبول جديد", "Create", new { id = "6" }, new { @class = "btn btn-primary" })


                </p>
            </div>

            <div class="page-container">

                <div class="main-container">

                    <div class="main-content">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title"> ادلة الموظفون</h3>
                                        <ul class="panel-tool-options">
                                            <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                            <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                                            <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>




                                                        <th style="background-color:#c8f1c3"> كود الدليل</th>
                                                        <th style="background-color:#c8f1c3"> اسم الدليل</th>

                                                        <th style="background-color:#c8f1c3"> </th>
                                                        <th style="background-color:#c8f1c3"> </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.Where(p => p.adServ == 6))
                                                    {

                                                        <tr class="gradeX">


                                                            <td>@item.id</td>
                                                            <td>@item.adName</td>


                                                            <td>@Html.ActionLink("عرض/تعديل ", "EditEmp", new { id = item.id }, new { @class = "btn btn-info" })</td>
                                                            <td>@Html.ActionLink(" حذف", "DeleteEmp", new { id = item.id }, new { @class = "btn btn-danger" })</td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
